Repository pjsip/pjproject, pull requests merged in 2020-11, with the labels that each got.

#2564 Invoke on_call_sdp_created callback for new SDP offer generated by pjsua_call_set_vid_strm()
  pjsip/src/pjsua-lib/pjsua_vid.c
Labels: component: pjsua-lib, type: bug

#2569 Fixed memory corruption on unsupported ALSA channel count
  pjmedia/src/pjmedia-audiodev/alsa_dev.c
Labels: component: pjmedia-audiodev, type: bug

#2571 Added function pjmedia_tonegen_stop_loop()
  pjmedia/include/pjmedia/tonegen.h
  pjmedia/src/pjmedia/tonegen.c
Labels: component: pjmedia, type: enhancement

#2573 Add getting shared curves for OpenSSL 1.1.1
  pjlib/src/pj/ssl_sock_ossl.c
Labels: component: pjlib, type: enhancement

#2575 Prevent regc destroy when it is busy
  pjsip/src/pjsua-lib/pjsua_acc.c
Labels: component: pjsua-lib, type: bug

#2570 Added underlying buffer configurability for splitcomb
  pjmedia/include/pjmedia/splitcomb.h
  pjmedia/src/pjmedia/splitcomb.c
Labels: component: pjmedia, type: enhancement

#2565 Fix click noise in libsamplerate
  pjmedia/src/pjmedia/resample_libsamplerate.c
Labels: component: pjmedia, type: bug

#2579 Update a .gitignore for vscode
  .gitignore
Labels: component: common

#2490 PJSUA call: fix on_pager_statusX() callbacks for in-dialog requests
  pjsip/src/pjsua-lib/pjsua_call.c
Labels: component: pjsua-lib, type: bug

#2583 Reordered write_port() in conferencer to avoid writing to a disabled port
  pjmedia/src/pjmedia/conference.c
Labels: component: pjmedia, type: bug

#2584 Fix bug in video stream when incoming RTP packet timestamp rolls over
  pjmedia/src/pjmedia/vid_stream.c
Labels: component: pjmedia, type: bug

#2470 Race condition between transport destroy and acquire
  pjsip/src/pjsip/sip_transaction.c
  pjsip/src/pjsip/sip_transport.c
Labels: component: pjsip, type: bug

#2472 Fix bugs in pjsip_inv_answer()
  pjsip/src/pjsip-ua/sip_inv.c
Labels: component: pjsip, type: bug

#2572 Create new contact for reregistration after transport disconnected
  pjsip/src/pjsua-lib/pjsua_acc.c
Labels: component: pjsua-lib, type: bug

#2501 libpjproject.pc: Move external libraries to Libs.private.
  Makefile
  build.mak.in
  libpjproject.pc.in
Labels: component: common

#2585 Conf functions to disconnect all sinks/sources
  pjmedia/include/pjmedia/conference.h
  pjmedia/src/pjmedia/conference.c
Labels: component: pjmedia, type: enhancement
