Repository pjsip/pjproject, pull requests merged in 2020-02, with the labels that each got.

#2285 Added initial .gitignore
  .gitignore
Labels: component: common

#2288 Add more VS 2015 stuff to .gitignore and fix some projects settings.
  .gitignore
  pjsip-apps/build/samples.vcxproj
  pjsip-apps/build/swig_java_pjsua2.vcxproj
Labels: component: common, type: task

#2290 Disable SDP media with no codec
  pjsip/src/pjsua-lib/pjsua_media.c
Labels: component: pjsua-lib, type: bug

#2296 use stream name instead of encoder channel name as log when send rtcp fail
  pjmedia/src/pjmedia/vid_stream.c
Labels: component: pjmedia, type: bug

#2295 Disable SDP media with no codec (continuation of #2290)
  pjsip/src/pjsua-lib/pjsua_call.c
Labels: component: pjsua-lib, type: bug

#2303 Add more log in pjsua_vid and vid_conf
  pjmedia/src/pjmedia/vid_conf.c
  pjsip/src/pjsua-lib/pjsua_vid.c
Labels: component: pjmedia, component: pjsua-lib

#2301 Limit log printing if video conference is connected to a sink port that's not running
  pjmedia/src/pjmedia/vid_conf.c
Labels: component: pjmedia

#2297 Add TLS proto for TLS 1.3
  pjlib/include/pj/ssl_sock.h
  pjlib/src/pj/ssl_sock_ossl.c
  pjlib/src/pjlib-test/ssl_sock.c
  pjsip/include/pjsip/sip_transport_tls.h
  pjsip/src/pjsip/sip_transport_tls.c
Labels: component: pjlib, type: enhancement

#2289 Add option to disable certain pjsua tests
  .github/workflows/ccpp.yml
  .gitignore
  Makefile
  tests/pjsua/runall.py
Labels: component: devops, component: unit-tests, type: enhancement

#2307 Add wildcard to represent "All" codec when changing codec priority on pjsua CLI mode.
  pjsip-apps/src/pjsua/pjsua_app_cli.c
Labels: type: enhancement

#2304 Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Labels: component: devops

#2312 Use port range when creating loop media transport
  pjsip/src/pjsua-lib/pjsua_media.c
Labels: component: pjsua-lib, type: bug

#2310 v4l2: add support for YUV420
  pjmedia/src/pjmedia-videodev/v4l2_dev.c
Labels: component: pjmedia, type: enhancement
