Repository pjsip/pjproject, pull requests merged in 2020-09, with the labels that each got.

#2515 Add event manager to the JB simulator
  pjsip-apps/src/samples/jbsim.c
Labels: component: applications

#2510 Initialize vid conf's buffer with black color
  pjmedia/src/pjmedia/vid_conf.c
Labels: component: pjmedia

#2523 Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: component: unit-tests, type: enhancement

#2530 Suppress CodeQL warnings
  .github/workflows/codeql-analysis.yml
  pjlib/src/pj/array.c
  pjmedia/src/pjmedia-codec/ilbc.c
  pjmedia/src/pjmedia-codec/speex_codec.c
  pjmedia/src/pjmedia/clock_thread.c
  pjmedia/src/pjmedia/endpoint.c
  pjmedia/src/pjmedia/jbuf.c
  pjmedia/src/pjmedia/stream.c
  pjmedia/src/pjmedia/wsola.c
  pjmedia/src/test/codec_vectors.c
  pjsip-apps/src/samples/jbsim.c
  pjsip/include/pjsua2/media.hpp
  pjsip/src/pjsip-ua/sip_100rel.c
  pjsip/src/test/transport_udp_test.c
Labels: component: unit-tests, type: task

#2531 SRTP unprotect fails after several media updates/SDP negotiations
  pjmedia/src/pjmedia/transport_srtp.c
Labels: component: pjmedia, type: bug

#2526 Update default setting for CFHost for getaddrinfo to disabled
  pjlib/include/pj/compat/os_auto.h.in
Labels: component: pjlib, type: enhancement

#2525 ICE initialization never completes due to race condition
  pjnath/src/pjnath/ice_strans.c
Labels: component: pjnath, type: bug

#2482 Apple SSL backend using Network framework
  aconfigure
  aconfigure.ac
  pjlib/include/pj/config.h
  pjlib/src/pj/ioqueue_select.c
  pjlib/src/pj/ssl_sock_apple.m
  pjlib/src/pj/ssl_sock_darwin.c
  pjlib/src/pj/ssl_sock_imp_common.c
  pjlib/src/pj/ssl_sock_imp_common.h
  pjlib/src/pjlib-test/ssl_sock.c
Labels: component: pjlib

#2528 Invite state not shifting to CONFIRMED state after sending ACK manually
  pjsip/include/pjsip-ua/sip_inv.h
  pjsip/src/pjsip-ua/sip_inv.c
Labels: component: pjsip, type: bug
