Repository pjsip/pjproject, pull requests merged in 2020-08, with the labels that each got.

#2403 libpjproject.pc: correct the field 'cflags'
  Makefile
  aconfigure
  aconfigure.ac
  build.mak.in
  libpjproject.pc.in
Labels: component: common

#2506 Pass JB discard algorithm along other JB settings
  pjmedia/include/pjmedia/stream.h
  pjmedia/src/pjmedia/stream.c
  pjmedia/src/pjmedia/stream_info.c
  pjmedia/src/test/mips_test.c
  pjsip-apps/src/samples/jbsim.c
  pjsip/include/pjsua-lib/pjsua.h
  pjsip/include/pjsua2/endpoint.hpp
  pjsip/src/pjsua-lib/pjsua_aud.c
  pjsip/src/pjsua-lib/pjsua_core.c
  pjsip/src/pjsua2/endpoint.cpp
Labels: component: pjmedia, component: pjsua-lib, component: pjsua2

#2489 Avoid invoking callback on_pager_status twice when resending with auth fails
  pjsip/src/pjsua-lib/pjsua_im.c
Labels: component: pjsua-lib, type: bug

#2503 Media loss after 5 minutes when using ICE+TURN
  pjnath/include/pjnath/config.h
  pjnath/include/pjnath/ice_session.h
  pjnath/src/pjnath/ice_session.c
  pjnath/src/pjnath/ice_strans.c
Labels: component: pjnath, type: bug
