Repository pjsip/pjproject, pull requests merged in 2020-10, with the labels that each got.

#2507 Implement audio stream configuration callback
  pjsip/include/pjsua-lib/pjsua.h
  pjsip/include/pjsua2/call.hpp
  pjsip/include/pjsua2/endpoint.hpp
  pjsip/src/pjsua-lib/pjsua_aud.c
  pjsip/src/pjsua-lib/pjsua_vid.c
  pjsip/src/pjsua2/call.cpp
  pjsip/src/pjsua2/endpoint.cpp
Labels: component: pjsua-lib, component: pjsua2

#2545 Fixed wrong macros PJ_DEF. PJ_DECL is correct.
  pjsip/include/pjsua-lib/pjsua.h
Labels: component: pjsua-lib, type: bug

#2546 Fix incorrect copying of destination info when creating CANCEL
  pjsip/src/pjsip/sip_util.c
Labels: component: pjsip, type: bug

#2538 Add option to disable ice mismatch check.
  pjmedia/include/pjmedia/transport_ice.h
  pjmedia/src/pjmedia/transport_ice.c
  pjsip/include/pjsua-lib/pjsua.h
  pjsip/src/pjsua-lib/pjsua_media.c
Labels: component: pjmedia, component: pjsua-lib

#2539 Server Name Indication on TLS doesn't allow IP literal.
  pjlib/include/pj/ssl_sock.h
  pjlib/src/pj/ssl_sock_darwin.c
  pjlib/src/pj/ssl_sock_gtls.c
  pjlib/src/pj/ssl_sock_imp_common.c
  pjlib/src/pj/ssl_sock_ossl.c
Labels: component: pjlib, component: pjsip

#2518 Option to send keep alive periodically when stream is started for NAT hole punching
  pjmedia/include/pjmedia/config.h
  pjmedia/include/pjmedia/stream.h
  pjmedia/include/pjmedia/stream_common.h
  pjmedia/include/pjmedia/vid_stream.h
  pjmedia/src/pjmedia/stream.c
  pjmedia/src/pjmedia/stream_common.c
  pjmedia/src/pjmedia/vid_stream.c
  pjsip/include/pjsua-lib/pjsua.h
  pjsip/src/pjsua-lib/pjsua_aud.c
  pjsip/src/pjsua-lib/pjsua_core.c
  pjsip/src/pjsua-lib/pjsua_vid.c
Labels: component: pjmedia, component: pjsua-lib

#2549 ALSA dev incorrectly sets the number of samples per frame
  pjmedia/src/pjmedia-audiodev/alsa_dev.c
Labels: component: pjmedia-audiodev, type: bug

#2556 Remove multiplication by channel count in calculating ALSA buffer size
  pjmedia/src/pjmedia-audiodev/alsa_dev.c
Labels: component: pjmedia-audiodev

#2557 Disallow forceful close of pjsua transport
  pjsip/include/pjsua-lib/pjsua.h
  pjsip/src/pjsua-lib/pjsua_core.c
Labels: component: pjsua-lib
