Repository pjsip/pjproject, pull requests merged in 2020-04, with the labels that each got.

#2370 Update pj_ioqueue_poll TRACE macro
  pjlib/src/pj/ioqueue_epoll.c
Labels: component: pjlib, type: bug

#2379 don't use private account pool for allocating the address;
  pjsip/src/pjsua-lib/pjsua_acc.c
Labels: component: pjsua-lib

#2375 Fixed assertion for offer with multiple telephone events
  pjmedia/src/pjmedia/sdp_neg.c
Labels: component: pjmedia, type: bug

#2368 VideoPreview not updating its device ID after device fast-switched
  pjsip/include/pjsua2/media.hpp
  pjsip/src/pjsua2/media.cpp
Labels: component: pjsua2, type: bug

#2340 Increment outgoing RTP timestamp on inactive or receive only audio stream
  pjmedia/src/pjmedia/rtp.c
  pjmedia/src/pjmedia/stream.c
  pjsip/src/pjsua-lib/pjsua_aud.c
Labels: component: pjmedia, component: pjsua-lib, type: enhancement

#2381 Status phrases
  pjsip-apps/src/swig/symbols.i
  pjsip/include/pjsip/sip_msg.h
  pjsip/src/pjsip/sip_msg.c
Labels: component: pjsip, type: enhancement

#2336 Add thread locking callback when using OpenSSL.
  pjlib/include/pj/config.h
  pjlib/src/pj/ssl_sock_ossl.c
Labels: component: pjlib, type: enhancement

#2407 Disable vpx in the configure if video is disabled
  aconfigure
  aconfigure.ac
Labels: component: common

#2394 the simpleua app segfaults because the memory pool for the pjmedia ev…
  pjsip-apps/src/samples/simpleua.c
Labels: component: applications, type: bug

#2409 More consistent configure script library detection message
  aconfigure
  aconfigure.ac
Labels: component: common

#2410 Suppressed various compilation warnings
  pjlib/include/pj/string.h
  pjmedia/src/pjmedia/transport_loop.c
  pjmedia/src/test/vid_codec_test.c
  pjsip-apps/src/pjsua/pjsua_app.c
  pjsip-apps/src/pjsua/pjsua_app_cli.c
  pjsip-apps/src/pjsua/pjsua_app_config.c
  pjsip-apps/src/pjsua/pjsua_app_legacy.c
  pjsip-apps/src/pjsystest/systest.c
  pjsip-apps/src/samples/aviplay.c
  pjsip-apps/src/samples/pjsua2_demo.cpp
  pjsip-apps/src/samples/simpleua.c
  pjsip-apps/src/samples/vid_codec_test.c
  pjsip-apps/src/samples/vid_streamutil.c
  pjsip/src/pjsip/sip_transport_tcp.c
  pjsip/src/pjsip/sip_transport_tls.c
  pjsip/src/pjsip/sip_transport_udp.c
  pjsip/src/pjsua2/endpoint.cpp
Labels: component: common

#2376 More CI works
  .github/workflows/ccpp.yml
  pjlib-util/src/pjlib-util-test/main.c
  pjlib-util/src/pjlib-util-test/resolver_test.c
  pjlib/src/pjlib-test/main.c
  pjmedia/src/test/main.c
  pjnath/src/pjnath-test/main.c
  pjsip-apps/src/pjsua/main.c
  pjsip/src/test/main.c
  pjsip/src/test/tsx_uac_test.c
  pjsip/src/test/tsx_uas_test.c
  tests/pjsua/mod_call.py
  tests/pjsua/mod_sipp.py
  tests/pjsua/run.py
Labels: component: unit-tests, type: bug

#2412 Fixed failed pjmedia test for multiple tel-event
  pjmedia/src/pjmedia/sdp_neg.c
Labels: component: pjmedia, type: bug

#2411 Dispatch semaphores on Darwin (#2351)
  pjlib/include/pj/config.h
  pjlib/src/pj/os_core_unix.c
Labels: component: pjlib, type: enhancement
