Repository pjsip/pjproject, pull requests merged in 2020-05, with the labels that each got.

#2388 pjmedia: Populate missing info fields from pjmedia_conf_get_port_info
  pjmedia/include/pjmedia/format.h
  pjmedia/src/pjmedia/conference.c
  pjsip-apps/src/swig/symbols.i
Labels: component: pjmedia, type: enhancement

#2419 Fixed assertion when receving an INVITE response during an UPDATE
  pjsip/src/pjsip-ua/sip_inv.c
Labels: component: pjsip, type: bug

#2423 Avoid undefinition of standard macros s_addr and s6_addr
  pjlib-util/src/pjlib-util-test/resolver_test.c
  pjlib/include/pj/compat/socket.h
  pjlib/include/pj/sock.h
  pjlib/src/pj/sock_bsd.c
  pjlib/src/pj/sock_common.c
  pjlib/src/pj/sock_symbian.cpp
  pjlib/src/pj/sock_uwp.cpp
  pjlib/src/pjlib-test/sock.c
  pjmedia/src/pjmedia/transport_loop.c
  pjnath/src/pjnath/ice_strans.c
  pjsip/src/pjsua2/call.cpp
  pjsip/src/test/transport_test.c
Labels: component: pjlib, note:api-break

#2421 Potential deadlock when app invokes PJSUA API from format changed event callback
  pjmedia/src/pjmedia/vid_stream.c
Labels: component: pjmedia, component: pjsua-lib, type: bug

#2422 Fix short noise at the beginning of call when audio device started later.
  pjmedia/include/pjmedia/config.h
  pjmedia/src/pjmedia/stream.c
Labels: component: pjmedia, type: enhancement

#2426 Fix race condition in parallel builds
  build/rules.mak
  pjsip/build/Makefile
Labels: component: common, type: bug

#2431 Fix click noise in memplayer
  pjmedia/src/pjmedia/mem_player.c
Labels: component: pjmedia, type: bug

#2415 Update sample app for video calls for Qt5
  pjsip-apps/src/vidgui/INSTALL.TXT
  pjsip-apps/src/vidgui/vidgui.cpp
  pjsip-apps/src/vidgui/vidgui.pro
  pjsip-apps/src/vidgui/vidwin.cpp
Labels: component: applications

#2433 ice_stran: add on_valid_pair() to callbacks
  pjnath/include/pjnath/ice_strans.h
  pjnath/src/pjnath/ice_strans.c
Labels: component: pjnath, type: enhancement

#2439 Fix bug: level is not removed form src_port->listener_adj_level in pjmedia_conf_disconnect_port
  pjmedia/src/pjmedia/conference.c
Labels: component: pjmedia, type: bug

#2446 Call on_call_media_event() callback asynchronously to avoid deadlock
  pjsip/include/pjsua-lib/pjsua_internal.h
  pjsip/src/pjsua-lib/pjsua_core.c
  pjsip/src/pjsua-lib/pjsua_media.c
Labels: component: pjsua-lib, type: bug
