Repository pjsip/pjproject, pull requests merged in 2020-07, with the labels that each got.

#2478 Fixed failed reinvite if call setting is NULL
  pjsip/src/pjsua-lib/pjsua_call.c
Labels: component: pjsua-lib, type: bug

#2463 Modify timer_id check on cancel()
  pjlib/include/pj/timer.h
  pjlib/src/pj/timer.c
Labels: component: pjlib

#2395 PJ adjustable pool sizes
  pjmedia/include/pjmedia-codec/config.h
  pjmedia/include/pjmedia/config.h
  pjmedia/src/pjmedia-codec/g722.c
  pjmedia/src/pjmedia/endpoint.c
  pjmedia/src/pjmedia/event.c
  pjsip/include/pjsip/sip_config.h
  pjsip/include/pjsua-lib/pjsua.h
  pjsip/src/pjsip-simple/evsub.c
  pjsip/src/pjsua-lib/pjsua_acc.c
  pjsip/src/pjsua-lib/pjsua_core.c
Labels: component: pjmedia, component: pjsip, component: pjsua-lib, type: enhancement

#2471 Fix sip transaction to send pending message
  pjsip/src/pjsip/sip_transaction.c
  pjsip/src/pjsip/sip_transport.c
Labels: component: pjsip

#2476 Clone sdp in sip timer to prevent modification
  pjmedia/src/pjmedia/sdp_neg.c
Labels: component: pjsip, type: bug

#2492 No keyframe missing event from OpenH264 decoder after many decoding error
  pjmedia/src/pjmedia-codec/openh264.cpp
Labels: component: pjmedia, type: enhancement
