Repository pjsip/pjproject, pull requests merged in 2020-12, with the labels that each got.

#2600 Report disconnection event immediately when hanging up a call
  pjsip-apps/src/pjsua/pjsua_app.c
  pjsip/include/pjsua-lib/pjsua.h
  pjsip/include/pjsua-lib/pjsua_internal.h
  pjsip/src/pjsua-lib/pjsua_aud.c
  pjsip/src/pjsua-lib/pjsua_call.c
  pjsip/src/pjsua-lib/pjsua_dump.c
  pjsip/src/pjsua-lib/pjsua_media.c
  pjsip/src/pjsua-lib/pjsua_vid.c
Labels: component: pjsua-lib, type: enhancement

#2560 Don't infinite loop when searching CLI history list
  pjlib-util/src/pjlib-util/cli_telnet.c
Labels: component: pjlib-util, type: bug

#2566 Add musl target detection in config.sub
  config.sub
Labels: component: common, type: enhancement

#2598 Supporting mingw-w64
  Makefile
  aconfigure
  aconfigure.ac
  pjlib/include/pj/compat/os_auto.h.in
  pjnath/src/pjnath-test/stun_sock_test.c
Labels: component: common, type: task

#2589 Fix building with video support (including dshow camera) on mingw
  aconfigure
  aconfigure.ac
  build.mak.in
  build/rules.mak
  pjmedia/build/os-auto.mak.in
  pjmedia/src/pjmedia-videodev/dshow_dev.c
  pjsip-apps/build/Samples.mak
  pjsip-apps/src/samples/pjsua2_demo.cpp
  pjsip/build/Makefile
  pjsip/src/pjsua2-test/main.cpp
  third_party/BaseClasses/amvideo2.h
  third_party/BaseClasses/arithutil.cpp
  third_party/BaseClasses/sal2.h
  third_party/BaseClasses/streams.h
  third_party/BaseClasses/wxutil.cpp
  third_party/BaseClasses/wxutil.h
  third_party/build/baseclasses/Makefile
  third_party/build/os-auto.mak.in
Labels: component: pjmedia, type: enhancement

#2588 Implement trickle ICE
  pjlib-util/src/pjlib-util-test/main.c
  pjlib/src/pjlib-test/main.c
  pjmedia/include/pjmedia/transport_ice.h
  pjmedia/src/pjmedia/stream.c
  pjmedia/src/pjmedia/transport_ice.c
  pjmedia/src/test/main.c
  pjnath/include/pjnath/config.h
  pjnath/include/pjnath/ice_session.h
  pjnath/include/pjnath/ice_strans.h
  pjnath/include/pjnath/stun_sock.h
  pjnath/src/pjnath-test/ice_test.c
  pjnath/src/pjnath-test/main.c
  pjnath/src/pjnath-test/server.c
  pjnath/src/pjnath-test/test.c
  pjnath/src/pjnath-test/test.h
  pjnath/src/pjnath/ice_session.c
  pjnath/src/pjnath/ice_strans.c
  pjnath/src/pjnath/turn_session.c
  pjsip-apps/src/pjsua/main.c
  pjsip-apps/src/pjsua/pjsua_app_config.c
  pjsip-apps/src/swig/importsym.py
  pjsip-apps/src/swig/symbols.i
  pjsip-apps/src/swig/symbols.lst
  pjsip/include/pjsip-ua/sip_inv.h
  pjsip/include/pjsua-lib/pjsua.h
  pjsip/include/pjsua-lib/pjsua_internal.h
  pjsip/include/pjsua2/account.hpp
  pjsip/src/pjsip-ua/sip_inv.c
  pjsip/src/pjsua-lib/pjsua_call.c
  pjsip/src/pjsua-lib/pjsua_media.c
  pjsip/src/pjsua2/account.cpp
  pjsip/src/test/main.c
  tests/pjsua/mod_call.py
  tests/pjsua/run.py
  tests/pjsua/scripts-call/330_ice_no_ice_vs_trickle_full.py
  tests/pjsua/scripts-call/330_ice_reg_vs_trickle_full.py
  tests/pjsua/scripts-call/330_ice_trickle_full.py
  tests/pjsua/scripts-call/330_ice_trickle_full_vs_no_ice.py
  tests/pjsua/scripts-call/330_ice_trickle_full_vs_reg.py
  tests/pjsua/scripts-call/330_ice_trickle_half.py
  tests/pjsua/scripts-call/330_ice_trickle_half_vs_reg.py
Labels: component: pjnath, type: enhancement

#2591 Support new Mac M1 ARM64 architecture
  aconfigure
  aconfigure.ac
Labels: component: common, type: task

#2604 Use EPOLLEXCLUSIVE or EPOLLONESHOT in ioqueue epoll
  pjlib/src/pj/ioqueue_epoll.c
  pjlib/src/pj/ssl_sock_imp_common.c
Labels: component: pjlib, type: enhancement

#2606 TLS failed to load password-protected private key from buffer
  pjlib/build/cacert.der
  pjlib/build/cacert.pem
  pjlib/build/privkey.p12
  pjlib/build/privkey.pem
  pjlib/src/pj/ssl_sock_ossl.c
  pjlib/src/pjlib-test/ssl_sock.c
  pjnath/src/pjnath-test/server.c
Labels: component: pjlib, type: bug

#2607 Fix crash in starting CLI telnet when port is in already use
  pjlib-util/src/pjlib-util/cli_telnet.c
  pjsip-apps/src/samples/clidemo.c
Labels: component: pjlib-util, type: bug

#2344 Github action/CI for windows.
  .github/workflows/ccpp.yml
  pjsip-apps/build/swig_java_pjsua2.vcxproj
  pjsip-apps/src/pjsua/winrt/cli/uwp/pjsua_cli_uwp.csproj
  pjsip-apps/src/pjsua/winrt/cli/wp8/pjsua_cli_wp8.csproj
  pjsip-apps/src/pjsua/winrt/gui/uwp/Voip/Voip.csproj
  pjsip-apps/src/pjsua/winrt/gui/uwp/VoipTasks/VoipTasks.csproj
  tests/pjsua/tools/cmp_wav.vcxproj
Labels: component: devops

#2534 Modify on_new_session callback as optional.
  pjsip/include/pjsip-ua/sip_inv.h
  pjsip/src/pjsip-ua/sip_inv.c
Labels: component: pjsip

#2596 Add support for SECLEVEL=n
  pjlib/src/pj/ssl_sock_ossl.c
Labels: component: pjlib, type: enhancement
