Repository pjsip/pjproject, pull requests merged in 2020-03, with the labels that each got.

#2309 Update python pjsua-test to use telnet CLI
  tests/pjsua/inc_cfg.py
  tests/pjsua/mod_call.py
  tests/pjsua/mod_media_playrec.py
  tests/pjsua/mod_pesq.py
  tests/pjsua/mod_pres.py
  tests/pjsua/mod_recvfrom.py
  tests/pjsua/mod_sipp.py
  tests/pjsua/run.py
  tests/pjsua/runall.py
  tests/pjsua/scripts-sipp/strict-route.py
  tests/pjsua/scripts-sipp/transfer-attended.py
  tests/pjsua/scripts-sipp/transfer-unattended.py
  tests/pjsua/scripts-sipp/uac-inv-without-sdp.py
  tests/pjsua/scripts-sipp/uas-cancel-no-final.py
  tests/pjsua/scripts-sipp/uas-subscribe-late-notify.py
  tests/pjsua/scripts-sipp/uas-subscribe-multipart-notify.py
  tests/pjsua/scripts-sipp/uas-subscribe-notify-terminate.py
  tests/pjsua/scripts-sipp/uas-subscribe-refresh-481.py
  tests/pjsua/scripts-sipp/uas-subscribe-terminated-retry.py
Labels: component: unit-tests, type: enhancement

#2320 More pjsua-test work: retry telnet on fail and runall.py emits exit/error code
  tests/pjsua/run.py
  tests/pjsua/runall.py
Labels: component: unit-tests, type: enhancement

#2322 More pjsua-test work: print full log to help investigating any failed test, and other minor updates.
  .github/workflows/ccpp.yml
  tests/pjsua/logs/.gitignore
  tests/pjsua/mod_pres.py
  tests/pjsua/run.py
  tests/pjsua/runall.py
Labels: component: unit-tests, type: enhancement

#2332 Fix account ID verification in pjsua_call_make_call()
  pjsip/src/pjsua-lib/pjsua_call.c
Labels: component: pjsua-lib, type: bug

#2329 Add more CI tests on Ubuntu and Mac
  .github/workflows/ccpp.yml
  pjlib-util/include/pjlib-util/config.h
  pjlib/include/pj/config_site_test.h
  pjmedia/src/test/test.h
Labels: component: devops, component: unit-tests

#2341 Video capture device ID reverted back to default in SIP session refresh
  pjsip/src/pjsua-lib/pjsua_vid.c
Labels: component: pjsua-lib, type: bug

#2306 Fix parallel build failure
  pjsip-apps/src/swig/Makefile
  pjsip/build/Makefile
Labels: component: pjsip, type: bug

#2321 Add option to exclude benchmark tests in unit tests
  pjlib-util/src/pjlib-util-test/test.c
  pjlib-util/src/pjlib-util-test/test.h
  pjlib/src/pjlib-test/ssl_sock.c
  pjlib/src/pjlib-test/test.c
  pjlib/src/pjlib-test/test.h
  pjlib/src/pjlib-test/timer.c
  pjmedia/src/test/test.c
  pjmedia/src/test/test.h
  pjnath/src/pjnath-test/test.c
  pjnath/src/pjnath-test/test.h
  pjsip/src/test/dns_test.c
  pjsip/src/test/test.c
  pjsip/src/test/test.h
  pjsip/src/test/tsx_basic_test.c
Labels: component: unit-tests, type: enhancement

#2330 Attempt to fix intermittent errors in pjsua-test
  tests/pjsua/scripts-sipp/uac-reinvite-bad-via-branch.xml
  tests/pjsua/scripts-sipp/uas-forked-200.xml
Labels: component: unit-tests, type: enhancement

#2350 Handle case when provisional response is sent after a final one
  pjsip/src/pjsip-ua/sip_100rel.c
  pjsip/src/pjsip/sip_transaction.c
Labels: component: pjsip, type: bug

#2353 Update pjsua-test module call to wait for ICE & DTLS-SRTP nego before checking media
  tests/pjsua/mod_call.py
  tests/pjsua/scripts-call/160_srtp_dtls.py
  tests/pjsua/scripts-call/320_ice_dtls_srtp.py
Labels: component: unit-tests
