Repository pjsip/pjproject, pull requests merged in 2020-06, with the labels that each got.

#2452 Allow NULL content in sending IM if msg_data has body/multipart
  pjsip/include/pjsua-lib/pjsua.h
  pjsip/src/pjsua-lib/pjsua_call.c
  pjsip/src/pjsua-lib/pjsua_im.c
Labels: component: pjsua-lib, type: enhancement

#2427 Add option to enable/disable multiple telephone-event formats in generating SDP
  pjmedia/include/pjmedia/config.h
  pjmedia/src/pjmedia/endpoint.c
Labels: component: pjmedia, type: enhancement

#2454 Fix bug when sending IM using null content (continuation of #2452)
  pjsip/src/pjsua-lib/pjsua_call.c
  pjsip/src/pjsua-lib/pjsua_im.c
Labels: component: pjsua-lib, type: bug

#2425 Fix dtmf signal &duration parsing in dtmf-relay INFO message
  pjsip/src/pjsua-lib/pjsua_call.c
Labels: component: pjsua-lib, type: enhancement

#2451 Allow demote SRTP call to RTP when using re-INVITE with PJSUA_CALL_REINIT_MEDIA
  pjmedia/include/pjmedia/transport_srtp.h
  pjmedia/src/pjmedia/transport_srtp_dtls.c
  pjsip/src/pjsua-lib/pjsua_media.c
Labels: component: pjmedia, component: pjsua-lib

#2432 Possible leak tdata when receiving 200 OK response after the invite session is destroyed.
  pjsip/src/pjsip-ua/sip_inv.c
  pjsip/src/pjsip/sip_transport_tcp.c
  pjsip/src/pjsip/sip_transport_tls.c
Labels: component: pjsip, type: bug

#2459 Check current inv state before decreasing ref count
  pjsip/src/pjsip-ua/sip_inv.c
Labels: component: pjsip, type: bug

#2468 Call state not progressing due to ICE callback not propagated
  pjsip/src/pjsua-lib/pjsua_media.c
Labels: component: pjsua-lib, type: bug

#2447 Add callbacks to receive RTP DTMF events
  pjmedia/include/pjmedia/rtp.h
  pjmedia/include/pjmedia/stream.h
  pjmedia/src/pjmedia/stream.c
  pjsip/include/pjsua-lib/pjsua.h
  pjsip/include/pjsua2/call.hpp
  pjsip/include/pjsua2/endpoint.hpp
  pjsip/src/pjsua-lib/pjsua_aud.c
  pjsip/src/pjsua-lib/pjsua_call.c
  pjsip/src/pjsua2/endpoint.cpp
Labels: component: pjmedia, component: pjsua-lib, component: pjsua2
