Repository pjsip/pjproject, pull requests merged in 2021-04, with the labels that each got.

#2676 Fix assertion in rejecting incoming call before sending any response
  pjsip/src/pjsip-ua/sip_inv.c
Labels: component: pjsip, type: bug

#2683 Allow SIP transaction to continue for certain case despite transport error
  pjsip/include/pjsip/sip_config.h
  pjsip/src/pjsip/sip_transaction.c
Labels: component: pjsip, type: enhancement

#2687 ip_helper_generic: ignore non running interfaces
  pjlib/src/pj/ip_helper_generic.c
Labels: component: pjlib

#2693 sdp.c: Use correct conversion specifier for uint32_t
  pjmedia/src/pjmedia/sdp.c
Labels: component: pjmedia, type: bug

#2691 Avoid exception in unregistering socket on iOS after SIP UDP socket-replace fails
  pjlib/src/pj/ioqueue_select.c
Labels: component: pjlib, type: bug

#2408 Skip unsupported digest algorithm
  pjsip/src/pjsip/sip_auth_client.c
  tests/pjsua/scripts-sipp/uas-auth-two-algo.py
  tests/pjsua/scripts-sipp/uas-auth-two-algo.xml
Labels: component: pjsip

#2703 Fixed remote address change checking in DTLS transport
  pjmedia/src/pjmedia/transport_srtp_dtls.c
Labels: component: pjmedia, type: bug
