Repository pjsip/pjproject, pull requests merged in 2021-03, with the labels that each got.

#2657 SIP session timer not retry refreshing after a re-INVITE refresh responded with 503
  pjsip/src/pjsip-ua/sip_inv.c
  pjsip/src/pjsip-ua/sip_timer.c
Labels: component: pjsip, type: bug

#2639 Few updates in pjsip-simple RPID
  pjsip/include/pjsip-simple/rpid.h
  pjsip/src/pjsip-simple/rpid.c
Labels: component: pjsip, type: enhancement

#2618 Fix PCMU/A support in AVI player
  pjmedia/src/pjmedia/avi_player.c
Labels: component: pjmedia, type: bug

#2656 Differentiate video codec ID by assigning each codec backend a specific PT number
  pjmedia/include/pjmedia-codec/types.h
  pjmedia/src/pjmedia-codec/ffmpeg_vid_codecs.c
  pjmedia/src/pjmedia-codec/openh264.cpp
  pjmedia/src/pjmedia-codec/vid_toolbox.m
  pjmedia/src/pjmedia-codec/vpx.c
Labels: component: pjmedia

#2651 Allow EC to be used when sound device is opened on speaker mode only
  pjmedia/src/pjmedia/sound_port.c
  pjsip/src/pjsua-lib/pjsua_aud.c
Labels: component: pjmedia-audiodev

#2652 Add option to disable auto re-registration.
  pjsip/include/pjsua-lib/pjsua.h
  pjsip/src/pjsua-lib/pjsua_acc.c
Labels: component: pjsua-lib

#2552 Support Android AMediaCodec
  aconfigure
  aconfigure.ac
  pjmedia/build/Makefile
  pjmedia/build/os-auto.mak.in
  pjmedia/build/pjmedia_codec.vcproj
  pjmedia/build/pjmedia_codec.vcxproj
  pjmedia/build/pjmedia_codec.vcxproj.filters
  pjmedia/include/pjmedia-codec.h
  pjmedia/include/pjmedia-codec/and_aud_mediacodec.h
  pjmedia/include/pjmedia-codec/and_vid_mediacodec.h
  pjmedia/include/pjmedia-codec/config.h
  pjmedia/include/pjmedia-codec/config_auto.h.in
  pjmedia/include/pjmedia-codec/vpx_packetizer.h
  pjmedia/src/pjmedia-codec/and_aud_mediacodec.cpp
  pjmedia/src/pjmedia-codec/and_vid_mediacodec.cpp
  pjmedia/src/pjmedia-codec/audio_codecs.c
  pjmedia/src/pjmedia-codec/vpx.c
  pjmedia/src/pjmedia-codec/vpx_packetizer.c
  pjsip/src/pjsua-lib/pjsua_vid.c
Labels: component: pjmedia

#2646 Increase SDP version when receiving re-INVITE without SDP
  pjmedia/src/pjmedia/sdp_neg.c
Labels: component: pjmedia, type: bug

#2663 Fix secure transport checking
  pjsip/src/pjsip/sip_transport.c
Labels: component: pjsip, type: bug

#2666 Fixed race condition between media event callback and stopping video
  pjmedia/src/pjmedia/event.c
  pjmedia/src/pjmedia/vid_port.c
  pjsip/include/pjsua-lib/pjsua_internal.h
  pjsip/src/pjsua-lib/pjsua_core.c
  pjsip/src/pjsua-lib/pjsua_media.c
  pjsip/src/pjsua-lib/pjsua_vid.c
Labels: component: pjmedia, component: pjsua-lib, type: bug

#2643 Add Embox RTOS to supported targets in README.txt
  README.txt
Labels: component: common, type: enhancement

#2667 More works on Trickle ICE
  pjmedia/include/pjmedia/transport_ice.h
  pjmedia/src/pjmedia/transport_ice.c
  pjnath/include/pjnath/config.h
  pjnath/include/pjnath/ice_session.h
  pjnath/include/pjnath/ice_strans.h
  pjnath/src/pjnath-test/server.c
  pjnath/src/pjnath/ice_session.c
  pjnath/src/pjnath/ice_strans.c
  pjsip/include/pjsua-lib/pjsua_internal.h
  pjsip/src/pjsua-lib/pjsua_call.c
  pjsip/src/pjsua-lib/pjsua_media.c
Labels: component: pjnath, component: pjsua-lib, type: bug, type: enhancement

#2670 Fix installation of libpjsua2 shared libraries
  Makefile
Labels: component: devops, type: bug

#2679 Match tx telephone events clock rate with local's clock rate
  pjmedia/src/pjmedia/stream_info.c
Labels: component: pjmedia, type: bug

#2681 Add a `getID()` method to PJSUA2 Buddy class
  pjsip/include/pjsua2/presence.hpp
  pjsip/src/pjsua2/presence.cpp
Labels: component: pjsua2, type: enhancement

#2678 Allow change Capture Device to *any* valid one
  pjsip/src/pjsua-lib/pjsua_vid.c
Labels: component: pjsua-lib, type: enhancement

#2671 Check error returned from decode callback of the decoding process using video toolbox codec
  pjmedia/src/pjmedia-codec/vid_toolbox.m
Labels: component: pjmedia, type: bug
