Repository pjsip/pjproject, pull requests merged in 2021-06, with the labels that each got.

#2726 Reset DTLS state when stopping DTLS transport
  pjmedia/src/pjmedia/transport_srtp_dtls.c
Labels: component: pjmedia, type: bug

#2723 swift-C++ binding & swift pjsua2 sample app
  .gitignore
  pjsip-apps/build/Makefile
  pjsip-apps/src/pjsua2/ios-swift-pjsua2/ios-swift-pjsua2.xcodeproj/project.pbxproj
  pjsip-apps/src/pjsua2/ios-swift-pjsua2/ios-swift-pjsua2.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  pjsip-apps/src/pjsua2/ios-swift-pjsua2/ios-swift-pjsua2.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  pjsip-apps/src/pjsua2/ios-swift-pjsua2/ios-swift-pjsua2.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  pjsip-apps/src/pjsua2/ios-swift-pjsua2/ios-swift-pjsua2.xcodeproj/xcshareddata/xcschemes/ios-swift-pjsua2.xcscheme
  pjsip-apps/src/pjsua2/ios-swift-pjsua2/ios-swift-pjsua2/AppDelegate.swift
  pjsip-apps/src/pjsua2/ios-swift-pjsua2/ios-swift-pjsua2/Assets.xcassets/AccentColor.colorset/Contents.json
  pjsip-apps/src/pjsua2/ios-swift-pjsua2/ios-swift-pjsua2/Assets.xcassets/AppIcon.appiconset/Contents.json
  pjsip-apps/src/pjsua2/ios-swift-pjsua2/ios-swift-pjsua2/Assets.xcassets/Contents.json
  pjsip-apps/src/pjsua2/ios-swift-pjsua2/ios-swift-pjsua2/Controller/ActiveViewController.swift
  pjsip-apps/src/pjsua2/ios-swift-pjsua2/ios-swift-pjsua2/Controller/IncomingViewController.swift
  pjsip-apps/src/pjsua2/ios-swift-pjsua2/ios-swift-pjsua2/Controller/OutgoingViewController.swift
  pjsip-apps/src/pjsua2/ios-swift-pjsua2/ios-swift-pjsua2/Controller/ViewController.swift
  pjsip-apps/src/pjsua2/ios-swift-pjsua2/ios-swift-pjsua2/Info.plist
  pjsip-apps/src/pjsua2/ios-swift-pjsua2/ios-swift-pjsua2/Model/Model.swift
  pjsip-apps/src/pjsua2/ios-swift-pjsua2/ios-swift-pjsua2/PJSua2/CustomPJSUA2.cpp
  pjsip-apps/src/pjsua2/ios-swift-pjsua2/ios-swift-pjsua2/PJSua2/CustomPJSUA2.hpp
  pjsip-apps/src/pjsua2/ios-swift-pjsua2/ios-swift-pjsua2/PJSua2/wrapper.h
  pjsip-apps/src/pjsua2/ios-swift-pjsua2/ios-swift-pjsua2/PJSua2/wrapper.mm
  pjsip-apps/src/pjsua2/ios-swift-pjsua2/ios-swift-pjsua2/SceneDelegate.swift
  pjsip-apps/src/pjsua2/ios-swift-pjsua2/ios-swift-pjsua2/View/Base.lproj/LaunchScreen.storyboard
  pjsip-apps/src/pjsua2/ios-swift-pjsua2/ios-swift-pjsua2/View/Base.lproj/Main.storyboard
  pjsip-apps/src/pjsua2/ios-swift-pjsua2/ios-swift-pjsua2/ios-swift-pjsua2-Bridging-Header.h
Labels: component: applications

#2742 Add configure script option to enable Speex resample
  aconfigure
  aconfigure.ac
Labels: component: common

#2731 Avoid deadlock when restarting SIP UDP transport due to holding pjsua lock
  pjsip/include/pjsip/sip_transport_udp.h
  pjsip/src/pjsua-lib/pjsua_core.c
Labels: component: pjsua-lib, type: bug

#2747 TCP/TLS unable to connect when ioqueue epoll using EPOLLONESHOT
  pjlib/src/pj/ioqueue_epoll.c
Labels: component: pjlib, type: bug

#2741 Allow app to modify video encoding param via PJSUA callback on_stream_precreate()
  pjsip/include/pjsua-lib/pjsua.h
  pjsip/include/pjsua2/call.hpp
  pjsip/src/pjsua-lib/pjsua_vid.c
  pjsip/src/pjsua2/endpoint.cpp
Labels: component: pjsua-lib, component: pjsua2, type: enhancement

#2739 Update configure-android to support Android NDK 22
  configure-android
Labels: component: common, type: enhancement

#2737 Avoid call disconnection due to request timeout when network is changing
  pjsip/include/pjsip/sip_config.h
  pjsip/src/pjsip-ua/sip_inv.c
  pjsip/src/pjsip/sip_config.c
  pjsip/src/pjsua-lib/pjsua_core.c
Labels: component: pjsip, component: pjsua-lib, type: enhancement
