Repository pjsip/pjproject, pull requests merged in 2021-08, with the labels that each got.

#2782 Reset ICE flag when re-using srtp transport
  pjmedia/src/pjmedia/transport_srtp_dtls.c
Labels: component: pjmedia

#2780 Fix signature checking code
  pjmedia/include/pjmedia/signatures.h
Labels: component: pjmedia

#2783 Add checks and assertion if PJSIP string length is negative
  pjlib/include/pj/string.h
  pjlib/include/pj/string_i.h
  pjlib/src/pj/string.c
Labels: component: pjlib

#2784 Add Mac and iOS implementation of guid generation
  aconfigure
  aconfigure.ac
  pjlib/src/pj/guid_darwin.c
Labels: type: enhancement, component: pjlib

#2786 Add minimum interval for keyframe missing events in Openh264
  pjmedia/src/pjmedia-codec/openh264.cpp
Labels: component: pjmedia

#2788 Fix socktype and duplicate checking in pj_getaddrinfo()
  pjlib/src/pj/addr_resolv_sock.c
Labels: type: bug, component: pjlib

#2795 Don't copy sock address if it points to the same memory
  pjlib/src/pj/sock_common.c
Labels: component: pjlib

#2798 High video latency when decoder frame rate is initialized lower than actually received
  pjmedia/include/pjmedia/vid_conf.h
  pjmedia/src/pjmedia/vid_conf.c
  pjsip/include/pjsua-lib/pjsua.h
  pjsip/include/pjsua2/media.hpp
  pjsip/src/pjsua-lib/pjsua_media.c
  pjsip/src/pjsua-lib/pjsua_vid.c
  pjsip/src/pjsua2/media.cpp
Labels: component: pjsua-lib, type: bug

#2804 Acquire lock before destroying ioqueue epoll
  pjlib/src/pj/ioqueue_epoll.c
Labels: type: bug, component: pjlib

#2805 Fix socket leak in turn sock
  pjnath/src/pjnath/turn_sock.c
Labels: type: bug, component: pjnath

#2806 Resort ICE checklist upon entering nomination stage
  pjnath/src/pjnath/ice_session.c
Labels: component: pjnath
