Repository pjsip/pjproject, pull requests merged in 2021-12, with the labels that each got.

#2904 Add documentation on how port_range is used
  pjsip/include/pjsua-lib/pjsua.h
  pjsip/include/pjsua2/account.hpp
  pjsip/include/pjsua2/siptypes.hpp
Labels: component: pjsua-lib, component: pjsua2

#2905 Make keyframe interval configurable in Apple VideoToolbox codecs
  pjmedia/include/pjmedia-codec/config.h
  pjmedia/src/pjmedia-codec/vid_toolbox.m
Labels: component: pjmedia, type: enhancement

#2906 Fix issues in updating media dir to "none" in the middle of a call
  pjmedia/src/pjmedia/endpoint.c
  pjsip-apps/src/pjsua/pjsua_app.c
  pjsip/include/pjsua2/call.hpp
  pjsip/src/pjsua-lib/pjsua_media.c
  pjsip/src/pjsua2/call.cpp
Labels: type: enhancement, component: pjsua-lib, type: bug, component: pjsua2

#2899 Deadly overflow causing hang after running 106 days
  pjlib/src/pj/os_timestamp_common.c
Labels: component: pjlib

#2912 pjsip-apps: Set initial log level to 1
  pjsip-apps/src/pjsua/main.c
  pjsip-apps/src/pjsystest/main_console.c
  pjsip-apps/src/python/_pjsua.c
Labels: type: enhancement, component: applications

#2903 Avoid memory bloat on ICE restart
  pjlib/include/pj/lock.h
  pjnath/include/pjnath/ice_session.h
  pjnath/src/pjnath/ice_session.c
  pjnath/src/pjnath/ice_strans.c
Labels: component: pjmedia, type: bug, component: pjnath

#2917 End CLI session upon connection closure
  pjlib-util/src/pjlib-util/cli_telnet.c
Labels: type: bug, component: pjlib-util

#2922 Pjsua test fix on multiple authentication header scenario
  tests/pjsua/scripts-recvfrom/215_reg_good_multi_ok.py
Labels: component: unit-tests

#2914 Fix declaration of pjsip_auth_deinit_parser()
  pjsip/include/pjsip/sip_auth_parser.h
Labels: component: pjsip

#2920 sip_inv: Additional multipart support (#2919)
  pjsip/include/pjsip-ua/sip_inv.h
  pjsip/src/pjsip-ua/sip_inv.c
  pjsip/src/test/inv_offer_answer_test.c
Labels: component: pjsip

#2886 Check for decoding delay in video stream
  pjmedia/src/pjmedia/vid_stream.c
  pjsip/include/pjsua-lib/pjsua.h
Labels: component: pjmedia, type: enhancement

#2918 Fix crash when dumping call data during media deinit
  pjsip/src/pjsua-lib/pjsua_call.c
  pjsip/src/pjsua-lib/pjsua_media.c
Labels: component: pjsua-lib, type: bug

#2909 Get note from root presence element if not found in tuple RPID
  pjsip/src/pjsip-simple/rpid.c
Labels: type: bug, component: pjsip

#2928 Fix some resource leaks
  pjmedia/src/test/audio_tool.c
  pjnath/src/pjnath-test/test.c
  pjsip-apps/src/samples/vid_codec_test.c
Labels: component: unit-tests
