Repository pjsip/pjproject, pull requests merged in 2021-07, with the labels that each got.

#2746 Reset SSL BIOs (#2745)
  pjmedia/src/pjmedia/transport_srtp_dtls.c
Labels: component: pjmedia, type: bug

#2755 Add input volume setting & apply volume settings in opening ALSA sound device
  pjmedia/src/pjmedia-audiodev/alsa_dev.c
Labels: component: pjmedia-audiodev, type: bug, type: enhancement

#2753 Support for SHA-256 algorithm in SIP Digest Authentication
  pjsip/include/pjsip/sip_auth.h
  pjsip/include/pjsip/sip_auth_parser.h
  pjsip/src/pjsip/sip_auth_client.c
  pjsip/src/pjsip/sip_auth_parser.c
Labels: component: pjsip, type: enhancement

#2713 Filter RTP based on source address early to avoid invalid RTP session update
  pjmedia/src/pjmedia/stream.c
Labels: component: pjmedia, type: bug

#2762 Fix 's default constructor to do what the documentation says.
  pjsip/include/pjsua2/account.hpp
Labels: component: pjsua2, type: enhancement

#2754 Added pj_turn_sock_connect for TURN TCP Allocations
  pjnath/include/pjnath/stun_msg.h
  pjnath/include/pjnath/turn_session.h
  pjnath/include/pjnath/turn_sock.h
  pjnath/src/pjnath/turn_session.c
  pjnath/src/pjnath/turn_sock.c
Labels: component: pjnath, type: enhancement

#2763 Fix in the SDP negotiator - if the offer's media is disabled, do not compare transport
  pjmedia/src/pjmedia/sdp_neg.c
Labels: component: pjmedia

#2759 SDL full-screen mode fixes and enhancement
  pjmedia/include/pjmedia/videodev.h
  pjmedia/src/pjmedia-videodev/sdl_dev.c
  pjsip-apps/src/pjsua/pjsua_app_legacy.c
  pjsip-apps/src/swig/symbols.i
  pjsip-apps/src/swig/symbols.lst
  pjsip/include/pjsua-lib/pjsua.h
  pjsip/include/pjsua2/media.hpp
  pjsip/src/pjsua-lib/pjsua_vid.c
  pjsip/src/pjsua2/media.cpp
Labels: component: pjmedia-videodev, type: bug, type: enhancement

#2771 Avoid deadlock on unsubscribe event
  pjsip/src/pjsua-lib/pjsua_vid.c
Labels: component: pjsua-lib

#2770 Fix compilation of 3rdparty_media_sample (introduced by #1463)
  pjsip-apps/src/3rdparty_media_sample/Makefile
Labels: component: applications, type: bug

#2775 Support webrtc-aec3 on windows
  pjmedia/build/pjmedia.vcxproj
  pjmedia/build/pjmedia.vcxproj.filters
  pjmedia/src/pjmedia/echo_webrtc_aec3.cpp
  pjproject-vs14.sln
  pjsip-apps/build/libpjproject.vcxproj
  third_party/build/webrtc_aec3/Makefile
  third_party/build/webrtc_aec3/libwebrtc_aec3.vcxproj
  third_party/build/webrtc_aec3/libwebrtc_aec3.vcxproj.filters
  third_party/webrtc_aec3/PJSIP_NOTES
  third_party/webrtc_aec3/src/common_audio/signal_processing/splitting_filter2.c
  third_party/webrtc_aec3/src/modules/audio_processing/agc2/rnn_vad/rnn_vector_math_avx2.cc
  third_party/webrtc_aec3/src/rtc_base/logging.cc
  third_party/webrtc_aec3/src/system_wrappers/source/cpu_features2.cc
Labels: component: pjmedia
