Repository pjsip/pjproject, pull requests merged in 2021-02, with the labels that each got.

#2609 Use SRTP attribute specified on SDP when starting SRTP-SDES transport
  pjmedia/src/pjmedia/transport_srtp_sdes.c
Labels: component: pjmedia

#2636 iOS Swift sample app
  .gitignore
  pjsip-apps/build/Makefile
  pjsip-apps/src/pjsua/ios-swift/ipjsua-swift.xcodeproj/project.pbxproj
  pjsip-apps/src/pjsua/ios-swift/ipjsua-swift.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  pjsip-apps/src/pjsua/ios-swift/ipjsua-swift.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  pjsip-apps/src/pjsua/ios-swift/ipjsua-swift/Assets.xcassets/AccentColor.colorset/Contents.json
  pjsip-apps/src/pjsua/ios-swift/ipjsua-swift/Assets.xcassets/AppIcon.appiconset/Contents.json
  pjsip-apps/src/pjsua/ios-swift/ipjsua-swift/Assets.xcassets/Contents.json
  pjsip-apps/src/pjsua/ios-swift/ipjsua-swift/ContentView.swift
  pjsip-apps/src/pjsua/ios-swift/ipjsua-swift/Info.plist
  pjsip-apps/src/pjsua/ios-swift/ipjsua-swift/Preview Content/Preview Assets.xcassets/Contents.json
  pjsip-apps/src/pjsua/ios-swift/ipjsua-swift/ipjsua-swift-Bridging-Header.h
  pjsip-apps/src/pjsua/ios-swift/ipjsua-swift/ipjsua_swiftApp.swift
  pjsip-apps/src/pjsua/ios-swift/ipjsua-swift/pjsip.m
Labels: component: applications, type: task

#2638 Use UTC time in PJSIP presence PIDF timestamp
  pjlib/src/pj/os_time_common.c
  pjlib/src/pj/os_time_win32.c
  pjsip/src/pjsip-simple/presence_body.c
Labels: component: pjlib, component: pjsip, type: bug

#2640 Update RTP timestamp on inactive/paused video stream
  pjmedia/src/pjmedia/vid_stream.c
  pjsip/src/pjsua-lib/pjsua_vid.c
Labels: component: pjmedia, component: pjsua-lib

#2627 Assertion in media update of session refresh after SDP reoffer is rejected
  pjsip/include/pjsua-lib/pjsua_internal.h
  pjsip/src/pjsua-lib/pjsua_call.c
  pjsip/src/pjsua-lib/pjsua_media.c
  pjsip/src/pjsua-lib/pjsua_vid.c
  tests/pjsua/mod_sipp.py
  tests/pjsua/run.py
  tests/pjsua/scripts-sipp/uas-reinv-after-failed-nego.py
  tests/pjsua/scripts-sipp/uas-reinv-after-failed-nego.xml
Labels: component: pjsua-lib, type: bug

#2635 Use CoreAudio for Mac for macCatalyst
  pjmedia/src/pjmedia-audiodev/coreaudio_dev.m
Labels: component: pjmedia-audiodev, type: enhancement

#2648 Developing PJSIP app using Kotlin Android
  pjsip-apps/src/swig/java/Makefile
  pjsip-apps/src/swig/java/android/.gitignore
  pjsip-apps/src/swig/java/android/android.iml
  pjsip-apps/src/swig/java/android/app-kotlin/build.gradle
  pjsip-apps/src/swig/java/android/app-kotlin/proguard-rules.pro
  pjsip-apps/src/swig/java/android/app-kotlin/src/main/AndroidManifest.xml
  pjsip-apps/src/swig/java/android/app-kotlin/src/main/java/org/pjsip/pjsua2/app_kotlin/MainActivity.kt
  pjsip-apps/src/swig/java/android/app-kotlin/src/main/res/drawable-v24/ic_launcher_foreground.xml
  pjsip-apps/src/swig/java/android/app-kotlin/src/main/res/drawable/ic_launcher_background.xml
  pjsip-apps/src/swig/java/android/app-kotlin/src/main/res/layout/activity_main.xml
  pjsip-apps/src/swig/java/android/app-kotlin/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  pjsip-apps/src/swig/java/android/app-kotlin/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  pjsip-apps/src/swig/java/android/app-kotlin/src/main/res/mipmap-hdpi/ic_launcher.png
  pjsip-apps/src/swig/java/android/app-kotlin/src/main/res/mipmap-hdpi/ic_launcher_round.png
  pjsip-apps/src/swig/java/android/app-kotlin/src/main/res/mipmap-mdpi/ic_launcher.png
  pjsip-apps/src/swig/java/android/app-kotlin/src/main/res/mipmap-mdpi/ic_launcher_round.png
  pjsip-apps/src/swig/java/android/app-kotlin/src/main/res/mipmap-xhdpi/ic_launcher.png
  pjsip-apps/src/swig/java/android/app-kotlin/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  pjsip-apps/src/swig/java/android/app-kotlin/src/main/res/mipmap-xxhdpi/ic_launcher.png
  pjsip-apps/src/swig/java/android/app-kotlin/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  pjsip-apps/src/swig/java/android/app-kotlin/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  pjsip-apps/src/swig/java/android/app-kotlin/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  pjsip-apps/src/swig/java/android/app-kotlin/src/main/res/values-night/themes.xml
  pjsip-apps/src/swig/java/android/app-kotlin/src/main/res/values/colors.xml
  pjsip-apps/src/swig/java/android/app-kotlin/src/main/res/values/strings.xml
  pjsip-apps/src/swig/java/android/app-kotlin/src/main/res/values/themes.xml
  pjsip-apps/src/swig/java/android/app/build.gradle
  pjsip-apps/src/swig/java/android/app/src/main/java/org/pjsip/pjsua2/app/MyApp.java
  pjsip-apps/src/swig/java/android/build.gradle
  pjsip-apps/src/swig/java/android/pjsua2/build.gradle
  pjsip-apps/src/swig/java/android/pjsua2/consumer-rules.pro
  pjsip-apps/src/swig/java/android/pjsua2/proguard-rules.pro
  pjsip-apps/src/swig/java/android/pjsua2/src/main/AndroidManifest.xml
  pjsip-apps/src/swig/java/android/settings.gradle
  pjsip-apps/src/swig/pjsua2.i
Labels: component: applications, type: enhancement

#2642 Add compile time option to disable auto sending of 100 response
  pjsip/include/pjsua-lib/pjsua.h
  pjsip/src/pjsua-lib/pjsua_call.c
Labels: component: pjsua-lib, type: enhancement

#2633 Remove ioqueue key from set when calling pj_ioqueue_post_completion()
  pjlib/src/pj/ioqueue_common_abs.c
Labels: component: pjlib, type: bug

#2654 Modify pjsua maximum calls setting
  pjsip/include/pjsua-lib/pjsua.h
  pjsip/src/pjsua-lib/pjsua_core.c
Labels: component: pjsua-lib, type: enhancement

#2653 Fixed race condition in sending registration
  pjsip/include/pjsip-ua/sip_regc.h
  pjsip/src/pjsip-ua/sip_reg.c
  pjsip/src/pjsua-lib/pjsua_acc.c
Labels: component: pjsip, component: pjsua-lib, type: bug
