Repository pjsip/pjproject, pull requests merged in 2021-11, with the labels that each got.

#2878 Change interval calculation for sending keep-alive message
  pjmedia/include/pjmedia/stream_common.h
  pjmedia/src/pjmedia/stream.c
  pjmedia/src/pjmedia/stream_common.c
  pjmedia/src/pjmedia/vid_stream.c
Labels: component: pjmedia

#2881 Disable auto restart socket in PJMEDIA and PJSIP transports
  pjmedia/src/pjmedia/transport_udp.c
  pjsip/src/pjsip/sip_transport_udp.c
Labels: component: pjmedia, type: bug, component: pjsip

#2884 Add aarch64 check for building libwebrtc and webrtc-aec3
  aconfigure
  aconfigure.ac
Labels: component: common

#2887 SIP authentication may send multiple Authorization headers
  pjsip/src/pjsip/sip_auth_client.c
Labels: type: bug, component: pjsip

#2889 Change "md5" algorithm name to uppercase to comply with the standard
  pjsip-apps/src/pjsua/pjsua_app_cli.c
  pjsip-apps/src/pjsua/pjsua_app_config.c
  pjsip-apps/src/pjsua/pjsua_app_legacy.c
  pjsip/include/pjsip.h
  pjsip/include/pjsip/sip_auth_parser.h
  pjsip/src/pjsip/sip_auth_client.c
  pjsip/src/pjsip/sip_auth_parser.c
  pjsip/src/pjsua-lib/pjsua_acc.c
Labels: component: pjsua-lib, component: pjsip

#2891 Disable assertion when checking for an invalid transport
  pjsip/src/pjsip/sip_transport.c
Labels: component: pjsip

#2892 Play WAV data even if the data length is truncated
  pjmedia/src/pjmedia/wav_player.c
Labels: component: pjmedia, type: enhancement
