Repository pjsip/pjproject, pull requests merged in 2021-05, with the labels that each got.

#2708 Do not redefine SSL_CIPHER_get_id() for LibreSSL
  pjlib/src/pj/ssl_sock_ossl.c
Labels: component: pjlib

#2709 Fix double free of stun session
  pjnath/include/pjnath/stun_session.h
  pjnath/src/pjnath/stun_session.c
Labels: component: pjnath, type: bug

#2705 Specify media direction when making, answering, or updating call
  pjmedia/include/pjmedia/endpoint.h
  pjmedia/src/pjmedia/endpoint.c
  pjsip-apps/src/swig/symbols.i
  pjsip/include/pjsua-lib/pjsua.h
  pjsip/include/pjsua-lib/pjsua_internal.h
  pjsip/include/pjsua2/call.hpp
  pjsip/src/pjsua-lib/pjsua_call.c
  pjsip/src/pjsua-lib/pjsua_media.c
  pjsip/src/pjsua2/call.cpp
Labels: component: pjmedia, component: pjsua-lib, component: pjsua2, type: enhancement

#2715 Possible DTLS nego failure when using ICE
  pjmedia/src/pjmedia/transport_srtp_dtls.c
Labels: component: pjmedia, type: bug

#2718 Ignore 192.0.0.0/29 address
  pjlib/src/pj/ip_helper_generic.c
Labels: component: pjlib, type: enhancement

#2720 Disable maintaining ROC when restarting SRTP
  pjmedia/src/pjmedia/transport_srtp.c
Labels: component: pjmedia, type: bug

#2719 Update doc for ignoring stream keep alive
  pjmedia/src/pjmedia/stream.c
Labels: component: pjmedia
