Repository pjsip/pjproject, pull requests merged in 2021-09, with the labels that each got.

#2817 Triggered check with lower priority may get nominated first than valid check with higher priority
  pjnath/src/pjnath/ice_session.c
Labels: component: pjnath

#2813 When optimization is enabled, local assignment might be lost on exception
  pjmedia/src/pjmedia/sdp.c
Labels: component: pjmedia

#2816 BSD (freebsd,openbsd,netbsd..) generate uuid use os native api
  aconfigure
  aconfigure.ac
  pjlib/src/pj/guid_bsd.c
Labels: type: enhancement, component: pjlib

#2821 Handle unknown TLS cipher name in PJSUA2
  pjsip/src/pjsua2/endpoint.cpp
Labels: type: bug, component: pjsua2

#2828 pjmedia_sdp_attr_get_rtpmap: Strip param trailing whitespace
  pjmedia/src/pjmedia/sdp.c
Labels: component: pjmedia

#2799 Added Function pjmedia_sdp_media_print(...).
  pjmedia/include/pjmedia/sdp.h
  pjmedia/src/pjmedia/sdp.c
Labels: component: pjmedia, type: enhancement

#2810 Add a new ioqueue API pj_ioqueue_clear_key()
  pjlib/include/pj/ioqueue.h
  pjlib/src/pj/ioqueue_common_abs.c
  pjmedia/src/pjmedia/transport_udp.c
Labels: component: pjmedia, type: enhancement, component: pjlib

#2819 Add support to specify Contact URI params specific to REGISTER requests
  pjsip/include/pjsua-lib/pjsua.h
  pjsip/include/pjsua2/account.hpp
  pjsip/src/pjsua-lib/pjsua_acc.c
  pjsip/src/pjsua2/account.cpp
Labels: type: enhancement, component: pjsua-lib, component: pjsua2

#2822 Miscelaneous changes on PJSUA2 audio device APIs
  pjsip/include/pjsua-lib/pjsua.h
  pjsip/include/pjsua2/media.hpp
  pjsip/src/pjsua-lib/pjsua_aud.c
  pjsip/src/pjsua2/media.cpp
Labels: component: pjsua-lib, component: pjsua2
