Repository pjsip/pjproject, pull requests merged in 2022-01, with the labels that each got.

#2874 fix clock thread lock not release
  pjmedia/src/pjmedia/clock_thread.c
Labels: component: pjmedia, type: bug

#2933 Fix incorrect unescaping of tokens during parsing
  pjsip/src/pjsip/sip_parser.c
  pjsip/src/test/msg_test.c
Labels: type: bug, component: pjsip

#2932 Fix missing event unsubscription in pjsua video
  pjmedia/include/pjmedia/vid_port.h
  pjmedia/src/pjmedia/event.c
  pjmedia/src/pjmedia/vid_port.c
  pjsip/src/pjsua-lib/pjsua_vid.c
Labels: component: pjsua-lib, type: bug

#2921 Support Flow-Timer on rfc5626
  pjsip/include/pjsua-lib/pjsua_internal.h
  pjsip/src/pjsua-lib/pjsua_acc.c
Labels: component: pjsua-lib

#2941 Create generic pjsip_hdr_find functions
  pjsip/include/pjsip/sip_msg.h
  pjsip/src/pjsip/sip_msg.c
Labels: type: enhancement, component: pjsip

#2900 Support loop media transport in PJSUA2
  pjsip/include/pjsua2/account.hpp
  pjsip/src/pjsua2/account.cpp
Labels: type: enhancement, component: pjsua2

#2939 End CLI telnet session upon data read error
  pjlib-util/src/pjlib-util/cli_telnet.c
Labels: type: bug, component: pjlib-util

#2949 Initialize pj logging earlier in pj_init()
  pjlib/src/pj/os_core_unix.c
Labels: type: bug, component: pjlib

#2938 Check for tdata when ending inv session
  pjsip/src/pjsip-ua/sip_100rel.c
  pjsip/src/pjsua-lib/pjsua_call.c
  pjsip/src/test/inv_offer_answer_test.c
Labels: component: pjsua-lib, type: bug, component: pjsip

#2947 Fix build failure when PJ_POOL_DEBUG is enabled
  pjlib/include/pj/pool_alt.h
  pjlib/src/pj/pool_dbg.c
Labels: type: bug, component: pjlib

#2943 More of Support Flow-Timer on rfc5626
  pjsip/src/pjsua-lib/pjsua_acc.c
Labels: component: pjsua-lib, type: bug

#2893 Add parameter assertion check in pjsip_uri_get_uri()
  pjsip/include/pjsip/sip_uri.h
Labels: type: enhancement, component: pjsip

#2940 Fix aviplay crash when using ffmpeg video codec
  pjmedia/src/pjmedia/avi_player.c
  pjsip-apps/src/samples/aviplay.c
Labels: type: bug, component: applications

#2911 Fix video issues upon format change
  pjmedia/include/pjmedia/format.h
  pjmedia/src/pjmedia-videodev/util.c
  pjmedia/src/pjmedia/format.c
  pjmedia/src/pjmedia/vid_conf.c
  pjmedia/src/pjmedia/vid_port.c
  pjmedia/src/pjmedia/vid_stream.c
Labels: component: pjmedia, type: enhancement
