Repository pjsip/pjproject, pull requests merged in 2022-05, with the labels that each got.

#3007 Wrong default values for JB prefetch
  pjsip/include/pjsua-lib/pjsua.h
  pjsip/include/pjsua2/endpoint.hpp
Labels: component: pjsua-lib, component: pjsua2

#3006 wrong documentation about default jbInit
  pjsip/include/pjsua2/endpoint.hpp
Labels: component: pjsua2

#3017 allow pj to build for arm64 under clang when not using autotools
  pjlib/include/pj/config.h
Labels: component: pjlib

#3076 Fix missing argument due to changes on #2979
  pjsip/src/pjsua-lib/pjsua_aud.c
Labels: component: pjsua-lib

#3055 Add checks when parsing RTCP FB
  pjmedia/src/pjmedia/rtcp.c
  pjmedia/src/pjmedia/rtcp_fb.c
Labels: component: pjmedia

#3038 Added conference port id checking in pjsua
  pjsip/src/pjsua-lib/pjsua_aud.c
  pjsip/src/pjsua-lib/pjsua_vid.c
Labels: component: pjsua-lib, type: bug

#3035 Add account id parameter checking in pjsua im APIs
  pjsip/src/pjsua-lib/pjsua_im.c
Labels: component: pjsua-lib, type: bug

#3032 Fixed build failure in Xamarin C# project
  pjmedia/include/pjmedia/format.h
  pjsip-apps/src/swig/csharp/Makefile
  pjsip-apps/src/swig/symbols.i
Labels: component: pjmedia, component: applications

#3002 Add configure option to disable srtp
  aconfigure
  aconfigure.ac
  build.mak.in
  third_party/build/os-auto.mak.in
Labels: type: enhancement, component: common

#3027 Don't schedule re-Registration on IP change case
  pjsip/src/pjsua-lib/pjsua_acc.c
Labels: component: pjsua-lib

#3096 fix typos
  pjsip-apps/src/samples/pjsip-perf.c
  pjsip/include/pjsip-ua/sip_inv.h
Labels: component: pjsip, component: applications

#3092 Fix AVI player: compile warning and unchecked file_read() return value
  pjmedia/src/pjmedia/avi_player.c
Labels: component: pjmedia, type: bug

#3044 Prevent assertion when codec encoding height size is larger than wide size
  pjmedia/src/pjmedia-videodev/android_dev.c
Labels: type: bug, component: pjmedia-videodev

#3110 Add run time settings to enable/disable RTCP-XR in account config
  pjmedia/src/pjmedia/stream.c
  pjsip/include/pjsua-lib/pjsua.h
  pjsip/include/pjsua2/account.hpp
  pjsip/src/pjsua-lib/pjsua_acc.c
  pjsip/src/pjsua-lib/pjsua_core.c
  pjsip/src/pjsua-lib/pjsua_media.c
  pjsip/src/pjsua2/account.cpp
Labels: component: pjsua-lib, component: pjsua2

#3111 Enable screensaver when using SDL 2.0.2
  pjmedia/src/pjmedia-videodev/sdl_dev.c
Labels: component: pjmedia-videodev
