Repository pjsip/pjproject, pull requests merged in 2022-03, with the labels that each got.

#3003 "--version" command line option does not work
  pjsip-apps/src/pjsua/pjsua_app_config.c
Labels: component: applications

#3000 Add option to randomize RTP starting port
  pjsip/include/pjsua-lib/pjsua.h
  pjsip/include/pjsua2/siptypes.hpp
  pjsip/src/pjsua-lib/pjsua_acc.c
  pjsip/src/pjsua-lib/pjsua_media.c
  pjsip/src/pjsua2/siptypes.cpp
Labels: type: enhancement, component: pjsua-lib

#3001 wrong default value for jitter buffer max
  pjsip/include/pjsua2/endpoint.hpp
Labels: component: pjsua2

#3008 Deprecate PJ_ENABLE_EXTRA_CHECK macro
  pjlib/include/pj/assert.h
  pjlib/include/pj/config.h
  pjlib/include/pj/config_site_sample.h
  pjlib/src/pj/config.c
Labels: component: pjlib

#3009 Use PJ_ASSERT_RETURN() on pjsip_auth_create_digest() and pjsua_init_tpselector()
  pjsip/include/pjsip/sip_auth.h
  pjsip/src/pjsip/sip_auth_aka.c
  pjsip/src/pjsip/sip_auth_client.c
  pjsip/src/pjsip/sip_auth_server.c
  pjsip/src/pjsua-lib/pjsua_core.c
Labels: component: pjsua-lib, component: pjsip

#3004 Update registration transport upon account's modification or transport setting
  pjsip/src/pjsua-lib/pjsua_acc.c
Labels: component: pjsua-lib, type: bug

#3033 Set Oboe usage to voice communication
  pjmedia/src/pjmedia-audiodev/oboe_dev.cpp
Labels: type: enhancement, component: pjmedia-audiodev

#3010 Add compile time option to allow multiple Authorization header
  pjsip/include/pjsip/sip_config.h
  pjsip/src/pjsip/sip_auth_client.c
  pjsip/src/pjsip/sip_config.c
  pjsip/src/pjsua-lib/pjsua_core.c
  tests/pjsua/inc_sip.py
  tests/pjsua/mod_recvfrom.py
  tests/pjsua/run.py
  tests/pjsua/scripts-recvfrom/215_reg_good_multi_ok.py
Labels: component: pjsip

#3011 minor output changes: keystroke_help
  pjsip-apps/src/pjsua/pjsua_app_legacy.c
Labels: component: applications

#3037 Fixed missing field in CodecParam
  pjsip/include/pjsua2/media.hpp
  pjsip/src/pjsua2/media.cpp
Labels: type: bug, component: pjsua2
