Repository pjsip/pjproject, pull requests merged in 2022-07, with the labels that each got.

#3151 Run-time detect epoll exclusive/oneshot support
  pjlib/src/pj/ioqueue_epoll.c
Labels: component: pjlib

#3167 Assertion due to bad rtpmap attribute generated by pjmedia_endpt_create_audio_sdp()
  pjmedia/include/pjmedia/sdp.h
  pjmedia/src/pjmedia/endpoint.c
Labels: component: pjmedia, type: bug

#3165 Update VAD docs/help
  pjsip-apps/src/pjsua/pjsua_app_config.c
  pjsip/include/pjsua-lib/pjsua.h
  pjsip/include/pjsua2/endpoint.hpp
Labels: type: enhancement, component: pjsua-lib, component: applications, component: pjsua2

#3156 Set thread display name
  aconfigure
  aconfigure.ac
  pjlib/include/pj/compat/os_auto.h.in
  pjlib/src/pj/os_core_unix.c
  pjlib/src/pj/os_core_win32.c
Labels: type: enhancement, component: pjlib

#3158 Fix epoll-oneshot may cause crash (use released key)
  pjlib/src/pj/ioqueue_epoll.c
Labels: type: bug, component: pjlib

#3166 Perform async rendering in the main thread on Mac & iOS
  pjmedia/src/pjmedia-videodev/darwin_dev.m
  pjmedia/src/pjmedia-videodev/ios_opengl_dev.m
  pjsip-apps/src/pjsua/ios/ipjsua.xcodeproj/xcshareddata/xcschemes/ipjsua.xcscheme
Labels: component: pjmedia-videodev

#3168 Support OpenSSL3
  pjlib/src/pj/ssl_sock_ossl.c
  pjsip/src/pjsip/sip_auth_client.c
Labels: component: pjsip, component: pjlib, type: task

#3170 win32 unicode: prevent buffer overflow when using FormatMessage()
  pjlib/src/pj/os_error_win32.c
Labels: type: bug, component: pjlib

#3187 Bug fixes and enhancements in pjlib ioq_perf.c
  pjlib/include/pj/log.h
  pjlib/src/pj/log.c
  pjlib/src/pjlib-test/ioq_perf.c
  pjlib/src/pjlib-test/test.h
Labels: type: enhancement, type: bug, component: unit-tests

#3183 Lock ordering issue in video conference bridge
  pjlib/src/pj/lock.c
  pjmedia/include/pjmedia/port.h
  pjmedia/src/pjmedia/port.c
  pjmedia/src/pjmedia/stream.c
  pjmedia/src/pjmedia/vid_conf.c
  pjmedia/src/pjmedia/vid_port.c
  pjmedia/src/pjmedia/vid_stream.c
  pjsip-apps/src/pjsua/pjsua_app_cli.c
  pjsip-apps/src/pjsua/pjsua_app_legacy.c
Labels: component: pjmedia, type: bug, component: pjlib

#3189 Add ability in stream to modify Opus codec parameters on the fly
  pjmedia/include/pjmedia/codec.h
  pjmedia/include/pjmedia/stream.h
  pjmedia/src/pjmedia-codec/opus.c
  pjmedia/src/pjmedia/stream.c
  pjsip/include/pjsua-lib/pjsua.h
  pjsip/include/pjsua2/call.hpp
  pjsip/include/pjsua2/media.hpp
  pjsip/src/pjsua-lib/pjsua_aud.c
  pjsip/src/pjsua2/call.cpp
  pjsip/src/pjsua2/media.cpp
Labels: component: pjmedia, type: enhancement

#3188 EPOLLIN bug, epoll ioqueue refactoring and other bug fixes/enhancements to ioqueue
  pjlib/build/Makefile
  pjlib/build/pjlib_test.vcxproj
  pjlib/build/pjlib_test.vcxproj.filters
  pjlib/include/pj/config.h
  pjlib/include/pj/ioqueue.h
  pjlib/src/pj/ioqueue_common_abs.c
  pjlib/src/pj/ioqueue_common_abs.h
  pjlib/src/pj/ioqueue_epoll.c
  pjlib/src/pj/ioqueue_kqueue.c
  pjlib/src/pj/ioqueue_select.c
  pjlib/src/pj/ioqueue_uwp.cpp
  pjlib/src/pj/ioqueue_winnt.c
  pjlib/src/pjlib-test/ioq_perf.c
  pjlib/src/pjlib-test/ioq_stress_test.c
  pjlib/src/pjlib-test/ioq_tcp.c
  pjlib/src/pjlib-test/ioq_udp.c
  pjlib/src/pjlib-test/ioq_unreg.c
  pjlib/src/pjlib-test/ssl_sock.c
  pjlib/src/pjlib-test/test.c
  pjlib/src/pjlib-test/test.h
  pjproject-vs14.sln
Labels: type: enhancement, type: bug, component: pjlib

#3190 Fix multicast problems on Windows
  pjlib/src/pj/sock_bsd.c
Labels: type: bug, component: pjlib

#3193 Update third party media sample implementation
  pjsip-apps/src/3rdparty_media_sample/alt_pjsua_aud.c
  pjsip-apps/src/3rdparty_media_sample/alt_pjsua_vid.c
Labels: component: applications

#3195 Move UPnP to PJNATH
  aconfigure
  aconfigure.ac
  pjlib-util/build/Makefile
  pjlib-util/build/pjlib_util.vcxproj
  pjlib-util/build/pjlib_util.vcxproj.filters
  pjlib-util/include/pjlib-util.h
  pjlib-util/include/pjlib-util/config.h
  pjnath/build/Makefile
  pjnath/build/pjnath.vcxproj
  pjnath/build/pjnath.vcxproj.filters
  pjnath/docs/doc_mainpage.h
  pjnath/include/pjnath.h
  pjnath/include/pjnath/config.h
  pjnath/include/pjnath/upnp.h
  pjnath/src/pjnath/upnp.c
  pjsip/src/pjsua-lib/pjsua_core.c
  pjsip/src/pjsua-lib/pjsua_media.c
Labels: component: pjnath
