Repository pjsip/pjproject, pull requests merged in 2022-11, with the labels that each got.

#3281 Fixed repeated identical OpenSSL error
  pjlib/src/pj/ssl_sock_ossl.c
Labels: type: enhancement, component: pjlib

#3282 Fixed video unhold failure when using SRTP
  pjmedia/src/pjmedia/vid_stream.c
Labels: component: pjmedia, type: bug

#3285 IP change returns false error when there is no call
  pjsip-apps/src/pjsua/pjsua_app_cli.c
  pjsip-apps/src/pjsua/pjsua_app_legacy.c
  pjsip/src/pjsua-lib/pjsua_acc.c
Labels: component: pjsua-lib, type: bug

#3284 Fix failure in PJLIB UDP socket replace for iOS due to uninitialized status
  pjlib/src/pj/ioqueue_select.c
Labels: type: bug, component: pjlib

#3283 Fix false error PJMEDIA_RTP_EINLEN when decoding empty RTP
  pjmedia/src/pjmedia/rtp.c
Labels: component: pjmedia

#3137 Don't terminate call on failed SDP negotiation during EARLY state
  pjsip/src/pjsua-lib/pjsua_call.c
  tests/pjsua/scripts-sipp/uac-183-wrong-codec.py
  tests/pjsua/scripts-sipp/uac-183-wrong-codec.xml
  tests/pjsua/scripts-sipp/uac-183-wrong-media.py
  tests/pjsua/scripts-sipp/uac-183-wrong-media.xml
  tests/pjsua/scripts-sipp/uac-upd-sdp-decline.py
  tests/pjsua/scripts-sipp/uac-upd-sdp-decline.xml
  tests/pjsua/scripts-sipp/uac-upd-sdp-offer.py
  tests/pjsua/scripts-sipp/uac-upd-sdp-offer.xml
  tests/pjsua/scripts-sipp/uas-answer-183-wrong-codec.py
  tests/pjsua/scripts-sipp/uas-answer-183-wrong-codec.xml
  tests/pjsua/scripts-sipp/uas-answer-183-wrong-media.py
  tests/pjsua/scripts-sipp/uas-answer-183-wrong-media.xml
Labels: component: pjsua-lib, type: bug

#3286 Ignore closing transport when acquiring SIP UDP transport
  pjsip/src/pjsip/sip_transport.c
Labels: type: bug, component: pjsip

#3290 Use environment LDFLAGS when building with resample as shared lib
  third_party/build/resample/Makefile
Labels: component: third-party

#3280 Miscellaneous fixes
  pjlib/src/pj/ssl_sock_ossl.c
  pjlib/src/pjlib-test/test.c
  pjsip/src/pjsua-lib/pjsua_media.c
  pjsip/src/test/tsx_uac_test.c
Labels: component: common

#3293 Add .git-blame-ignore-revs for #3292
  .git-blame-ignore-revs
Labels: type: task

#3294 Fix problem in detecting Android STL shared library on msys
  configure-android
Labels: component: devops
