Repository pjsip/pjproject, pull requests merged in 2022-12, with the labels that each got.

#3297 Fuzzing Support for oss-fuzz
  FUZZING.MD
  Makefile
  tests/fuzz/Makefile
  tests/fuzz/fuzz-json.c
  tests/fuzz/fuzz-sdp.c
  tests/fuzz/fuzz-sip.c
  tests/fuzz/fuzz-stun.c
  tests/fuzz/fuzz-xml.c
  tests/fuzz/seed/fuzz-json_seed_corpus.zip
  tests/fuzz/seed/fuzz-sdp_seed_corpus.zip
  tests/fuzz/seed/fuzz-sip_seed_corpus.zip
  tests/fuzz/seed/fuzz-stun_seed_corpus.zip
  tests/fuzz/seed/fuzz-xml_seed_corpus.zip
Labels: component: devops

#3302 Minor modify in g711 codec: typo and reset last_tx
  pjmedia/src/pjmedia/g711.c
Labels: component: pjmedia

#3301 Fixed encoding video issue with odd resolution
  pjmedia/include/pjmedia/vid_codec.h
  pjmedia/src/pjmedia/vid_codec.c
Labels: component: pjmedia, type: bug

#3309 Loop transport: add new setting item (max_attach_cnt) to set the max number of attachments
  pjmedia/include/pjmedia/transport_loop.h
  pjmedia/src/pjmedia/transport_loop.c
Labels: component: pjmedia, type: enhancement

#3311 conference bridge: wirte_port() the if condition has mistake which make PJMEDIA_PORT_MUTE case never run
  pjmedia/src/pjmedia/conference.c
Labels: component: pjmedia, type: bug

#3317 Fix log print missing a space
  pjmedia/src/pjmedia/endpoint.c
Labels: component: pjlib

#3318 conference bridge: No need reset a port's mix buffer if is't enable to transmit
  pjmedia/src/pjmedia/conference.c
Labels: component: pjmedia, type: enhancement

#3314 Fixed assertion when adding too many SDP attributes
  pjmedia/src/pjmedia/sdp.c
Labels: component: pjmedia, type: bug

#3315 Fixed possible integer overflow in pj_strtol
  pjlib/src/pj/string.c
Labels: type: bug, component: pjlib

#3316 Suppress use-of-uninitialized-value warning when comparing SIP parser handler
  pjsip/src/pjsip/sip_parser.c
Labels: component: pjsip

#3313 Fix undefined-shift in STUN message check
  pjnath/src/pjnath/stun_msg.c
Labels: type: bug, component: pjnath

#3321 Fixed race condition in DTLS media transport
  pjmedia/src/pjmedia/transport_srtp_dtls.c
Labels: component: pjmedia, type: bug
