Repository pjsip/pjproject, pull requests merged in 2022-02, with the labels that each got.

#2953 Additional multipart improvements
  pjsip/include/pjsip/sip_multipart.h
  pjsip/src/pjsip/sip_multipart.c
  pjsip/src/test/multipart_test.c
Labels: component: pjsip

#2962 Implement verify callback to TLS connection
  pjlib/include/pj/ssl_sock.h
  pjlib/src/pj/ssl_sock_imp_common.c
  pjlib/src/pj/ssl_sock_ossl.c
  pjsip/include/pjsip/sip_transport_tls.h
  pjsip/src/pjsip/sip_transport_tls.c
Labels: component: pjsip, component: pjlib

#2809 Allow registration refresh to continue when REGISTER response contains expires parameter set to 0
  pjsip/include/pjsip/sip_config.h
  pjsip/src/pjsip-ua/sip_reg.c
Labels: component: pjsip

#2837 Fix deadlock after immediate hangup on video call
  pjsip/include/pjsua-lib/pjsua_internal.h
  pjsip/src/pjsua-lib/pjsua_vid.c
Labels: component: pjsua-lib, type: bug

#2840 Crash when pjsua_destroy2() is invoked during ongoing transaction
  pjsip/src/pjsip/sip_ua_layer.c
Labels: type: bug, component: pjsip

#2859 Avoid double BYE when pjsua_call_hangup() is called multiple times
  pjsip/src/pjsua-lib/pjsua_call.c
Labels: type: enhancement, component: pjsua-lib

#2926 NAT64: handle special case where server put FQDN (resolved to IPv6 only) in SDP answer
  pjmedia/src/pjmedia/stream_info.c
Labels: component: pjmedia, type: enhancement

#2797 Replace deprecated Android Camera framework with Camera2
  pjmedia/src/pjmedia-videodev/android/PjCamera2.java
  pjmedia/src/pjmedia-videodev/android/PjCameraInfo2.java
  pjmedia/src/pjmedia-videodev/android_dev.c
  pjsip-apps/src/swig/java/android/app-kotlin/build.gradle
  pjsip-apps/src/swig/java/android/app/build.gradle
  pjsip-apps/src/swig/java/android/app/src/main/java/org/pjsip/pjsua2/app/MainActivity.java
  pjsip-apps/src/swig/java/android/build.gradle
  pjsip-apps/src/swig/java/android/pjsua2/build.gradle
Labels: type: enhancement, component: pjmedia-videodev

#2954 OpenSSL server-side enhancements to support session reuse and SNI
  pjlib/src/pj/ssl_sock_imp_common.c
  pjlib/src/pj/ssl_sock_ossl.c
Labels: type: enhancement, component: pjlib

#2950 Misleading log when answering a call in CONFIRMED state
  pjsip/src/pjsua-lib/pjsua_call.c
Labels: component: pjsua-lib

#2707 Add Oboe audio device backend for Android
  aconfigure
  aconfigure.ac
  build.mak.in
  pjlib/include/pj/os.h
  pjlib/src/pj/os_core_unix.c
  pjmedia/build/Makefile
  pjmedia/build/os-auto.mak.in
  pjmedia/include/pjmedia-audiodev/config.h
  pjmedia/src/pjmedia-audiodev/android/PjAudioDevInfo.java
  pjmedia/src/pjmedia-audiodev/android_jni_dev.c
  pjmedia/src/pjmedia-audiodev/audiodev.c
  pjmedia/src/pjmedia-audiodev/oboe_dev.cpp
  pjsip-apps/src/swig/java/Makefile
  pjsip-apps/src/swig/java/android/android.iml
  pjsip-apps/src/swig/java/android/gradle/wrapper/gradle-wrapper.properties
Labels: type: enhancement, component: pjmedia-audiodev

#2968 Fix failure to manually reply re-INVITE
  pjsip/src/pjsua-lib/pjsua_call.c
Labels: component: pjsua-lib, type: bug

#2955 Fixed ice session assertion when there's no checklist
  pjnath/src/pjnath/ice_session.c
Labels: type: bug, component: pjnath

#2875 fix vid_streamutil not work on mac
  pjsip-apps/src/samples/vid_streamutil.c
Labels: type: bug, component: applications

#2856 Add support to boringssl
  pjlib/src/pj/ssl_sock_ossl.c
Labels: type: enhancement, component: pjlib

#2973 Fixed OpenSSL server context initialization
  pjlib/src/pj/ssl_sock_ossl.c
Labels: type: bug, component: pjlib

#2961 Add additional unit test options
  .gitignore
  pjlib-util/src/pjlib-util-test/main.c
  pjlib/src/pjlib-test/main.c
  pjmedia/src/test/main.c
  pjnath/src/pjnath-test/main.c
  pjsip/src/test/main.c
  pjsip/src/test/test.c
  pjsip/src/test/test.h
Labels: type: enhancement, component: unit-tests

#2781 Added pjsip_tsx_set_timers to change timers at runtime
  pjsip/include/pjsip/sip_transaction.h
  pjsip/src/pjsip/sip_transaction.c
Labels: component: pjsip

#2908 Fix incorrect pjmedia_sdp_neg_state in case of SDP parsing error
  pjsip/src/pjsip-ua/sip_inv.c
Labels: component: pjmedia

#2978 Fixed build failure for libwebrtc-aec3
  aconfigure
  aconfigure.ac
  third_party/build/os-auto.mak.in
Labels: type: bug, component: third-party

#2977 Modified default C++ compiler for configure-iphone
  configure-iphone
Labels: component: devops

#2976 Fix decode issue on FFMpeg 4.3.2
  pjmedia/src/pjmedia-codec/ffmpeg_vid_codecs.c
Labels: component: pjmedia

#2972 Fixed assertion in multipart test
  pjsip/src/test/multipart_test.c
Labels: type: bug, component: unit-tests

#2957 Fix documentation and usage of txdata ref counter
  pjsip-apps/src/pjsua/pjsua_app.c
  pjsip-apps/src/samples/pjsip-perf.c
  pjsip-apps/src/samples/siprtp.c
  pjsip-apps/src/samples/stateful_proxy.c
  pjsip-apps/src/samples/stateless_proxy.c
  pjsip-apps/src/vidgui/vidgui.cpp
  pjsip/include/pjsip-ua/sip_replaces.h
  pjsip/include/pjsip/sip_util.h
  pjsip/src/pjsua-lib/pjsua_call.c
  pjsip/src/test/tsx_uac_test.c
Labels: type: bug, component: pjsip

#2979 Release wav player and recorder pool to clean up when calling pjsua_destroy()
  pjsip-apps/src/pjsua/pjsua_app.c
  pjsip/src/pjsua-lib/pjsua_aud.c
Labels: component: pjsua-lib

#2958 Avoid assertions when using PJ_HAS_THREADS 0
  pjlib/src/pj/lock.c
  pjlib/src/pj/log.c
Labels: type: bug, component: pjlib

#2975 Fixed iOS ipjsua app inability to auto answer
  pjsip-apps/src/pjsua/pjsua_app.c
Labels: type: bug, component: applications

#2980 Fixed call hangup crash when ending session fails
  pjsip/src/pjsua-lib/pjsua_call.c
Labels: component: pjsua-lib, type: bug

#2974 Fixed Android build issues on NDK r23 and r24
  aconfigure
  aconfigure.ac
  pjsip-apps/src/swig/java/Makefile
Labels: component: applications

#2989 Reenable periodic RTP transmission on silence
  pjmedia/src/pjmedia/stream.c
Labels: component: pjmedia, type: bug

#2988 Fixed failure to resume video when unholding the call
  pjsip/src/pjsua-lib/pjsua_media.c
Labels: component: pjsua-lib, type: bug

#2987 Prevent memory leak on OpenH264 due to multiple decoder allocation
  pjmedia/src/pjmedia-codec/openh264.cpp
Labels: component: pjmedia, type: bug

#2991 Handle padding included on image from Camera2 API
  pjmedia/src/pjmedia-videodev/android/PjCamera2.java
  pjmedia/src/pjmedia-videodev/android_dev.c
Labels: component: pjmedia-videodev

#2993 Fixed failed pjsua test due to incorrect SRTP ROC check
  pjsip/src/pjsua-lib/pjsua_media.c
Labels: component: pjsua-lib, type: bug

#2994 Hangup call in crossover scenario between CANCEL and 200 response
  pjsip/src/pjsua-lib/pjsua_call.c
Labels: component: pjsua-lib, type: bug

#2996 Avoid confusion in CSeq generation for request within dialog
  pjsip/src/pjsip/sip_dialog.c
Labels: type: bug, component: pjsip

#2969 Miscellaneous fixes
  .github/workflows/ccpp.yml
  pjlib/src/pj/ssl_sock_imp_common.c
  pjlib/src/pj/timer.c
  pjmedia/include/pjmedia/config.h
  pjmedia/src/pjmedia-codec/and_aud_mediacodec.cpp
  pjmedia/src/pjmedia-codec/and_vid_mediacodec.cpp
  pjmedia/src/pjmedia-codec/openh264.cpp
  pjmedia/src/pjmedia-codec/vpx_packetizer.c
  pjmedia/src/pjmedia/avi_player.c
  pjmedia/src/pjmedia/converter_libyuv.c
  pjmedia/src/pjmedia/event.c
  pjmedia/src/pjmedia/format.c
  pjmedia/src/pjmedia/jbuf.c
  pjmedia/src/pjmedia/rtcp.c
  pjmedia/src/pjmedia/rtcp_fb.c
  pjmedia/src/pjmedia/rtp.c
  pjmedia/src/pjmedia/sdp.c
  pjmedia/src/pjmedia/stream.c
  pjmedia/src/pjmedia/transport_srtp_dtls.c
  pjmedia/src/pjmedia/transport_udp.c
  pjmedia/src/pjmedia/vid_stream.c
  pjmedia/src/pjmedia/wav_player.c
  pjnath/src/pjnath/ice_strans.c
  pjnath/src/pjnath/turn_sock.c
  pjsip-apps/src/pjsua/android/app/build.gradle
  pjsip-apps/src/pjsua/android/app/src/main/java/MainActivity.java
  pjsip-apps/src/pjsua/pjsua_app.c
  pjsip-apps/src/pjsystest/main_console.c
  pjsip-apps/src/samples/siprtp.c
  pjsip-apps/src/samples/vid_streamutil.c
  pjsip-apps/src/swig/java/android/app/build.gradle
  pjsip-apps/src/swig/java/android/pjsua2/build.gradle
  pjsip/src/pjsip/sip_auth_client.c
  pjsip/src/pjsip/sip_multipart.c
  pjsip/src/pjsip/sip_transport.c
  pjsip/src/pjsua-lib/pjsua_call.c
  pjsip/src/pjsua-lib/pjsua_dump.c
  pjsip/src/pjsua-lib/pjsua_media.c
  pjsip/src/pjsua-lib/pjsua_vid.c
  pjsip/src/pjsua2/account.cpp
  pjsip/src/pjsua2/media.cpp
  pjsip/src/test/multipart_test.c
  pjsip/src/test/test.c
  tests/pjsua/run.py
  tests/pjsua/tools/cmp_wav.vcxproj
Labels: component: common
