Repository pjsip/pjproject, pull requests merged in 2022-04, with the labels that each got.

#3046 Crash due to stop & restart race conditions in Oboe
  pjmedia/src/pjmedia-audiodev/oboe_dev.cpp
Labels: type: bug, component: pjmedia-audiodev

#3056 Fix tone generator playing twice faster in stereo mode
  pjmedia/src/pjmedia/tonegen.c
Labels: component: pjmedia, type: bug

#3031 fix thread attributes memory leak when create thread
  pjlib/src/pj/os_core_unix.c
Labels: type: bug, component: pjlib

#3029 add kqueue support for macos/BSD
  aconfigure
  aconfigure.ac
  pjlib/src/pj/ioqueue_kqueue.c
Labels: component: pjlib

#3063 Android - Create new ImageReader instance before opening camera
  pjmedia/src/pjmedia-videodev/android/PjCamera2.java
Labels: component: pjmedia-videodev

#3070 Fix double free of ossock->ossl_ctx in case of errors (#3069)
  pjlib/src/pj/ssl_sock_ossl.c
Labels: type: bug, component: pjlib

#3080 Fail sending periodic RTP transmission on silence
  pjmedia/src/pjmedia/stream.c
Labels: component: pjmedia

#3065 Handle crash when converting std::string with non UTF-8 character on Android
  pjsip-apps/src/swig/and_string.i
  pjsip-apps/src/swig/java/Makefile
  pjsip-apps/src/swig/pjsua2.i
Labels: component: pjsua2

#3059 Some callbacks not invoked in call replace in PJSUA2
  pjsip-apps/src/samples/pjsua2_demo.cpp
  pjsip/include/pjsua2/call.hpp
  pjsip/src/pjsua-lib/pjsua_call.c
  pjsip/src/pjsua2/call.cpp
  pjsip/src/pjsua2/endpoint.cpp
Labels: type: bug, component: pjsua2

#3018 Always re-arm ioqueue for events on pj_ioqueue_poll() when epoll with EPOLLONESHOT is used
  pjlib/src/pj/ioqueue_epoll.c
Labels: type: bug, component: pjlib

#3086 Update media event poll timeout
  pjmedia/src/pjmedia/endpoint.c
Labels: component: pjmedia, type: enhancement

#3089 Fix build warnings related to <pj/limits.h>
  pjlib/include/pj/compat/limits.h
  pjlib/include/pj/types.h
Labels: component: pjlib
