Repository pjsip/pjproject, pull requests merged in 2022-06, with the labels that each got.

#3126 Fixed issues with event subscription regarding on_rx_refresh() and unsubscription
  pjsip/include/pjsip-simple/evsub.h
  pjsip/src/pjsip-simple/evsub.c
  tests/pjsua/scripts-sipp/uac-subscribe.xml
Labels: type: bug, component: pjsip

#3121 Patch to improve epoll implementation
  pjlib/include/pj/config.h
  pjlib/src/pj/ioqueue_epoll.c
Labels: type: enhancement, type: bug, component: pjlib

#3139 Add API pjsip_evsub_get_expires()
  pjsip/include/pjsip-simple/evsub.h
  pjsip/src/pjsip-simple/evsub.c
Labels: type: enhancement, component: pjsip

#3138 Add option to check if UPDATE sent during EARLY inv state has completed SDP nego using reliable prov response
  pjsip/include/pjsip-ua/sip_inv.h
  pjsip/include/pjsip/sip_config.h
  pjsip/src/pjsip-ua/sip_inv.c
  pjsip/src/pjsua-lib/pjsua_call.c
  pjsip/src/test/inv_offer_answer_test.c
Labels: component: pjsip

#3148 Update SWIG symbols.i for WebRTC AEC3
  pjsip-apps/src/swig/symbols.i
Labels: type: bug, component: applications

#3145 Random crash due to invoking SRTP APIs on custom media transport instance
  pjmedia/include/pjmedia/transport.h
  pjmedia/src/pjmedia/transport_ice.c
  pjmedia/src/pjmedia/transport_srtp.c
  pjsip/src/pjsua-lib/pjsua_media.c
Labels: component: pjsua-lib, type: bug
