Repository pjsip/pjproject, pull requests merged in 2022-10, with the labels that each got.

#3237 Update media state when SDP contain "a=inactive" attribute
  pjsip/src/pjsua-lib/pjsua_media.c
  pjsip/src/pjsua-lib/pjsua_vid.c
Labels: component: pjsua-lib

#3230 Forcing lock codec to always use INVITE method
  pjsip/include/pjsua-lib/pjsua.h
  pjsip/src/pjsua-lib/pjsua_call.c
Labels: type: enhancement, component: pjsua-lib

#3266 Skip building SWIG-CSharp projects in VS14 solution by default
  pjproject-vs14.sln
Labels: component: devops

#3264 conditional compilation removed from macro expansion to satisfy MSVC
  pjlib/src/pj/ssl_sock_ossl.c
Labels: type: bug, component: pjlib

#3241 Doc fixes, default value of Media Quality is 8
  pjsip/include/pjsua-lib/pjsua.h
  pjsip/include/pjsua2/endpoint.hpp
Labels: component: pjsua-lib, component: pjsua2

#3263 Fix the build with musl
  aconfigure
  aconfigure.ac
  pjlib-util/src/pjlib-util-test/main.c
  pjlib/include/pj/compat/os_auto.h.in
  pjlib/src/pjlib-test/main.c
  pjmedia/src/test/main.c
  pjnath/src/pjnath-test/main.c
  pjsip-apps/src/pjsua/main.c
  pjsip/src/test/main.c
Labels: component: applications

#3182 Return error when it fails to create stream using opensl
  pjmedia/src/pjmedia-audiodev/opensl_dev.c
Labels: type: bug, component: pjmedia-audiodev

#3109 ice_session: fix crash if all ipv6 addresses are deprecated
  pjnath/src/pjnath/ice_session.c
Labels: type: bug, component: pjnath

#3102 Fix assertion after updating account contact
  pjsip/src/pjsua-lib/pjsua_acc.c
Labels: component: pjsua-lib, type: bug

#3052 Remove valgrind warning for pjnath (points to uninitialised byte)
  pjnath/src/pjnath/stun_session.c
Labels: component: pjnath

#3100 Add --disable-libuuid to autoconf
  aconfigure
  aconfigure.ac
Labels: component: common

#3274 Prevent integer underflow of sip regc's next registration time
  pjsip/src/pjsip-ua/sip_reg.c
Labels: type: bug, component: pjsip

#3276 Fix build warning and error for UWP
  pjlib/include/pj/compat/os_winuwp.h
  pjlib/include/pj/compat/socket.h
  pjlib/src/pj/ip_helper_generic.c
  pjlib/src/pj/os_core_win32.c
  pjsip-apps/src/pjsua/winrt/cli/comp/pjsua_cli_uwp_comp.vcxproj
  pjsip-apps/src/pjsua/winrt/gui/uwp/VoipBackEnd/VoipBackEnd.vcxproj
Labels: component: pjlib
