Repository pjsip/pjproject, pull requests merged in 2023-11, with the labels that each got.

#3750 Miscellaneous fix
  pjmedia/src/pjmedia-codec/and_vid_mediacodec.cpp
  pjsip-apps/src/pjsua/ios/ipjsua.xcodeproj/project.pbxproj
  pjsip-apps/src/samples/pjsua2_demo.cpp
  pjsip-apps/src/swig/java/android/app-kotlin/src/main/AndroidManifest.xml
  pjsip/include/pjsua2/call.hpp
  pjsip/src/pjsua-lib/pjsua_acc.c
  third_party/build/srtp/srtp_config.h
Labels: type: enhancement, type: bug, component: common

#3753 Check for buffer EOF in scanner
  pjlib-util/src/pjlib-util/scanner.c
Labels: type: enhancement, component: pjlib-util

#3752 Fixed race condition in ACK handling of INVITE message
  pjsip/include/pjsip/sip_transaction.h
  pjsip/src/pjsip-ua/sip_inv.c
  pjsip/src/pjsip/sip_transaction.c
  tests/pjsua/scripts-sipp/uas-reinv-with-less-media.xml
Labels: type: bug, component: pjsip

#3756 Hide private symbols
  third_party/srtp/pjlib/srtp_err.c
  third_party/srtp/srtp/srtp.c
Labels: component: third-party

#3757 sdp.c: don't pass NULL pointer to log string format
  pjmedia/src/pjmedia/sdp.c
Labels: component: pjmedia

#3751 Add SIP transport data received callback
  pjsip/include/pjsip/sip_transport.h
  pjsip/src/pjsip/sip_transport.c
Labels: type: enhancement, component: pjsip

#3748 base64: support encode/decode with URL and Filename Safe Alphabet
  pjlib-util/include/pjlib-util/base64.h
  pjlib-util/src/pjlib-util/base64.c
Labels: type: enhancement, component: pjlib-util

#3778 Fix warnings
  pjlib-util/src/pjlib-util/stun_simple_client.c
  pjlib/src/pj/hash.c
  pjlib/src/pj/pool.c
  pjlib/src/pj/pool_caching.c
  pjlib/src/pj/timer.c
  pjsip/src/pjsip/sip_endpoint.c
Labels: type: task, component: common

#3781 Add option to shutdown all transports on IP change
  pjsip-apps/src/pjsua/pjsua_app.c
  pjsip-apps/src/swig/symbols.i
  pjsip/include/pjsip/sip_transport.h
  pjsip/include/pjsua-lib/pjsua.h
  pjsip/include/pjsua2/endpoint.hpp
  pjsip/src/pjsip/sip_transport.c
  pjsip/src/pjsua-lib/pjsua_core.c
  pjsip/src/pjsua2/endpoint.cpp
Labels: type: enhancement, component: pjsua-lib, component: pjsip, component: pjsua2

#3784 add PJSUA_DETECT_MERGED_REQUEST parameter
  pjsip/include/pjsua-lib/pjsua.h
  pjsip/src/pjsua-lib/pjsua_core.c
Labels: component: pjsua-lib

#3773 Fix transport loop
  pjmedia/src/pjmedia/transport_loop.c
Labels: component: pjmedia, type: bug

#3783 ACK not sent using an existing TLS transport
  pjsip/src/pjsip/sip_dialog.c
Labels: type: bug, component: pjsip
