Repository pjsip/pjproject, pull requests merged in 2023-04, with the labels that each got.

#3475 Add Reason/Warning header in disconnecting call
  pjsip/src/pjsip-ua/sip_inv.c
  pjsip/src/pjsip-ua/sip_timer.c
  pjsip/src/pjsua-lib/pjsua_call.c
Labels: type: enhancement, component: pjsip

#3467 Fix ipjsystest build error
  pjsip-apps/src/ipjsystest/Classes/ipjsystestAppDelegate.m
  pjsip-apps/src/ipjsystest/ipjsystest-Info.plist
  pjsip-apps/src/ipjsystest/ipjsystest.xcodeproj/project.pbxproj
  pjsip-apps/src/ipjsystest/main.m
Labels: type: enhancement

#3479 Add SRTP ROC checking for video
  pjsip/src/pjsua-lib/pjsua_media.c
Labels: component: pjsua-lib, type: bug

#3021 Handle PJSIP_EBUSY error when sending Registration after calling pjsua_handle_ip_change()
  pjsip/src/pjsua-lib/pjsua_acc.c
Labels: component: pjsua-lib

#3488 Fixed buffer overflow in pjsua app cli
  pjsip-apps/src/pjsua/pjsua_app_cli.c
Labels: type: bug, component: applications

#3487 Fixed coverity warnings
  pjlib/include/pj/types.h
  pjsip/src/pjsip-ua/sip_inv.c
Labels: type: bug, component: common

#3486 Fixed bug when converting from n to 1 in stereo port
  pjmedia/src/pjmedia/stereo_port.c
Labels: component: pjmedia, type: bug

#3478 Fixed max hostname default value and usage
  pjlib-util/src/pjlib-util/resolver.c
  pjlib-util/src/pjlib-util/srv_resolver.c
  pjlib/include/pj/config.h
Labels: type: bug, component: pjlib

#3491 Fixed memory leak in AudDevManager
  pjsip/src/pjsua2/media.cpp
Labels: type: bug, component: pjsua2

#3493 Fixed use-after-free in sip_100rel
  pjsip/src/pjsip-ua/sip_100rel.c
Labels: type: bug, component: pjsip

#3500 Change socket assertion check to allow socket handle value 0
  pjlib/src/pj/activesock.c
  pjnath/src/pjnath/nat_detect.c
  pjsip/src/pjsip/sip_transport_udp.c
Labels: component: pjlib

#3494 Fixed race condition between session timer and call disconnection
  pjsip/src/pjsip-ua/sip_inv.c
Labels: type: bug, component: pjsip

#3496 Fixed build failure if PJ_JNI_HAS_JNI_ONLOAD is disabled
  pjlib/include/pj/config.h
  pjlib/include/pj/os.h
  pjlib/src/pj/guid_android.c
  pjlib/src/pj/os_core_unix.c
  pjmedia/src/pjmedia-audiodev/android_jni_dev.c
  pjmedia/src/pjmedia-audiodev/oboe_dev.cpp
  pjmedia/src/pjmedia-videodev/android_dev.c
Labels: type: bug, component: pjlib

#3499 Add sleep in ioq kqueue and fixed failed ioq stress test
  pjlib/src/pj/ioqueue_kqueue.c
  pjlib/src/pjlib-test/ioq_stress_test.c
Labels: type: bug, component: pjlib

#3503 Fix undefined "IN6_IS_ADDR_LINKLOCAL" on Visual Studio
  pjlib/include/pj/compat/os_win32.h
Labels: component: pjlib

#3492 Fixed deadlock between SIP transaction and dialog
  pjsip/src/pjsip/sip_transaction.c
Labels: type: bug, component: pjsip

#3507 Fix memory leak in PJSUA2 timer
  pjsip/src/pjsua2/endpoint.cpp
Labels: type: bug, component: pjsua2

#3473 Fix PJSUA2 documentation
  pjmedia/include/pjmedia/sdp_neg.h
  pjsip/include/pjsua2/call.hpp
Labels: component: pjsua2

#3518 Fixed crash when sip_inv reason is not NULL terminated
  pjsip/src/pjsip-ua/sip_inv.c
Labels: type: bug, component: pjsip

#3517 Fixed failed CI pjsua tests
  tests/pjsua/scripts-sipp/uac-183-wrong-codec.xml
  tests/pjsua/scripts-sipp/uac-prack-sdp-decline.xml
  tests/pjsua/scripts-sipp/uac-prack-sdp-offer.xml
  tests/pjsua/scripts-sipp/uac-upd-sdp-decline.xml
  tests/pjsua/scripts-sipp/uac-upd-sdp-offer.xml
  tests/pjsua/scripts-sipp/uas-answer-183-wrong-codec.xml
Labels: component: unit-tests

#3516 Do not run cron workflow( Coverity Scan) in forks
  .github/workflows/coverity-scan-daily.yml
Labels: component: devops

#3523 Fix PJ_CC_NAME/VER incorrec when use clang compiler to build
  pjlib/include/pj/compat/cc_clang.h
  pjlib/include/pj/config.h
Labels: type: enhancement, component: pjlib

#3533 Update Github issue template
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: component: devops

#3536 update pjsua_media.c is_media_changed
  pjsip/src/pjsua-lib/pjsua_media.c
Labels: component: pjsua-lib, type: bug

#3544 Fix minor error: duplicate link pjmedia lib
  build.mak.in
Labels: component: common
