Repository pjsip/pjproject, pull requests merged in 2023-08, with the labels that each got.

#3650 Possible infinite loop in iOS replace socket
  pjlib/src/pj/ioqueue_select.c
Labels: type: bug, component: pjlib

#3651 Set default values in tonegen sample
  pjsip-apps/src/samples/tonegen.c
Labels: type: bug, component: applications

#3448 Avoid race condition in SSL's on_handshake_complete()
  pjlib/src/pj/ssl_sock_imp_common.c
Labels: type: bug, component: pjlib

#3664 Prevent crash when reading cert file on Apple's Network framework SSL backend
  pjlib/src/pj/ssl_sock_apple.m
Labels: component: pjlib

#3630 Allow app gets the native SSL socket instance in TLS verification callback
  pjlib/include/pj/ssl_sock.h
  pjlib/src/pj/ssl_sock_imp_common.c
  pjlib/src/pj/ssl_sock_ossl.c
  pjsip/include/pjsip/sip_transport_tls.h
  pjsip/src/pjsip/sip_transport_tls.c
Labels: type: enhancement, component: pjsip, component: pjlib

#3663 Add option to disable renegotiation on TLSv1.2 or earlier
  pjlib/include/pj/ssl_sock.h
  pjlib/src/pj/ssl_sock_apple.m
  pjlib/src/pj/ssl_sock_common.c
  pjlib/src/pj/ssl_sock_ossl.c
  pjnath/include/pjnath/turn_sock.h
  pjsip/include/pjsip/sip_transport_tls.h
  pjsip/include/pjsua2/siptypes.hpp
  pjsip/src/pjsip/sip_transport_tls.c
  pjsip/src/pjsua2/siptypes.cpp
Labels: component: pjlib

#3671 Fix docs for broken PJLIB sample links
  pjlib/docs/doxygen.cfg
  pjlib/include/pj/ioqueue.h
  pjlib/include/pj/os.h
  pjlib/include/pj/sock.h
  pjlib/include/pj/sock_select.h
  pjlib/include/pj/timer.h
Labels: component: pjlib, type: task

#3653 Fixed RTCP packet lost calculation
  pjmedia/src/pjmedia/rtcp.c
  pjmedia/src/pjmedia/rtp.c
Labels: component: pjmedia, type: bug

#3674 Fix late PJSUA2 object destroy on Android
  pjsip/include/pjsua2/endpoint.hpp
  pjsip/src/pjsua2/endpoint.cpp
Labels: type: bug, component: pjsua2
