Repository pjsip/pjproject, pull requests merged in 2023-05, with the labels that each got.

#3545 Fixed stack buffer underflow if crypto is zero
  pjmedia/src/pjmedia/transport_srtp_sdes.c
Labels: component: pjmedia, type: bug

#3540 Modify the DTMF duration default
  pjmedia/include/pjmedia/config.h
Labels: component: pjmedia, type: enhancement

#3537 Fixed crash when answering an outgoing call in early state
  pjsip/src/pjsua-lib/pjsua_call.c
Labels: component: pjsua-lib, type: bug

#3531 Fixed DNS SRV response processing when SRV entries contain the same host
  pjlib-util/src/pjlib-util/srv_resolver.c
Labels: type: bug, component: pjlib-util

#3528 Prevent data race in stream when sending RTCP
  pjmedia/src/pjmedia/stream.c
  pjmedia/src/pjmedia/vid_stream.c
Labels: component: pjmedia, type: bug

#3527 Fixed crash on SIP listener when incoming SIP connection is immediately closed
  pjsip/src/pjsip/sip_transport_tcp.c
  pjsip/src/pjsip/sip_transport_tls.c
Labels: type: bug, component: pjsip

#3529 Parse SDP connection info with multicast address
  pjmedia/include/pjmedia/sdp.h
  pjmedia/src/pjmedia/sdp.c
Labels: component: pjmedia, type: enhancement

#3539 Fixed memory leak while decoding video packet with ffmpeg
  pjmedia/src/pjmedia-codec/ffmpeg_vid_codecs.c
Labels: component: pjmedia, type: bug

#3546 Fixed segmentation fault in pjmedia_vid_stream_destroy
  pjmedia/src/pjmedia/stream.c
  pjmedia/src/pjmedia/vid_stream.c
Labels: component: pjmedia, type: bug

#3549 don't assert when attempting to set PJ_DNS_RESOLVER_MAX_NS nameservers
  pjlib-util/src/pjlib-util/resolver.c
Labels: type: bug, component: pjlib-util

#3520 Clarify pjsip_inv_create_uac() doc for use case where app specifies the local SDP later
  pjsip/include/pjsip-ua/sip_inv.h
Labels: type: enhancement, component: pjsip

#3521 Fixed WAV player when there is unknown chunk
  pjmedia/src/pjmedia/wav_player.c
Labels: component: pjmedia, type: enhancement

#3522 Add SDP signaling for RTCP-XR
  pjsip/src/pjsua-lib/pjsua_media.c
Labels: type: enhancement, component: pjsua-lib

#3535 Fixed option to execute command to all buddies in pjsua sample app
  pjsip-apps/src/pjsua/pjsua_app_cli.c
  pjsip-apps/src/pjsua/pjsua_app_legacy.c
Labels: type: enhancement, component: applications

#3468 Add option to maintain payload type to codec mapping to make sure one payload type is not used by different codec
  pjmedia/include/pjmedia/codec.h
  pjmedia/include/pjmedia/config.h
  pjmedia/include/pjmedia/vid_codec.h
  pjmedia/src/pjmedia/codec.c
  pjmedia/src/pjmedia/sdp_neg.c
  pjmedia/src/pjmedia/vid_codec.c
Labels: component: pjmedia

#3554 Fix minor error: ffmpeg_frame_unref() missing return statement
  pjmedia/src/pjmedia-codec/ffmpeg_vid_codecs.c
Labels: component: pjmedia

#2929 Avoid ICE agents seeing different valid ICE candidate pairs
  pjnath/src/pjnath/ice_session.c
Labels: type: bug, component: pjnath

#3541 Implement merged requests detection
  pjsip/include/pjsip/sip_transaction.h
  pjsip/src/pjsip/sip_transaction.c
  pjsip/src/pjsua-lib/pjsua_core.c
Labels: type: enhancement, component: pjsip

#3547 Enable specifying format video when opening video preview using PJSUA2 API
  pjsip/include/pjsua2/media.hpp
  pjsip/src/pjsua2/media.cpp
Labels: component: pjsua2, note:api-break

#3548 Fixed local address returned by API pjsip_tpmgr_find_local_addr()
  pjsip/src/pjsip/sip_transport.c
Labels: type: bug, component: pjsip

#3552 Handle bad NAT type info in SDP
  pjsip/src/pjsua-lib/pjsua_call.c
Labels: component: pjsua-lib, type: bug

#3558 Add local addr info in SSL handshake failure log
  pjlib/src/pj/ssl_sock_imp_common.c
Labels: type: enhancement, component: pjlib

#3561 Fix frame copy for stereo mode in WebRTC-AEC3
  pjmedia/src/pjmedia/echo_webrtc_aec3.cpp
Labels: component: pjmedia, type: bug

#3553 Add close-on-exec flag
  pjlib-util/src/pjlib-util/dns_server.c
  pjlib-util/src/pjlib-util/http_client.c
  pjlib-util/src/pjlib-util/pcap.c
  pjlib/include/pj/activesock.h
  pjlib/include/pj/file_io.h
  pjlib/include/pj/os.h
  pjlib/include/pj/sock.h
  pjlib/include/pj/ssl_sock.h
  pjlib/src/pj/activesock.c
  pjlib/src/pj/file_io_ansi.c
  pjlib/src/pj/file_io_win32.c
  pjlib/src/pj/ioqueue_epoll.c
  pjlib/src/pj/ioqueue_kqueue.c
  pjlib/src/pj/os_core_unix.c
  pjlib/src/pj/os_core_win32.c
  pjlib/src/pj/sock_bsd.c
  pjlib/src/pj/sock_common.c
  pjlib/src/pj/sock_uwp.cpp
  pjlib/src/pj/ssl_sock_common.c
  pjlib/src/pj/ssl_sock_imp_common.c
  pjmedia/src/pjmedia/avi_player.c
  pjmedia/src/pjmedia/transport_udp.c
  pjmedia/src/pjmedia/wav_player.c
  pjmedia/src/pjmedia/wav_playlist.c
  pjmedia/src/pjmedia/wav_writer.c
  pjnath/src/pjnath/nat_detect.c
  pjnath/src/pjnath/stun_sock.c
  pjnath/src/pjnath/turn_sock.c
  pjsip/src/pjsip/sip_transport_tcp.c
  pjsip/src/pjsip/sip_transport_udp.c
  pjsip/src/pjsua-lib/pjsua_core.c
  pjsip/src/pjsua-lib/pjsua_media.c
  third_party/mp3/mp3_writer.c
Labels: type: enhancement, component: pjlib

#3566 Fixed PJSIP Developer's Guide link in sip_module doc
  pjsip/include/pjsip/sip_module.h
Labels: component: pjsip

#3567 Fixed assertion when starting video preview
  pjsip/src/pjsua-lib/pjsua_vid.c
Labels: component: pjsua-lib, type: bug

#3560 activesock: check remaining buffer size to avoid buffer overflow
  pjlib/src/pj/activesock.c
Labels: type: enhancement, component: pjlib

#3563 Add device id in audio device info
  pjmedia/include/pjmedia/audiodev.h
  pjmedia/src/pjmedia/audiodev.c
  pjsip/include/pjsua2/media.hpp
  pjsip/src/pjsua2/media.cpp
Labels: component: pjmedia, type: enhancement, component: pjsua2

#3559 Add telephone events if we maintain remote PT mapping
  pjmedia/src/pjmedia/codec.c
Labels: component: pjmedia, type: bug

#3556 Add ability in video stream to modify video codec bitrate on the fly
  pjmedia/include/pjmedia/vid_codec.h
  pjmedia/include/pjmedia/vid_stream.h
  pjmedia/src/pjmedia-codec/openh264.cpp
  pjmedia/src/pjmedia-codec/vid_toolbox.m
  pjmedia/src/pjmedia/vid_stream.c
  pjsip/include/pjsua-lib/pjsua.h
  pjsip/include/pjsua2/call.hpp
  pjsip/src/pjsua-lib/pjsua_vid.c
  pjsip/src/pjsua2/call.cpp
Labels: component: pjmedia, type: enhancement

#3555 Support for codec with non-integer ptime
  pjmedia/include/pjmedia-codec/opus.h
  pjmedia/include/pjmedia/codec.h
  pjmedia/include/pjmedia/jbuf.h
  pjmedia/src/pjmedia-codec/opus.c
  pjmedia/src/pjmedia/jbuf.c
  pjmedia/src/pjmedia/stream.c
  pjsip/include/pjsua2/media.hpp
  pjsip/src/pjsua2/media.cpp
Labels: component: pjmedia, type: enhancement, type: bug

#3557 Fixed incorrect RTCP stat calculation
  pjmedia/include/pjmedia/rtcp.h
  pjmedia/src/pjmedia/rtcp.c
  pjmedia/src/pjmedia/stream.c
Labels: component: pjmedia, type: enhancement

#3565 Update SDP o= and t= lines to use 64 bit unsigned integer
  pjlib/include/pj/limits.h
  pjlib/include/pj/string.h
  pjlib/include/pj/types.h
  pjlib/src/pj/string.c
  pjmedia/include/pjmedia/sdp.h
  pjmedia/src/pjmedia/sdp.c
Labels: component: pjmedia, type: enhancement

#3570 Generate media event upon Oboe error
  pjmedia/src/pjmedia-audiodev/oboe_dev.cpp
Labels: component: pjmedia, type: enhancement

#3569 Add PJSUA2 interface to get and put audio frames
  pjsip-apps/src/samples/pjsua2_demo.cpp
  pjsip-apps/src/swig/pjsua2.i
  pjsip-apps/src/swig/python/Makefile
  pjsip-apps/src/swig/python/test.py
  pjsip-apps/src/swig/symbols.i
  pjsip-apps/src/swig/symbols.lst
  pjsip/include/pjsua2/media.hpp
  pjsip/include/pjsua2/types.hpp
  pjsip/src/pjsua2/media.cpp
Labels: type: enhancement, component: pjsua2

#3583 Locking fix so that SSL_shutdown and SSL_write are not called at same time
  pjlib/src/pj/ssl_sock_ossl.c
Labels: type: bug, component: pjlib
