Repository pjsip/pjproject, pull requests merged in 2023-02, with the labels that each got.

#3344 Hangup not yet confirmed outgoing calls in IP change
  pjsip/src/pjsua-lib/pjsua_acc.c
Labels: type: enhancement, component: pjsua-lib

#3357 Fix string DISCONNCTD
  pjsip/src/pjsip-ua/sip_inv.c
Labels: component: pjsip

#3355 Fixed cli_get_info() definition
  pjsip-apps/src/pjsua/pjsua_app_cli.c
Labels: type: bug, component: applications

#3349 Optimize memory usage for SRTP ROC checking functionality
  pjsip/include/pjsua-lib/pjsua_internal.h
  pjsip/src/pjsua-lib/pjsua_aud.c
  pjsip/src/pjsua-lib/pjsua_media.c
  pjsip/src/pjsua-lib/pjsua_vid.c
Labels: type: enhancement, component: pjsua-lib

#3356 Update account config's contact_rewrite doc
  pjsip-apps/src/pjsua/pjsua_app_config.c
  pjsip/include/pjsua-lib/pjsua.h
  pjsip/include/pjsua2/account.hpp
Labels: component: pjsua-lib, component: pjsua2

#3354 Fixed log formatting when printing RTP timestamp
  pjmedia/src/pjmedia/rtp.c
Labels: component: pjmedia

#3353 Fix mingw build due to usage of strtok_r
  pjsip/src/test/test.c
Labels: component: pjsip

#3352 Remove assertion when event package exists
  pjsip/src/pjsip-simple/evsub.c
Labels: component: pjsip

#3351 Fixed crash if jb max size equals frame ptime
  pjmedia/src/pjmedia/stream.c
  pjmedia/src/pjmedia/vid_stream.c
  pjsip-apps/src/pjsua/pjsua_app_config.c
Labels: component: pjmedia, type: bug

#3359 Handle invalid SDP when call is in early state
  pjsip/include/pjsip-ua/sip_inv.h
  pjsip/src/pjsip-ua/sip_inv.c
  tests/pjsua/scripts-sipp/uas-answer-183-wrong-attr.py
  tests/pjsua/scripts-sipp/uas-answer-183-wrong-attr.xml
Labels: component: pjsip

#3369 [Issue 3367 fix] Sipecho updates pj status properly when responding to invalid incoming message with status 400
  pjsip-apps/src/samples/sipecho.c
Labels: type: bug

#3371 Fix error when adding buddy on pygui
  pjsip-apps/src/pygui/buddy.py
Labels: type: bug

#3374 Incorrect pjlib-test on GitHub CI
  .github/workflows/ci-linux.yml
  .github/workflows/ci-mac.yml
  .github/workflows/ci-win.yml
  Makefile
  pjlib/src/pjlib-test/main.c
  pjlib/src/pjlib-test/sleep.c
  pjlib/src/pjlib-test/test.c
Labels: type: bug, component: unit-tests

#3373 Make sure that NOTIFY tdata is set before sending it
  pjsip/src/pjsip-simple/evsub.c
Labels: type: bug

#3383 Fix assertion in sipecho sample due to sending response statelessly on a stateful transaction
  pjsip-apps/src/samples/sipecho.c
  pjsip/src/pjsip/sip_util.c
Labels: type: bug, component: applications

#3382 Fix SDP m= line parser, verify port & port count are numeric
  pjmedia/src/pjmedia/sdp.c
  pjsip-apps/src/samples/sipecho.c
  tests/fuzz/seed/fuzz-sdp_seed_corpus.zip
Labels: component: pjmedia, type: bug

#3386 Formulate headers in new request upon receiving 3xx
  pjsip/src/pjsip-ua/sip_inv.c
Labels: component: pjsip

#3360 FIx Android Mediacodec h264 SPS/PPS decoder config
  pjmedia/src/pjmedia-codec/and_vid_mediacodec.cpp
Labels: type: bug

#3358 Fixed ioq winnt build failure
  pjlib/src/pj/ioqueue_winnt.c
Labels: type: bug, component: pjlib

#3391 make the timer more precise
  pjlib/src/pj/timer.c
Labels: component: pjlib

#3392 Add API to shutdown TURN session with the appropriate error status
  pjnath/include/pjnath/turn_session.h
  pjnath/src/pjnath/turn_session.c
  pjnath/src/pjnath/turn_sock.c
Labels: component: pjnath

#3395 Fixed buffer memory usage in video conference
  pjmedia/src/pjmedia/vid_conf.c
Labels: component: pjmedia, type: bug

#3350 Fixed native iOS preview issue
  pjmedia/src/pjmedia-videodev/darwin_dev.m
  pjsip-apps/src/pjsua/ios/ipjsua/ipjsuaAppDelegate.m
  pjsip/src/pjsua-lib/pjsua_vid.c
Labels: component: pjsua-lib, type: bug, component: pjmedia-videodev

#3399 Add Android audio driver names
  pjmedia/src/pjmedia-audiodev/android_jni_dev.c
  pjmedia/src/pjmedia-audiodev/oboe_dev.cpp
  pjmedia/src/pjmedia-audiodev/opensl_dev.c
Labels: type: bug, component: pjmedia-audiodev

#3396 Use better initial values for pool initialization
  pjmedia/include/pjmedia/config.h
  pjmedia/src/pjmedia-codec/gsm.c
  pjmedia/src/pjmedia-codec/l16.c
  pjmedia/src/pjmedia-codec/speex_codec.c
  pjmedia/src/pjmedia-videodev/colorbar_dev.c
  pjmedia/src/pjmedia-videodev/darwin_dev.m
  pjmedia/src/pjmedia-videodev/sdl_dev.c
  pjmedia/src/pjmedia/g711.c
  pjsip/include/pjsip/sip_config.h
Labels: type: enhancement, component: common

#3394 Allow dialog establishment when remote does not provide To tag
  pjsip/src/pjsip/sip_dialog.c
  tests/pjsua/scripts-sipp/uas-answer-200-without-to-tag.py
  tests/pjsua/scripts-sipp/uas-answer-200-without-to-tag.xml
Labels: type: bug, component: pjsip

#3403 Fixed incorrect buffer count
  pjlib/src/pjlib-test/main_rtems.c
Labels: type: bug, component: unit-tests

#3402 Misuse PJ_DECL in some function define
  pjlib-util/src/pjlib-util/cli.c
  pjmedia/src/pjmedia/clock_thread.c
  pjmedia/src/pjmedia/vid_port.c
  pjnath/src/pjnath/stun_sock.c
  pjnath/src/pjnath/upnp.c
  pjnath/src/pjturn-srv/allocation.c
  pjsip/src/pjsip/sip_transport.c
Labels: type: bug, component: common

#3398 Fixed video port's format change race
  pjmedia/src/pjmedia/vid_port.c
Labels: component: pjmedia, type: bug

#3401 Fixed SDP fmtp parsing
  pjmedia/src/pjmedia/stream_common.c
Labels: component: pjmedia, type: bug

#3393 Terminate dialog after receiving 481/408 response for UPDATE in early dialog
  pjmedia/src/pjmedia/sdp_neg.c
  pjsip/src/pjsip-ua/sip_inv.c
  tests/pjsua/scripts-sipp/uac-early-recv-update-481.py
  tests/pjsua/scripts-sipp/uac-early-recv-update-481.xml
Labels: component: pjmedia, type: bug, component: pjsip

#3408 Fix multiple definition of pj_time_local_to_gmt() and pj_time_gmt_to_local()
  pjlib/src/pj/os_time_common.c
Labels: type: bug, component: pjlib
