Repository pjsip/pjproject, pull requests merged in 2023-09, with the labels that each got.

#3675 Docs: more fixes on sample/source links
  pjlib-util/docs/doxygen.cfg
  pjlib/docs/doxygen.cfg
  pjlib/include/pj/except.h
  pjlib/include/pj/list.h
  pjlib/include/pj/log.h
  pjlib/include/pj/os.h
  pjlib/include/pj/pool.h
  pjlib/include/pj/string.h
  pjmedia/docs/doxygen.cfg
  pjmedia/include/pjmedia/port.h
  pjmedia/include/pjmedia/transport.h
  pjmedia/include/pjmedia/transport_srtp.h
  pjnath/docs/doc_ice.h
  pjnath/docs/doc_samples.h
  pjnath/docs/doxygen.cfg
  pjsip/docs/doxygen.cfg
  pjsip/include/pjsua-lib/pjsua.h
Labels: type: task, component: common

#3680 Fix race condition in registration in updating last transport used
  pjsip/include/pjsip-ua/sip_regc.h
  pjsip/src/pjsip-ua/sip_reg.c
  pjsip/src/pjsip/sip_transport.c
Labels: type: bug, component: pjsip

#3673 Update video handling in Android PJSUA2/SWIG sample apps
  pjsip-apps/src/swig/java/android/app-kotlin/build.gradle
  pjsip-apps/src/swig/java/android/app-kotlin/src/main/AndroidManifest.xml
  pjsip-apps/src/swig/java/android/app-kotlin/src/main/java/org/pjsip/pjsua2/app_kotlin/MainActivity.kt
  pjsip-apps/src/swig/java/android/app-kotlin/src/main/res/layout/activity_main.xml
  pjsip-apps/src/swig/java/android/app/build.gradle
  pjsip-apps/src/swig/java/android/app/src/main/AndroidManifest.xml
  pjsip-apps/src/swig/java/android/app/src/main/java/org/pjsip/pjsua2/app/CallActivity.java
  pjsip-apps/src/swig/java/android/app/src/main/java/org/pjsip/pjsua2/app/MainActivity.java
  pjsip-apps/src/swig/java/android/app/src/main/java/org/pjsip/pjsua2/app/MyApp.java
  pjsip-apps/src/swig/java/android/app/src/main/res/layout/activity_call.xml
  pjsip-apps/src/swig/java/android/build.gradle
  pjsip-apps/src/swig/java/android/gradle/wrapper/gradle-wrapper.properties
  pjsip-apps/src/swig/java/android/pjsua2/build.gradle
  pjsip-apps/src/swig/java/android/pjsua2/src/main/AndroidManifest.xml
  pjsip-apps/src/swig/java/sample.java
  pjsip/src/pjsua2/media.cpp
Labels: type: enhancement, component: applications

#3381 Add video to iOS swift pjsua2 sample app
  pjsip-apps/src/pjsua2/ios-swift-pjsua2/ios-swift-pjsua2.xcodeproj/project.pbxproj
  pjsip-apps/src/pjsua2/ios-swift-pjsua2/ios-swift-pjsua2.xcodeproj/xcshareddata/xcschemes/ios-swift-pjsua2.xcscheme
  pjsip-apps/src/pjsua2/ios-swift-pjsua2/ios-swift-pjsua2/AppDelegate.swift
  pjsip-apps/src/pjsua2/ios-swift-pjsua2/ios-swift-pjsua2/Controller/ActiveViewController.swift
  pjsip-apps/src/pjsua2/ios-swift-pjsua2/ios-swift-pjsua2/Controller/IncomingViewController.swift
  pjsip-apps/src/pjsua2/ios-swift-pjsua2/ios-swift-pjsua2/Controller/ViewController.swift
  pjsip-apps/src/pjsua2/ios-swift-pjsua2/ios-swift-pjsua2/Info.plist
  pjsip-apps/src/pjsua2/ios-swift-pjsua2/ios-swift-pjsua2/Model/Model.swift
  pjsip-apps/src/pjsua2/ios-swift-pjsua2/ios-swift-pjsua2/PJSua2/CustomPJSUA2.cpp
  pjsip-apps/src/pjsua2/ios-swift-pjsua2/ios-swift-pjsua2/PJSua2/CustomPJSUA2.hpp
  pjsip-apps/src/pjsua2/ios-swift-pjsua2/ios-swift-pjsua2/PJSua2/wrapper.h
  pjsip-apps/src/pjsua2/ios-swift-pjsua2/ios-swift-pjsua2/PJSua2/wrapper.mm
  pjsip-apps/src/pjsua2/ios-swift-pjsua2/ios-swift-pjsua2/View/Base.lproj/LaunchScreen.storyboard
  pjsip-apps/src/pjsua2/ios-swift-pjsua2/ios-swift-pjsua2/View/Base.lproj/Main.storyboard
Labels: type: enhancement, component: applications

#3695 Suppress SIGPIPE for sendto()
  pjlib/src/pj/sock_bsd.c
Labels: type: bug, component: pjlib

#3679 update rust bindgen 0.60.1 -> 0.66.1
  pjsip-apps/src/rust/demo/Cargo.lock
  pjsip-apps/src/rust/pjsua/Cargo.toml
Labels: component: applications

#3705 Add option to set RX telephone-event PT
  pjsip/include/pjsua-lib/pjsua.h
  pjsip/include/pjsua2/call.hpp
  pjsip/src/pjsua-lib/pjsua_aud.c
  pjsip/src/pjsua2/call.cpp
  pjsip/src/pjsua2/endpoint.cpp
Labels: type: enhancement, component: pjsua-lib, component: pjsua2

#3708 Set default SSL sockopt param to have TCP_NODELAY for GnuTLS backend
  pjlib/include/pj/ssl_sock.h
  pjlib/src/pj/ssl_sock_common.c
  pjsip/include/pjsip/sip_transport_tls.h
  pjsip/src/pjsip/sip_transport_tls.c
Labels: type: enhancement, component: pjlib

#3714 Fixed deadlock between SIP transaction and dialog
  pjsip/src/pjsip/sip_dialog.c
Labels: type: bug, component: pjsip
