Repository pjsip/pjproject, pull requests merged in 2023-03, with the labels that each got.

#3413 Check tp_ref validity before referencing it in pjsip_tpmgr_acquire_transport2()
  pjsip/src/pjsip/sip_transport.c
Labels: type: bug, component: pjsip

#3415 Add doc to pjsua_config::enable_unsolicited_mwi and UaConfig::mwiUnsolicitedEnabled
  pjsip/include/pjsua-lib/pjsua.h
  pjsip/include/pjsua2/endpoint.hpp
Labels: component: pjsua-lib

#3417 Add function for printing SDP attributes
  pjmedia/include/pjmedia/sdp.h
  pjmedia/src/pjmedia/sdp.c
Labels: component: pjmedia, type: enhancement

#3423 Limit the number of searched blocks searched for pool allocation
  pjlib/include/pj/config.h
  pjlib/src/pj/pool.c
  pjlib/src/pj/pool_caching.c
  pjmedia/src/pjmedia-codec/opus.c
  pjmedia/src/pjmedia-codec/vid_toolbox.m
  pjmedia/src/pjmedia/stream.c
  pjmedia/src/pjmedia/vid_stream.c
  pjsip/include/pjsip/sip_config.h
  pjsip/src/pjsip-ua/sip_inv.c
  pjsip/src/pjsip/sip_transport.c
Labels: type: enhancement, component: pjlib

#3389 [Fix #3385 Assertion error] return status for proper status checking afterwards
  pjsip-apps/src/samples/simpleua.c
Labels: component: applications

#3275 Rust bindings for pjsua
  pjsip-apps/src/rust/demo/.gitignore
  pjsip-apps/src/rust/demo/Cargo.lock
  pjsip-apps/src/rust/demo/Cargo.toml
  pjsip-apps/src/rust/demo/src/main.rs
  pjsip-apps/src/rust/pjsua/.gitignore
  pjsip-apps/src/rust/pjsua/Cargo.toml
  pjsip-apps/src/rust/pjsua/build.rs
  pjsip-apps/src/rust/pjsua/src/lib.rs
Labels: type: enhancement, component: applications

#3422 Add more fuzzing tests
  tests/fuzz/Makefile
  tests/fuzz/fuzz-dns.c
  tests/fuzz/fuzz-h264.c
  tests/fuzz/fuzz-rtcp.c
  tests/fuzz/fuzz-vpx.c
  tests/fuzz/seed/fuzz-dns_seed_corpus.zip
  tests/fuzz/seed/fuzz-h264_seed_corpus.zip
  tests/fuzz/seed/fuzz-rtcp_seed_corpus.zip
  tests/fuzz/seed/fuzz-vpx_seed_corpus.zip
Labels: component: unit-tests

#3429 Fix SSRC of media source in generating RTCP-FB
  pjmedia/src/pjmedia/rtcp_fb.c
Labels: component: pjmedia, type: bug

#3435 don't shadow local function parameter
  pjlib/src/pj/lock.c
Labels: component: pjlib

#3434 Fixed buffer overflow in h264 unpacketizer
  pjmedia/src/pjmedia-codec/h264_packetizer.c
Labels: component: pjmedia, type: bug

#3437 Fixed pjsua app cli redirection answer (3xx)
  pjsip-apps/src/pjsua/pjsua_app_cli.c
Labels: type: bug, component: applications

#3436 makefile: use $(MAKE) replace make (for BSD compatibility)
  Makefile
  build/rules.mak
  self-test.mak
Labels: component: common

#3443 Fix scan-build (Clang Static Analyzer) build fail
  aconfigure
  aconfigure.ac
  build/cc-auto.mak.in
Labels: component: common

#3412 Return error when calling pjsua_call_get_stream_info()/pjsua_call_get_stream_stat() on an inactive stream
  pjsip/src/pjsua-lib/pjsua_aud.c
Labels: component: pjsua-lib, type: bug

#3446 fuzz: PJMEDIA_HAS_VIDEO macro protect
  tests/fuzz/fuzz-h264.c
  tests/fuzz/fuzz-vpx.c
Labels: component: unit-tests

#3445 Respond with ACK first before hanging up call for dialog fork
  pjsip/include/pjsip/sip_dialog.h
  pjsip/src/pjsip/sip_dialog.c
  pjsip/src/pjsua-lib/pjsua_call.c
  tests/pjsua/scripts-sipp/uas-forked-200.xml
Labels: component: pjsip

#3438 Modify default value of PJ_MAX_HOSTNAME
  pjlib/include/pj/config.h
Labels: component: pjlib

#3442 Check if interface address returned by pj_getipinterface() is link-local address
  pjlib/src/pj/sock_common.c
Labels: component: pjlib

#3453 Fixed adding note to a tuple when adding RPID element
  pjsip/include/pjsip-simple/rpid.h
  pjsip/src/pjsip-simple/rpid.c
Labels: type: bug, component: pjsip

#3452 Fixed TURN allocation parameter
  pjnath/src/pjnath/turn_session.c
Labels: type: bug, component: pjnath

#3457 Consider session terminated on 408 and 481 response
  pjsip/src/pjsip/sip_transaction.c
Labels: type: bug, component: pjsip

#3447 zero initialize the message buffer
  pjmedia/src/pjmedia-audiodev/errno.c
Labels: component: pjmedia, type: bug

#3458 Handle 2nd INVITE when in early state
  pjsip/src/pjsip-ua/sip_inv.c
Labels: type: bug, component: pjsip
