Repository pjsip/pjproject, pull requests merged in 2023-10, with the labels that each got.

#3722 Fix build errors & warnings on MSVC2005
  pjlib/src/pj/string.c
  pjlib/src/pjlib-test/sleep.c
  pjmedia/src/pjmedia/codec.c
  pjmedia/src/pjmedia/sdp_neg.c
  pjmedia/src/pjmedia/stream.c
  pjmedia/src/pjmedia/vid_codec.c
  pjmedia/src/test/mips_test.c
  pjsip-apps/src/pjsua/pjsua_app_cli.c
  pjsip-apps/src/pjsua/pjsua_app_legacy.c
  pjsip/src/pjsip/sip_transport_tls.c
  pjsip/src/pjsua2/media.cpp
Labels: type: task, component: common

#3719 Call pjmedia_srtp_deinit_lib() when srtp_init() fail
  pjmedia/src/pjmedia/transport_srtp.c
Labels: component: pjmedia

#3683 Add on_rejected_incoming_call() callback
  pjsip/include/pjsua-lib/pjsua.h
  pjsip/include/pjsua2/endpoint.hpp
  pjsip/src/pjsua-lib/pjsua_call.c
  pjsip/src/pjsua2/endpoint.cpp
Labels: component: pjsua-lib

#3723 Fix pjsip_mwi_notify() may be called without body
  pjsip/include/pjsip-simple/mwi.h
  pjsip/src/pjsip-simple/mwi.c
Labels: type: bug, component: pjsip

#3727 Fix to warning 'io_read': 'void' function returning a value MSVC(C4098)
  pjlib/src/pj/ssl_sock_imp_common.h
Labels: component: pjlib

#3731 Changed DTLS transport to use recursive mutex, instead of a simple one
  pjmedia/src/pjmedia/transport_srtp_dtls.c
Labels: component: pjmedia

#3726 Added missing pj_thread_destroy for media event manager.
  pjmedia/src/pjmedia/event.c
Labels: component: pjmedia, type: bug

#3733 Fixed bug in SRTP ROC checking when using ICE
  pjsip/src/pjsua-lib/pjsua_media.c
Labels: component: pjsua-lib, type: bug

#3730 Fixed race condition between TURN session destroy and incoming data processing
  pjnath/src/pjnath/turn_sock.c
Labels: type: bug, component: pjnath

#3729 Fixed issue when using setting to use AVPF and receive AVP
  pjmedia/src/pjmedia/sdp_neg.c
Labels: component: pjmedia, type: enhancement

#3738 Fixed buffer overflow when using Video Toolbox
  pjmedia/src/pjmedia-codec/vid_toolbox.m
Labels: component: pjmedia, type: bug

#3747 Premature destroy in NAT detection
  pjnath/src/pjnath/nat_detect.c
Labels: type: bug, component: pjnath

#3744 Add TLS initial receive timeout for server connection
  pjsip/include/pjsip/sip_config.h
  pjsip/include/pjsip/sip_transport.h
  pjsip/include/pjsip/sip_transport_tcp.h
  pjsip/include/pjsip/sip_transport_tls.h
  pjsip/src/pjsip/sip_config.c
  pjsip/src/pjsip/sip_transport.c
  pjsip/src/pjsip/sip_transport_tcp.c
  pjsip/src/pjsip/sip_transport_tls.c
Labels: component: pjsip
