Repository pjsip/pjproject, pull requests merged in 2023-07, with the labels that each got.

#3571 Implement DTLS-SRTP for RTCP
  pjmedia/src/pjmedia/transport_srtp.c
  pjmedia/src/pjmedia/transport_srtp_dtls.c
  pjmedia/src/pjmedia/transport_srtp_sdes.c
  pjmedia/src/pjmedia/transport_udp.c
Labels: component: pjmedia, type: enhancement

#3577 Don't call SSL_shutdown() when receiving SSL_ERROR_SYSCALL or SSL_ERROR_SSL
  pjlib/src/pj/ssl_sock_imp_common.c
  pjlib/src/pj/ssl_sock_imp_common.h
  pjlib/src/pj/ssl_sock_ossl.c
Labels: component: pjlib

#3608 Bug in RTCP-FB NACK packet generation
  pjmedia/src/pjmedia/stream.c
Labels: component: pjmedia, type: bug

#3610 Update QoS DSCP map to follow RFC4594 guidelines
  pjlib/src/pj/sock_qos_common.c
Labels: type: enhancement, component: pjlib

#3599 Only validate public address when IP address is supplied on TCP/TLS
  pjsip/include/pjsip/sip_transport_tcp.h
  pjsip/include/pjsip/sip_transport_tls.h
  pjsip/src/pjsip/sip_transport_tcp.c
  pjsip/src/pjsip/sip_transport_tls.c
Labels: component: pjsip

#3612 Support Python3 for github CI
  .github/workflows/ci-linux.yml
  .github/workflows/ci-mac.yml
  .github/workflows/ci-win.yml
  tests/pjsua/inc_cfg.py
  tests/pjsua/inc_sip.py
  tests/pjsua/inc_util.py
  tests/pjsua/mod_call.py
  tests/pjsua/mod_media_playrec.py
  tests/pjsua/mod_pesq.py
  tests/pjsua/mod_pres.py
  tests/pjsua/mod_recvfrom.py
  tests/pjsua/mod_run.py
  tests/pjsua/mod_sendto.py
  tests/pjsua/mod_sipp.py
  tests/pjsua/run.py
  tests/pjsua/runall.py
Labels: component: unit-tests

#3624 Update transport config docs regarding QoS settings for TLS
  pjsip/include/pjsua-lib/pjsua.h
  pjsip/include/pjsua2/siptypes.hpp
Labels: type: enhancement, component: pjsua-lib, component: pjsua2

#3625 Fix compile errors on old compilers
  pjsip/src/pjsua2/media.cpp
  third_party/build/srtp/libsrtp.vcproj
  third_party/srtp/srtp/srtp.c
Labels: type: bug, component: third-party, component: pjsua2

#3636 Split dropped packet transport logging
  pjsip/src/pjsip/sip_transport.c
Labels: type: enhancement, component: pjsip

#3641 Fixed pjmedia wsola test failure
  pjmedia/src/pjmedia/wsola.c
  pjmedia/src/test/mips_test.c
Labels: type: bug, component: unit-tests

#3643 Fixed potentially duplicate RTCP FB attribute on response
  pjsip/src/pjsua-lib/pjsua_media.c
Labels: component: pjsua-lib
