Repository pjsip/pjproject, pull requests merged in 2023-12, with the labels that each got.

#3794 Use of uninitialized values
  pjsip/src/pjsua-lib/pjsua_core.c
Labels: component: pjsua-lib

#3758 Switch LibreSSL code path to utilizing OpenSSL 1.1 API
  pjlib/src/pj/ssl_sock_ossl.c
Labels: type: enhancement, component: pjlib

#3801 Fixed deadlock between stream and ICE
  pjmedia/src/pjmedia/stream.c
  pjmedia/src/pjmedia/vid_stream.c
Labels: component: pjmedia, type: bug

#3802 Fixed SDP media transport protocol info parsing
  pjmedia/src/pjmedia/sdp.c
Labels: component: pjmedia, type: bug

#3766 build: use C++ compiler for linking
  aconfigure
  aconfigure.ac
Labels: type: bug, component: devops

#3805 Prevent immediate tsx termination upon transport error
  pjsip/src/pjsip/sip_transaction.c
Labels: type: bug, component: pjsip

#3811 Fixed CI build failure due to Python setup
  .github/workflows/ci-mac.yml
Labels: component: devops

#3813 Fixed printf format warnings
  pjlib-util/src/pjlib-util-test/http_client.c
  pjlib-util/src/pjlib-util/resolver.c
  pjlib-util/src/pjlib-util/stun_simple.c
  pjlib-util/src/pjlib-util/stun_simple_client.c
  pjlib/src/pj/hash.c
  pjlib/src/pj/pool.c
  pjlib/src/pj/pool_caching.c
  pjlib/src/pj/timer.c
  pjlib/src/pjlib-test/ioq_perf.c
  pjlib/src/pjlib-test/pool.c
  pjlib/src/pjlib-test/sock.c
  pjlib/src/pjlib-test/ssl_sock.c
  pjlib/src/pjlib-test/timer.c
  pjmedia/src/pjmedia-codec/and_aud_mediacodec.cpp
  pjmedia/src/pjmedia-codec/and_vid_mediacodec.cpp
  pjmedia/src/pjmedia-codec/openh264.cpp
  pjmedia/src/pjmedia-codec/opus.c
  pjmedia/src/pjmedia-codec/vid_toolbox.m
  pjmedia/src/pjmedia-codec/vpx.c
  pjmedia/src/pjmedia/transport_srtp_dtls.c
  pjmedia/src/pjmedia/vid_port.c
  pjmedia/src/pjmedia/wav_writer.c
  pjmedia/src/test/codec_vectors.c
  pjnath/src/pjnath-test/server.c
  pjnath/src/pjnath/stun_msg.c
  pjnath/src/pjturn-srv/allocation.c
  pjsip/src/pjsip-ua/sip_100rel.c
  pjsip/src/pjsip/sip_endpoint.c
  pjsip/src/pjsip/sip_transport.c
  pjsip/src/test/test.c
Labels: component: common

#3815 Fixed deprecation of Account.findBuddy() in pygui sample app
  pjsip-apps/src/pygui/chat.py
Labels: type: bug, component: python

#3809 Fix return value for pjsua_set_snd_dev2() with no sound device option
  pjsip/src/pjsua-lib/pjsua_aud.c
Labels: component: pjsua-lib
