Repository pjsip/pjproject, pull requests merged in 2023-01, with the labels that each got.

#3322 Increment origin version when there's a change in local SDP answer
  pjmedia/include/pjmedia/config.h
  pjmedia/src/pjmedia/sdp_neg.c
  pjmedia/src/test/sdp_neg_test.c
Labels: component: pjmedia

#3326 Improve POSIX shell portability
  aconfigure
  aconfigure.ac
Labels: component: common

#3320 Support different From URI in outgoing calls
  pjsip/include/pjsua-lib/pjsua.h
  pjsip/include/pjsua2/siptypes.hpp
  pjsip/src/pjsua-lib/pjsua_call.c
  pjsip/src/pjsua-lib/pjsua_core.c
  pjsip/src/pjsua-lib/pjsua_im.c
  pjsip/src/pjsua2/siptypes.cpp
Labels: type: enhancement, component: pjsua-lib, component: pjsua2

#3332 Allow transport other than TLS to be used for SIPS scheme
  pjsip/include/pjsip/sip_config.h
  pjsip/include/pjsip/sip_transport.h
  pjsip/src/pjsip/sip_transport.c
  pjsip/src/pjsip/sip_util.c
  pjsip/src/pjsua-lib/pjsua_acc.c
Labels: type: enhancement, component: pjsua-lib, component: pjsip

#3325 Old capture device not removed when switching video capture device
  pjmedia/src/pjmedia/vid_conf.c
Labels: component: pjmedia, type: bug

#3310 TLS uses remote IP address instead of hostname when sending BYE
  pjsip/include/pjsip/sip_dialog.h
  pjsip/src/pjsip/sip_dialog.c
Labels: type: bug, component: pjsip

#3339 Separate CI per platform
  .github/workflows/ci-linux.yml
  .github/workflows/ci-mac.yml
  .github/workflows/ci-win.yml
  .gitignore
  Makefile
  tests/pjsua/runall.py
Labels: component: devops

#3336 Extend algorithm to find account for incoming calls in PJSUA(2)
  pjsip/src/pjsua-lib/pjsua_acc.c
Labels: type: enhancement, component: pjsua-lib

#3279 Add ability to retrieve ioqueue OS handle
  pjlib/include/pj/ioqueue.h
  pjlib/src/pj/ioqueue_dummy.c
  pjlib/src/pj/ioqueue_epoll.c
  pjlib/src/pj/ioqueue_kqueue.c
  pjlib/src/pj/ioqueue_select.c
  pjlib/src/pj/ioqueue_symbian.cpp
  pjlib/src/pj/ioqueue_uwp.cpp
  pjlib/src/pj/ioqueue_winnt.c
  pjlib/src/pjlib-test/ioq_udp.c
Labels: type: enhancement, component: pjlib

#3338 Add NV12 converter (to I420) in Android video device
  pjmedia/src/pjmedia-videodev/android_dev.c
Labels: type: enhancement, component: pjmedia-videodev

#3343 Fix SIP-module documentation regarding return values
  pjsip/include/pjsip/sip_module.h
Labels: component: pjsip

#2995 Added PRACK SDP offer processing
  pjsip/src/pjsip-ua/sip_100rel.c
  pjsip/src/pjsip-ua/sip_inv.c
  tests/pjsua/scripts-sipp/uac-prack-sdp-decline.py
  tests/pjsua/scripts-sipp/uac-prack-sdp-decline.xml
  tests/pjsua/scripts-sipp/uac-prack-sdp-offer.py
  tests/pjsua/scripts-sipp/uac-prack-sdp-offer.xml
Labels: type: enhancement, component: pjsip

#3225 Build Python Wheels via Makefile
  pjsip-apps/src/swig/python/Makefile
  pjsip-apps/src/swig/python/setup.py
Labels: type: enhancement, component: applications

#3071 Fix compilation problem due to pthread_setspecific (#3068)
  pjlib/src/pj/log.c
  pjlib/src/pj/os_core_unix.c
Labels: type: bug, component: pjlib
