Repository pjsip/pjproject, pull requests merged in 2024-05, with the labels that each got.

#3946 Suppress warning of uninitialized value in fuzz-crypto
  tests/fuzz/fuzz-crypto.c
Labels: component: unit-tests

#3942 Print log after sending SIP message successfully
  pjsip/src/pjsip/sip_transport.c
Labels: type: enhancement, component: pjsip

#3947 Fixed CI Mac build failure
  .github/workflows/ci-mac.yml
Labels: component: devops

#3945 Update Android JNI audio device to use 16bit PCM only
  pjmedia/src/pjmedia-audiodev/android_jni_dev.c
Labels: type: enhancement, component: pjmedia-audiodev

#3867 Add TLS/SSL backend: Windows Schannel
  .github/workflows/ci-win.yml
  pjlib/build/pjlib.vcxproj
  pjlib/include/pj/config.h
  pjlib/include/pj/ssl_sock.h
  pjlib/src/pj/activesock.c
  pjlib/src/pj/ssl_sock_common.c
  pjlib/src/pj/ssl_sock_imp_common.c
  pjlib/src/pj/ssl_sock_imp_common.h
  pjlib/src/pj/ssl_sock_schannel.c
  pjlib/src/pjlib-test/ssl_sock.c
  pjnath/include/pjnath/turn_sock.h
  pjnath/src/pjnath/turn_sock.c
  pjsip-apps/src/swig/symbols.i
  pjsip-apps/src/swig/symbols.lst
  pjsip/include/pjsip/sip_transport_tls.h
  pjsip/include/pjsua2/siptypes.hpp
  pjsip/src/pjsip/sip_transport_tls.c
  pjsip/src/pjsua2/siptypes.cpp
Labels: type: enhancement, component: pjlib

#3960 pjsip_find_msg: Log warning if Content-Length field not found
  pjsip/src/pjsip/sip_parser.c
Labels: type: enhancement, component: pjsip

#3962 Fix device id in audio device info
  pjmedia/src/pjmedia/audiodev.c
Labels: component: pjmedia, type: bug

#3970 Assertion on call hangup from DTMF callback
  pjmedia/src/pjmedia/stream.c
  pjmedia/src/pjmedia/transport_udp.c
Labels: component: pjmedia, type: bug

#3972 Fix yaml error in github feature template
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: type: bug, component: devops

#3976 Fix version string in Python setup
  pjsip-apps/src/swig/python/setup.py
Labels: type: bug, component: python

#3975 Prevent pjmedia_codec_param.info.enc_ptime_denum division by zero in stream
  pjmedia/src/pjmedia/stream.c
Labels: component: pjmedia, type: bug
