Repository pjsip/pjproject, pull requests merged in 2024-06, with the labels that each got.

#3949 Lyra support
  aconfigure
  aconfigure.ac
  pjmedia/build/os-auto.mak.in
  pjmedia/build/pjmedia_codec.vcxproj
  pjmedia/build/pjmedia_codec.vcxproj.filters
  pjmedia/include/pjmedia-codec.h
  pjmedia/include/pjmedia-codec/config.h
  pjmedia/include/pjmedia-codec/config_auto.h.in
  pjmedia/include/pjmedia-codec/lyra.h
  pjmedia/include/pjmedia-codec/types.h
  pjmedia/src/pjmedia-codec/audio_codecs.c
  pjmedia/src/pjmedia-codec/lyra.cpp
  pjsip/include/pjsua2/endpoint.hpp
  pjsip/include/pjsua2/media.hpp
  pjsip/src/pjsua2/endpoint.cpp
  pjsip/src/pjsua2/media.cpp
Labels: component: pjmedia

#3992 Fixed WebRTC AEC&AEC3 build for ARMv7
  aconfigure
  aconfigure.ac
Labels: type: bug, component: third-party

#3991 Prevent race condition within DNS callbacks in pjsip resolver
  pjsip/src/pjsip/sip_resolve.c
Labels: type: bug, component: pjsip

#3990 pj_dns_srv_resolve() returns query object when it shouldn't
  pjlib-util/include/pjlib-util/resolver.h
  pjlib-util/include/pjlib-util/srv_resolver.h
  pjlib-util/src/pjlib-util/srv_resolver.c
Labels: component: pjlib-util

#3995 Replace Trac links in the doc
  pjlib/include/pj/lock.h
  pjmedia/include/pjmedia/config.h
Labels: component: pjmedia, component: pjlib

#3996 Make sure pj_dns_resolver_start_query() returns NULL for query object when returning from cache
  pjlib-util/src/pjlib-util/resolver.c
Labels: type: bug, component: pjlib-util

#3998 Fix bug when writing empty string to log
  pjlib/src/pj/log.c
  pjlib/src/pjlib-test/os.c
  pjlib/src/pjlib-test/test.c
  pjlib/src/pjlib-test/test.h
Labels: type: bug, component: pjlib

#3999 API to get DNS server's bound address to allow specifying zero as port number
  pjlib-util/include/pjlib-util/dns_server.h
  pjlib-util/src/pjlib-util/dns_server.c
Labels: type: enhancement, component: pjlib-util
