Repository pjsip/pjproject, pull requests merged in 2024-04, with the labels that each got.

#3905 Fixed DTLS clock stoppage race
  pjmedia/src/pjmedia/transport_srtp_dtls.c
Labels: component: pjmedia, type: bug

#3910 Improve IP address change IPv4 <-> IPv6
  pjsip-apps/src/pjsua/pjsua_app_legacy.c
  pjsip/include/pjsua-lib/pjsua.h
  pjsip/include/pjsua2/account.hpp
  pjsip/src/pjsip/sip_dialog.c
  pjsip/src/pjsip/sip_util.c
  pjsip/src/pjsua-lib/pjsua_acc.c
  pjsip/src/pjsua2/account.cpp
Labels: component: pjsip

#3915 Fix warnings for comparison between ‘pjsua_nat64_opt’ and ‘enum pjsua_ipv6_use’
  pjsip/src/pjsua-lib/pjsua_acc.c
Labels: component: pjsua-lib

#3916 Fix to ext_fmts accessed out of stack scope.
  pjsip/src/pjsua-lib/pjsua_aud.c
Labels: component: pjsua-lib, type: bug

#3927 Add check in siprtp sample app for disabled audio media
  pjsip-apps/src/samples/siprtp.c
Labels: component: applications

#3925 Add function to initialize MediaFormat audio & video
  pjsip-apps/src/samples/pjsua2_demo.cpp
  pjsip/include/pjsua2/media.hpp
  pjsip/src/pjsua2/media.cpp
Labels: type: enhancement, component: pjsua2

#3924 Fixed incorrect SDP buffer length calculation
  pjmedia/src/pjmedia/sdp.c
Labels: component: pjmedia, type: bug

#3913 Support Push Notification in iOS sample app
  pjsip-apps/src/pjsua/ios/ipjsua.xcodeproj/project.pbxproj
  pjsip-apps/src/pjsua/ios/ipjsua/ipjsua-Info.plist
  pjsip-apps/src/pjsua/ios/ipjsua/ipjsua.entitlements
  pjsip-apps/src/pjsua/ios/ipjsua/ipjsuaAppDelegate.h
  pjsip-apps/src/pjsua/ios/ipjsua/ipjsuaAppDelegate.m
  pjsip-apps/src/pjsua/pjsua_app.c
  pjsip/src/pjsua-lib/pjsua_acc.c
Labels: type: enhancement, component: applications

#3935 Fixed PJSUA2 API to get/set Opus config
  pjsip/include/pjsua2/endpoint.hpp
  pjsip/src/pjsua2/endpoint.cpp
Labels: type: bug, component: pjsua2

#3941 Fix bad address length check in pj_ioqueue_sendto()
  pjlib/src/pj/ioqueue_common_abs.c
  pjlib/src/pj/ioqueue_common_abs.h
Labels: type: bug, component: pjlib
