Repository pjsip/pjproject, pull requests merged in 2024-01, with the labels that each got.

#3792 Miscelaneous Coverity fixes
  pjmedia/src/pjmedia/conference.c
  pjnath/src/pjnath/upnp.c
  pjsip-apps/src/pjsua/pjsua_app.c
  pjsip/src/pjsip-simple/publishc.c
  pjsip/src/pjsip/sip_transaction.c
Labels: type: bug, component: common

#3796 Allow TURN server setting to use IPv6 address in PJSUA
  pjsip/src/pjsua-lib/pjsua_media.c
Labels: component: pjsua-lib, type: bug

#3770 Fix answering a re-INVITE
  pjsip/src/pjsua-lib/pjsua_call.c
Labels: component: pjsua-lib, type: bug

#3806 Terminate client transaction upon transport error
  pjsip/src/pjsip/sip_transaction.c
  pjsip/src/test/tsx_bench.c
  pjsip/src/test/tsx_uas_test.c
Labels: component: pjsip

#3818 Fixed bug in pjsua_call_answer()
  pjsip/src/pjsua-lib/pjsua_call.c
Labels: component: pjsua-lib, type: bug

#3817 Enable PendingJob use on Python
  pjsip-apps/src/swig/pjsua2.i
  pjsip-apps/src/swig/python/test.py
Labels: type: bug, component: python

#3819 Fixed data races in UPnP
  pjnath/src/pjnath/upnp.c
Labels: type: bug, component: pjnath

#3814 Fixed TURN session use after free
  pjnath/src/pjnath/turn_session.c
Labels: type: bug, component: pjnath

#3822 Adjust code to support LibreSSL without the ASN1 macros
  pjlib/src/pj/ssl_sock_ossl.c
Labels: component: pjlib

#3823 Fixed Service-Route update upon registration
  pjsip/src/pjsua-lib/pjsua_acc.c
Labels: component: pjsua-lib, type: bug

#3821 Fixed issues when adding new media and deinitializing media
  pjsip/include/pjsua-lib/pjsua_internal.h
  pjsip/src/pjsua-lib/pjsua_core.c
  pjsip/src/pjsua-lib/pjsua_media.c
  pjsip/src/pjsua-lib/pjsua_vid.c
Labels: component: pjsua-lib, type: bug

#3828 Final response 2xx not retransmitted when transport is closed
  pjsip/src/pjsip/sip_transaction.c
Labels: component: pjsip

#3825 Fixed account's route set update when modifying account
  pjlib/include/pj/list.h
  pjlib/include/pj/list_i.h
  pjsip/src/pjsua-lib/pjsua_acc.c
Labels: component: pjsua-lib, type: bug

#3838 Fixed thread leak in Mac OS
  pjlib/src/pj/os_core_darwin.m
Labels: type: bug, component: pjlib

#3835 Potential issues when IPv6 is disabled
  pjsip/src/pjsua-lib/pjsua_acc.c
  pjsip/src/pjsua-lib/pjsua_core.c
  pjsip/src/pjsua-lib/pjsua_media.c
Labels: component: pjsua-lib, type: bug

#3840 Update PGP public key for security issue report
  SECURITY.md
Labels: type: task

#3841 Add Metal renderer for Mac and iOS
  aconfigure
  aconfigure.ac
  build.mak.in
  pjmedia/build/os-auto.mak.in
  pjmedia/include/pjmedia/videodev.h
  pjmedia/src/pjmedia-videodev/metal_dev.m
  pjmedia/src/pjmedia-videodev/videodev.c
  pjmedia/src/test/vid_dev_test.c
  pjsip-apps/src/pjsua/ios-swift/ipjsua-swift.xcodeproj/project.pbxproj
  pjsip-apps/src/pjsua/ios/ipjsua.xcodeproj/project.pbxproj
  pjsip-apps/src/pjsua2/ios-swift-pjsua2/ios-swift-pjsua2.xcodeproj/project.pbxproj
Labels: type: enhancement, component: pjmedia-videodev

#3754 Implement Dialog Event subscription (client only)
  pjsip-apps/src/pjsua/pjsua_app.c
  pjsip-apps/src/pjsua/pjsua_app_legacy.c
  pjsip/build/Makefile
  pjsip/build/pjsip_simple.vcxproj
  pjsip/build/pjsip_simple.vcxproj.filters
  pjsip/include/pjsip-simple/dialog_info.h
  pjsip/include/pjsip-simple/dlg_event.h
  pjsip/include/pjsip/sip_config.h
  pjsip/include/pjsip_simple.h
  pjsip/include/pjsua-lib/pjsua.h
  pjsip/include/pjsua-lib/pjsua_internal.h
  pjsip/src/pjsip-simple/dialog_info.c
  pjsip/src/pjsip-simple/dlg_event.c
  pjsip/src/pjsua-lib/pjsua_core.c
  pjsip/src/pjsua-lib/pjsua_pres.c
Labels: type: enhancement, component: pjsip

#3846 Fixed dialog event Coverity warnings
  pjsip/src/pjsip-simple/dlg_event.c
  pjsip/src/pjsua-lib/pjsua_pres.c
Labels: type: bug, component: pjsip

#3848 Fixed SWIG Python build failure on Mac
  pjsip-apps/src/swig/python/Makefile
Labels: component: python

#3849 Fixed missing unlocks in dialog event
  pjsip/src/pjsip-simple/dlg_event.c
Labels: type: bug, component: pjsip

#3847 Prevent data race in PJSIP presence
  pjsip/include/pjsip-simple/presence.h
  pjsip/src/pjsip-simple/presence.c
Labels: type: bug, component: pjsip

#3845 Activate Bitrise iOS build test
  pjsip-apps/src/pjsua/ios/ipjsua.xcodeproj/project.pbxproj
Labels: component: devops
