Repository pjsip/pjproject, pull requests merged in 2024-10, with the labels that each got.

#4067 Update IP version choosing logic in media transport creation for generating SDP offer.
  pjlib/include/pj/addr_resolv.h
  pjlib/src/pj/sock_common.c
  pjsip/src/pjsua-lib/pjsua_media.c
Labels: type: enhancement, component: pjsua-lib

#4094 Fix UPnP IGD search and port mapping deletion
  pjnath/src/pjnath/upnp.c
Labels: type: bug, component: pjnath

#4095 Fixed incorrect buffer size in Android video codec
  pjmedia/src/pjmedia-codec/and_vid_mediacodec.cpp
Labels: component: pjmedia, type: bug

#4099 Fixed doc for sending DTMF
  pjsip/include/pjsua-lib/pjsua.h
  pjsip/include/pjsua2/call.hpp
Labels: component: pjsua-lib

#4100 Android audio JNI: prevent double start
  pjmedia/src/pjmedia-audiodev/android_jni_dev.c
Labels: type: enhancement, component: pjmedia-audiodev

#4098 Added more logs
  pjlib/include/pj/assert.h
  pjlib/src/pj/os_core_win32.c
  pjmedia/src/pjmedia/silencedet.c
  pjmedia/src/pjmedia/stream.c
  pjsip/src/pjsip/sip_dialog.c
  pjsip/src/pjsip/sip_transaction.c
  pjsip/src/pjsua-lib/pjsua_aud.c
  pjsip/src/pjsua-lib/pjsua_core.c
Labels: type: enhancement, component: common

#4107 Assertion in sending BYE after transaction timeout
  pjsip/src/pjsip-ua/sip_inv.c
Labels: type: bug, component: pjsip

#3928 Asynchronous conference bridge operation
  pjmedia/include/pjmedia/conference.h
  pjmedia/include/pjmedia/port.h
  pjmedia/include/pjmedia/splitcomb.h
  pjmedia/src/pjmedia/avi_player.c
  pjmedia/src/pjmedia/conference.c
  pjmedia/src/pjmedia/echo_port.c
  pjmedia/src/pjmedia/mem_capture.c
  pjmedia/src/pjmedia/mem_player.c
  pjmedia/src/pjmedia/null_port.c
  pjmedia/src/pjmedia/port.c
  pjmedia/src/pjmedia/splitcomb.c
  pjmedia/src/pjmedia/stream.c
  pjmedia/src/pjmedia/tonegen.c
  pjmedia/src/pjmedia/vid_conf.c
  pjmedia/src/pjmedia/wav_player.c
  pjmedia/src/pjmedia/wav_playlist.c
  pjmedia/src/pjmedia/wav_writer.c
  pjsip-apps/src/pjsua/pjsua_app.c
  pjsip/src/pjsua-lib/pjsua_aud.c
Labels: component: pjmedia, type: enhancement, component: pjsua-lib, component: applications

#4105 Implement async callback for Android mediacodec
  pjlib/build/Makefile
  pjlib/include/pj/atomic_queue.h
  pjlib/include/pj/types.h
  pjlib/include/pjlib.h
  pjlib/src/pj/atomic_queue.cpp
  pjmedia/src/pjmedia-audiodev/oboe_dev.cpp
  pjmedia/src/pjmedia-codec/and_aud_mediacodec.cpp
  pjmedia/src/pjmedia-codec/and_vid_mediacodec.cpp
Labels: component: pjmedia

#4120 Compile time option to enable using original form of SIP URI
  pjsip/include/pjsip/sip_config.h
  pjsip/include/pjsip/sip_uri.h
  pjsip/src/pjsip/sip_parser.c
  pjsip/src/pjsip/sip_uri.c
  pjsip/src/test/uri_test.c
Labels: component: pjsip

#4113 Fix crash on incoming TLS call with only unsupported cipher offered
  pjsip/src/pjsua-lib/pjsua_call.c
Labels: component: pjsua-lib, type: bug

#4122 Miscelaneous Coverity fixes (29 Oct 2024)
  pjlib/src/pj/atomic_queue.cpp
  pjmedia/src/pjmedia/stream.c
  pjmedia/src/pjmedia/vid_conf.c
  pjmedia/src/pjmedia/wav_playlist.c
Labels: component: pjmedia, type: bug

#4121 Removed unnecessary prechecks in async conference bridge operations
  pjmedia/src/pjmedia/conference.c
  pjmedia/src/pjmedia/vid_conf.c
Labels: component: pjmedia, type: bug
