Repository pjsip/pjproject, pull requests merged in 2024-11, with the labels that each got.

#4133 Allow application to set ALSA devices manually
  pjmedia/include/pjmedia-audiodev/alsa.h
  pjmedia/src/pjmedia-audiodev/alsa_dev.c
Labels: type: enhancement, component: pjmedia-audiodev

#4118 Add full support for SHA-256 and SHA-512-256 digest algorithms
  pjlib/src/pj/ssl_sock_ossl.c
  pjsip/include/pjsip/sip_auth.h
  pjsip/include/pjsip/sip_auth_aka.h
  pjsip/include/pjsip/sip_config.h
  pjsip/src/pjsip/sip_auth_aka.c
  pjsip/src/pjsip/sip_auth_client.c
  pjsip/src/pjsip/sip_auth_server.c
Labels: type: enhancement, component: pjsip

#4134 iocp: fix interger overflow (pointer conversion error)
  pjlib/src/pj/ioqueue_winnt.c
Labels: type: bug, component: pjlib

#4130 Check for unregistered video factory in lookup_dev(#4129)
  pjmedia/src/pjmedia/videodev.c
Labels: type: bug, component: pjmedia-videodev

#4124 add duration support for rfc2833 DTMF
  pjmedia/include/pjmedia/stream.h
  pjmedia/src/pjmedia/stream.c
  pjsip-apps/src/samples/footprint.c
  pjsip/include/pjsua-lib/pjsua.h
  pjsip/src/pjsua-lib/pjsua_aud.c
  pjsip/src/pjsua-lib/pjsua_call.c
Labels: component: pjmedia, type: enhancement

#4140 pcaputil: Fix infinite write on skewed timestamp
  pjsip-apps/src/samples/pcaputil.c
Labels: type: bug, component: applications

#4141 Miscelaneous Coverity fixes (7 Nov 2024)
  pjsip-apps/src/swig/importsym.py
  pjsip-apps/src/swig/symbols.i
  pjsip-apps/src/swig/symbols.lst
  pjsip/include/pjsua2/siptypes.hpp
  pjsip/src/pjsip/sip_auth_client.c
  pjsip/src/pjsua2/siptypes.cpp
Labels: type: bug, component: pjsip, component: pjsua2

#4144 Fix to compile error in on_make_call_med_tp_complete while accessing calls array with invalid call id.
  pjsip/src/pjsua-lib/pjsua_call.c
Labels: component: pjsua-lib

#4145 Misc Coverity fixes
  pjlib-util/src/pjlib-util/crc32.c
  pjlib-util/src/pjlib-util/http_client.c
  pjlib/src/pj/atomic_queue.cpp
  pjlib/src/pj/pool_caching.c
  pjlib/src/pj/unittest.c
  pjlib/src/pjlib-test/fifobuf.c
  pjlib/src/pjlib-test/ssl_sock.c
  pjmedia/src/pjmedia/endpoint.c
  pjmedia/src/pjmedia/stream.c
  pjsip/src/pjsip/sip_multipart.c
  pjsip/src/pjsua-lib/pjsua_aud.c
Labels: type:misc/minor-fix

#4146 Misc fix (Coverity and build warning)
  pjlib/src/pj/ssl_sock_apple.m
  pjsip/src/pjsua2/siptypes.cpp
Labels: type:misc/minor-fix

#4148 Fix sound device auto close after conference bridge updated to asynchronous
  pjsip/src/pjsua-lib/pjsua_aud.c
Labels: component: pjsua-lib, type: bug

#4149 Add software clock to sound port
  pjlib/include/pj/config_site_sample.h
  pjmedia/include/pjmedia/sound_port.h
  pjmedia/src/pjmedia/sound_port.c
  pjsip/include/pjsua-lib/pjsua.h
  pjsip/include/pjsua2/endpoint.hpp
  pjsip/src/pjsua-lib/pjsua_aud.c
  pjsip/src/pjsua-lib/pjsua_core.c
  pjsip/src/pjsua2/endpoint.cpp
Labels: component: pjmedia, type: enhancement, component: pjsua-lib, component: pjsua2

#4147 Modified dialog response status code upon receiving bad request
  pjsip/src/pjsip/sip_dialog.c
Labels: type: enhancement, component: pjsip

#4154 Expand tab to spaces and and cleanup formatting
  .editorconfig
  .git-blame-ignore-revs
  aconfigure
  aconfigure.ac
Labels: component: common, type:misc/minor-fix

#4151 Correct cpu features detection during cross-compiation
  aconfigure
  aconfigure.ac
Labels: component: common

#4153 Fix pkg-config invocation during cross-compilation
  aconfigure
  aconfigure.ac
Labels: component: common

#4160 Revert "Fixed doc for sending DTMF"
  pjsip/include/pjsua-lib/pjsua.h
  pjsip/include/pjsua2/call.hpp
Labels: component: pjsua-lib, component: pjsua2

#4161 Fix a log print error
  pjlib/src/pj/os_core_win32.c
Labels: component: pjlib

#4159 fix timestamp and duration for received dtmf events for G722 and Opus (#4117)
  pjmedia/src/pjmedia/stream.c
Labels: component: pjmedia, type: bug

#4162 Fix set/get locale for error string never work in mingw
  aconfigure
  aconfigure.ac
Labels: component: common

#4165 Revert Swig Python cc_mingw modification
  pjsip-apps/src/swig/python/cc_mingw.c
Labels: component: python

#4166 Tonegen releases pool in wrong function
  pjmedia/src/pjmedia/tonegen.c
Labels: component: pjmedia, type: bug

#4155 Add support of out-of-dialog SIP transactions
  pjsip/include/pjsua-lib/pjsua.h
  pjsip/include/pjsua2/account.hpp
  pjsip/include/pjsua2/endpoint.hpp
  pjsip/src/pjsua-lib/pjsua_acc.c
  pjsip/src/pjsua2/account.cpp
  pjsip/src/pjsua2/endpoint.cpp
Labels: type: enhancement, component: pjsua-lib, component: pjsua2

#4168 Reset regc info transport
  pjsip/src/pjsip-ua/sip_reg.c
Labels: component: pjsip

#4164 Fix audio & video conference bridge: adding port may not update port counter
  pjmedia/src/pjmedia/conference.c
  pjmedia/src/pjmedia/vid_conf.c
  pjsip/src/pjsua-lib/pjsua_aud.c
Labels: component: pjmedia, type: bug

#4171 Fixed assertion in ICE when trying to add candidate for disabled component
  pjnath/src/pjnath/ice_strans.c
  pjsip-apps/src/samples/icedemo.c
Labels: type: bug, component: pjnath

#4174 Misc: fix compile warnings on VS2022
  pjlib-util/src/pjlib-util-test/encryption.c
  pjlib-util/src/pjlib-util-test/http_client.c
  pjlib-util/src/pjlib-util/srv_resolver.c
  pjlib/src/pj/os_core_win32.c
  pjlib/src/pj/string.c
  pjlib/src/pjlib-test/fifobuf.c
  pjlib/src/pjlib-test/os.c
  pjlib/src/pjlib-test/sock.c
  pjlib/src/pjlib-test/string.c
  pjlib/src/pjlib-test/unittest_test.c
  pjmedia/src/pjmedia/sdp.c
  pjmedia/src/pjmedia/stream.c
  pjsip/src/pjsip-ua/sip_inv.c
  pjsip/src/pjsip/sip_auth_client.c
  pjsip/src/pjsip/sip_msg.c
  pjsip/src/pjsua-lib/pjsua_media.c
  pjsip/src/pjsua-lib/pjsua_pres.c
  pjsip/src/pjsua2/endpoint.cpp
  pjsip/src/pjsua2/media.cpp
  pjsip/src/pjsua2/siptypes.cpp
  pjsip/src/test/transport_loop_test.c
  third_party/webrtc/PJSIP_NOTES
  third_party/webrtc/src/pj_config.h
  third_party/webrtc/src/webrtc/typedefs.h
Labels: type:misc/minor-fix

#4175 Fixed configure error for SDL cross compilation
  aconfigure
  aconfigure.ac
Labels: type: bug, component: common

#4179 Fix transport iteration bug in transport manager
  pjsip/src/pjsip/sip_transport.c
Labels: type: enhancement, type: bug, component: pjsip

#4176 Fix miscellaneous warnings of pointer-integer conversion on MSVC x64
  pjlib/include/pj/unittest.h
  pjlib/src/pj/unittest.c
  pjlib/src/pjlib-test/unittest_test.c
Labels: type:misc/minor-fix

#4186 Update TCP & TLS listener destroy logs
  pjsip/src/pjsip/sip_transport_tcp.c
  pjsip/src/pjsip/sip_transport_tls.c
Labels: component: pjsip, type:misc/minor-fix

#4184 Fix stream lingering issues due to using transport's group lock
  pjmedia/src/pjmedia/stream.c
  pjmedia/src/pjmedia/vid_stream.c
Labels: component: pjmedia, type: bug

#4187 Fixed SSL check in SIP auth client
  pjsip/src/pjsip/sip_auth_client.c
Labels: type: bug, component: pjsip
