Repository pjsip/pjproject, pull requests merged in 2024-08, with the labels that each got.

#3853 Miscellaneous fixes
  .gitignore
  pjlib/include/pj/compat/os_win32.h
  pjmedia/src/pjmedia/transport_srtp.c
  pjsip/build/pjsip_simple.vcproj
Labels: component: common, type:misc/minor-fix

#4028 Make pjmedia event manager's MAX_EVENTS configurable
  pjmedia/include/pjmedia/config.h
  pjmedia/src/pjmedia/event.c
Labels: component: pjmedia, type: enhancement

#4026 SIP transport: call callback when data is dropped due to invalid headers
  pjsip/src/pjsip/sip_transport.c
Labels: type: enhancement, component: pjsip

#4036 Fix assertion in quitting pjsua app when AVI feature is disabled
  pjsip-apps/src/pjsua/pjsua_app.c
Labels: type: bug, component: applications

#3985 Assertion when sending SUBSCRIBE failed synchronously
  pjsip/src/pjsua-lib/pjsua_pres.c
Labels: component: pjsua-lib, type: bug

#4035 Wrong registration status info after deleting and immediately adding PJSUA account
  pjsip/src/pjsua-lib/pjsua_acc.c
Labels: component: pjsua-lib, type: bug

#4033 Prevent recreating TLS transport when answering a call after network change
  pjsip/src/pjsip/sip_dialog.c
Labels: component: pjsip

#4037 Assertion of pending transport when retransmission timer fires
  pjsip/src/pjsip/sip_transaction.c
Labels: type: bug, component: pjsip

#4044 pcaputil: Quit gracefully on end-of-file
  pjsip-apps/src/samples/pcaputil.c
Labels: component: applications

#4043 Save the original user and password part when parsing URI
  pjsip/include/pjsip/sip_uri.h
  pjsip/src/pjsip/sip_parser.c
  pjsip/src/pjsip/sip_uri.c
  pjsip/src/test/uri_test.c
Labels: type: enhancement, component: pjsip

#4045 pcaputil: Add arguments for opus channel count and clock rate
  pjsip-apps/src/samples/pcaputil.c
Labels: component: applications

#4048 Use public address for outgoing responses
  pjsip/src/pjsua-lib/pjsua_acc.c
Labels: component: pjsua-lib

#4049 Update dialog remote info in target refresh
  pjsip/src/pjsip/sip_dialog.c
Labels: type: enhancement, component: pjsip

#4052 Allow user defined Call-ID to be sent on outgoing INVITE
  pjsip/include/pjsua-lib/pjsua.h
  pjsip/include/pjsua2/call.hpp
  pjsip/src/pjsua-lib/pjsua_call.c
  pjsip/src/pjsua2/call.cpp
Labels: type: enhancement, component: pjsua-lib
