Repository pjsip/pjproject, pull requests merged in 2024-12, with the labels that each got.

#4182 Issue 4180 heap use after free cloned hdr
  pjsip/src/pjsip/sip_msg.c
Labels: type: bug, component: pjsip

#4188 Suppress build warning in Metal
  pjmedia/src/pjmedia-videodev/metal_dev.m
Labels: type:misc/minor-fix

#4189 Fixed video media transport leak
  pjmedia/src/pjmedia/vid_stream.c
Labels: component: pjmedia, type: bug

#4191 Miscellaneous fixes (compile warnings, pool '%p' naming in pool debug)
  pjlib/src/pj/pool_dbg.c
  pjlib/src/pj/timer.c
  pjsip/src/pjsip/sip_auth_client.c
  pjsip/src/pjsua-lib/pjsua_core.c
  pjsip/src/pjsua2/media.cpp
Labels: type:misc/minor-fix

#4192 Fixed SIP transport selection used to reach destination
  pjsip/src/pjsip/sip_transaction.c
  pjsip/src/pjsip/sip_util.c
Labels: type: bug, component: pjsip

#4195 Set default pjsip_cred_info.auth_algorithm to PJSIP_AUTH_ALGORITHM_MD5
  pjsip/include/pjsip/sip_auth.h
  pjsip/src/pjsip/sip_auth_client.c
  pjsip/src/pjsip/sip_auth_server.c
Labels: type: bug, component: pjsip

#4198 Fixed bug in audio conference disconnection
  pjmedia/src/pjmedia/conference.c
Labels: component: pjmedia, type: bug

#4203 assertion when the ACK response is recognized as a merged request
  pjsip/src/pjsua-lib/pjsua_core.c
Labels: component: pjsua-lib, type: bug

#4200 Fixed AudioMediaPort use after free
  pjmedia/src/pjmedia/port.c
  pjsip/include/pjsua2/media.hpp
  pjsip/src/pjsua2/media.cpp
Labels: type: bug, component: pjsua2

#4208 Crash in destroying extra audio device
  pjmedia/src/pjmedia/splitcomb.c
Labels: component: pjmedia, type: bug

#4214 Fix the info_cnt of pjsip_dlg_event_status when parsing dialog info
  pjsip/include/pjsip-simple/dlg_event.h
  pjsip/src/pjsip-simple/dlg_event.c
Labels: component: pjsip

#4219 Revert "Fixed warnings of duplicate libs"
  aconfigure
  aconfigure.ac
  build.mak.in
Labels: type: bug, component: common

#4220 Fixed AEC algorithm selection
  pjmedia/src/pjmedia/echo_common.c
Labels: component: pjmedia, type: bug

#4222 Limit number of Oboe auto restart
  pjmedia/src/pjmedia-audiodev/oboe_dev.cpp
Labels: type: enhancement, component: pjmedia-audiodev

#4223 Fix wrong event state callback and re-subscribe method on event subscription.
  pjsip/src/pjsua-lib/pjsua_pres.c
Labels: component: pjsua-lib

#4228 Fixed WebRTC AEC3 alignment issue on Linux ARMv7
  pjmedia/src/pjmedia/echo_webrtc_aec3.cpp
Labels: component: pjmedia

#4227 Fixed Buddy to use correct account during subscription
  pjsip/include/pjsua-lib/pjsua.h
  pjsip/include/pjsua-lib/pjsua_internal.h
  pjsip/include/pjsua2/presence.hpp
  pjsip/src/pjsua-lib/pjsua_acc.c
  pjsip/src/pjsua-lib/pjsua_core.c
  pjsip/src/pjsua-lib/pjsua_pres.c
  pjsip/src/pjsua2/account.cpp
  pjsip/src/pjsua2/presence.cpp
Labels: type: bug, component: pjsua2

#4231 pjmedia_wav_player_port_create() fix
  pjmedia/src/pjmedia/wav_player.c
Labels: component: pjmedia, type: bug

#4234 Fix SSL to continue decrypting data after renego completes
  pjlib/src/pj/ssl_sock_imp_common.c
  pjlib/src/pj/ssl_sock_ossl.c
Labels: type: bug, component: pjlib
