Repository pjsip/pjproject, pull requests merged in 2024-07, with the labels that each got.

#4006 Fix assertion in testing SIP resolve with loop-dgram tp_selector
  pjsip/src/pjsip/sip_resolve.c
  pjsip/src/test/test.c
  pjsip/src/test/transport_loop_test.c
Labels: type: bug, priority: low, component: pjsip

#4003 Fix coverity warning
  pjlib/src/pjlib-test/ioq_tcp.c
  pjmedia/src/pjmedia/endpoint.c
  pjmedia/src/pjmedia/stream.c
  pjmedia/src/pjmedia/vid_stream.c
  pjsip/src/pjsip-ua/sip_100rel.c
Labels: component: pjsip, component: pjlib

#4007 Unit test framework
  pjlib/build/Makefile
  pjlib/build/pjlib.vcproj
  pjlib/build/pjlib.vcxproj
  pjlib/build/pjlib.vcxproj.filters
  pjlib/build/pjlib_test.vcproj
  pjlib/build/pjlib_test.vcxproj
  pjlib/build/pjlib_test.vcxproj.filters
  pjlib/include/pj/fifobuf.h
  pjlib/include/pj/unittest.h
  pjlib/include/pjlib.h
  pjlib/src/pj/fifobuf.c
  pjlib/src/pj/unittest.c
  pjlib/src/pjlib-test/fifobuf.c
  pjlib/src/pjlib-test/test.c
  pjlib/src/pjlib-test/test.h
  pjlib/src/pjlib-test/unittest_test.c
Labels: type: enhancement, component: pjlib, component: unit-tests

#4013 Simple command line argument parsing utility in PJLIB
  pjlib/build/pjlib.vcproj
  pjlib/build/pjlib.vcxproj
  pjlib/build/pjlib.vcxproj.filters
  pjlib/include/pj/argparse.h
  pjlib/include/pjlib.h
Labels: type: enhancement, component: pjlib

#4015 Fixed Opus decoder PLC setting
  pjmedia/src/pjmedia-codec/opus.c
Labels: component: pjmedia, type: bug

#4017 fix typo
  pjsip/include/pjsua-lib/pjsua.h
Labels: component: pjsip

#3965 Possible race between media deinitialization and media initialization
  pjsip/src/pjsua-lib/pjsua_media.c
Labels: component: pjsua-lib, type: bug

#4000 ip_helper_generic: handle multipart messages containing NLMSG_DONE
  pjlib/src/pj/ip_helper_generic.c
Labels: component: pjlib

#4018 Get thread locale in pj strerror
  pjlib/include/pj/errno.h
  pjlib/src/pj/os_error_win32.c
  pjlib/src/pjlib-test/errno.c
Labels: component: pjlib
