Repository pjsip/pjproject, pull requests merged in 2024-03, with the labels that each got.

#3876 Modified DTLS cert signature algorithm used
  pjmedia/src/pjmedia/transport_srtp_dtls.c
Labels: component: pjmedia, type: bug

#3872 Assertion in restarting listeners in IP change scenario
  pjsip/src/pjsua-lib/pjsua_core.c
Labels: component: pjsua-lib, type: bug

#3878 Fixed ioqueue backend selection configure script
  aconfigure
  aconfigure.ac
Labels: type: bug, component: common

#3880 Rephrase some type definitions in the docs for a better understanding
  pjnath/include/pjnath/turn_sock.h
  pjsip/include/pjsua-lib/pjsua.h
  pjsip/include/pjsua2/siptypes.hpp
Labels: component: pjsua-lib, component: pjnath

#3885 SIP Transport: Add missing unlock
  pjsip/src/pjsip/sip_transport.c
Labels: type: bug, component: pjsip

#3873 Avoid creating a TCP/TLS listener when listener is not preferred in IP change scenario
  pjsip/include/pjsua-lib/pjsua.h
  pjsip/src/pjsip/sip_transport_tcp.c
  pjsip/src/pjsip/sip_transport_tls.c
Labels: component: pjsua-lib, type: bug

#3890 Add missing openssl SECLEVEL=0 support
  pjlib/src/pj/ssl_sock_ossl.c
Labels: type: enhancement, component: pjlib

#3869 Enable Late Offer Answer Mode (LOAM) feature in the pjsua
  pjsip-apps/src/pjsua/pjsua_app.c
  pjsip-apps/src/pjsua/pjsua_app_cli.c
  pjsip-apps/src/pjsua/pjsua_app_common.h
  pjsip-apps/src/pjsua/pjsua_app_config.c
  pjsip-apps/src/pjsua/pjsua_app_legacy.c
Labels: type: enhancement, component: applications

#3896 Fix warnings for 32-bit compiler and misc fixes.
  pjmedia/src/pjmedia-codec/speex_codec.c
  pjmedia/src/pjmedia/clock_thread.c
  pjnath/src/pjnath/ice_session.c
  pjsip/src/pjsua-lib/pjsua_core.c
Labels: type: enhancement, component: common

#3893 Add some missing unlocks
  pjlib-util/src/pjlib-util/resolver.c
  pjlib/src/pj/ioqueue_winnt.c
  pjlib/src/pj/pool_caching.c
  pjnath/src/pjnath/turn_session.c
  pjsip/src/pjsip/sip_transport.c
Labels: type: bug, component: common

#3901 Prevent race condition in DTLS media stop
  pjmedia/src/pjmedia/transport_srtp_dtls.c
Labels: component: pjmedia, type: bug

#3897 Fix data race reported by ThreadSanitizer in caching pool
  pjlib/include/pj/pool.h
  pjlib/src/pj/pool_caching.c
  pjnath/src/pjturn-srv/main.c
  pjsip-apps/src/samples/pjsip-perf.c
  pjsip/src/test/test.c
Labels: type: bug, component: pjlib

#3909 Fixed Metal renderer memory leak
  pjmedia/src/pjmedia-codec/vid_toolbox.m
  pjmedia/src/pjmedia-videodev/metal_dev.m
Labels: component: pjmedia, type: bug
