Repository pjsip/pjproject, pull requests merged in 2024-02, with the labels that each got.

#3860 Secure random number generator for SRTP key when using PJ_SSL_SOCK_IMP_APPLE
  pjmedia/src/pjmedia/transport_srtp_sdes.c
Labels: component: pjmedia, type: enhancement

#3863 Add extra logging for dummy resample imp
  pjmedia/src/pjmedia/resample_resample.c
Labels: component: pjmedia, type: enhancement

#3871 Check the availability of Metal device
  pjmedia/src/pjmedia-videodev/metal_dev.m
Labels: component: pjmedia, type: bug

#3868 Video CI test on iOS device
  pjsip-apps/src/pjsua/ios-swift/ipjsua-swift.xcodeproj/project.pbxproj
  pjsip-apps/src/pjsua/ios-swift/ipjsua-swift.xcodeproj/xcshareddata/xcschemes/ipjsua-swift.xcscheme
  pjsip-apps/src/pjsua/ios-swift/ipjsua-swift.xctestplan
  pjsip-apps/src/pjsua/ios-swift/ipjsua-swift/ContentView.swift
  pjsip-apps/src/pjsua/ios-swift/ipjsua-swift/Info.plist
  pjsip-apps/src/pjsua/ios-swift/ipjsua-swift/ipjsua_swiftApp.swift
  pjsip-apps/src/pjsua/ios-swift/ipjsua-swiftVidTest/ipjsua_swiftVidTest.swift
  pjsip-apps/src/pjsua/ios-swift/ipjsua-swiftVidTest/ipjsua_swiftVidTestLaunchTests.swift
Labels: component: devops
