Repository pjsip/pjproject, pull requests merged in 2024-09, with the labels that each got.

#4060 Comment out unimplemented pjsua_transport_set_enable()
  pjmedia/src/pjmedia-codec/silk.c
  pjsip/include/pjsua-lib/pjsua.h
  pjsip/include/pjsua2/endpoint.hpp
  pjsip/src/pjsua-lib/pjsua_core.c
  pjsip/src/pjsua2/endpoint.cpp
Labels: component: pjsua-lib, type: bug, component: pjsua2

#4064 Avoid dialog destroy while waiting for dialog lock
  pjsip/src/pjsip-ua/sip_inv.c
  pjsip/src/pjsip/sip_dialog.c
Labels: type: bug, component: pjsip

#4058 Fix build error with Opus and Visual Studio
  pjmedia/src/pjmedia-codec/opus.c
Labels: component: pjmedia

#4070 Add missing PJLIB dir in SWIG include dir search in VS2005 SWIG Java project
  pjsip-apps/build/swig_java_pjsua2.vcproj
  pjsip-apps/src/swig/java/sample.java
Labels: component: applications, component: devops, type:misc/minor-fix

#4069 Fixed length check for RTCP FB SLI and RPSI parsing
  pjmedia/src/pjmedia/rtcp_fb.c
Labels: component: pjmedia, type: bug

#4068 Add support for Android flexible page sizes
  pjsip-apps/src/samples/android_sample/jni/Application.mk
Labels: component: devops

#4072 Update cifuzz.yml: upload-artifact@v1 is deprecated
  .github/workflows/cifuzz.yml
Labels: component: devops

#4071 Add socket option params to transport config in PJSUA2
  pjlib/include/pj/sock.h
  pjlib/src/pj/sock_bsd.c
  pjlib/src/pj/sock_common.c
  pjlib/src/pj/ssl_sock_common.c
  pjsip-apps/src/swig/java/android/app/src/main/java/org/pjsip/pjsua2/app/MyApp.java
  pjsip-apps/src/swig/pjsua2.i
  pjsip/include/pjsip/sip_transport_tls.h
  pjsip/include/pjsua2/siptypes.hpp
  pjsip/src/pjsip/sip_transport_tcp.c
  pjsip/src/pjsua2/json.cpp
  pjsip/src/pjsua2/siptypes.cpp
Labels: type: enhancement, component: pjsua2

#4074 Fixed crash when making call if call setting is not supplied
  pjsip/src/pjsua-lib/pjsua_call.c
Labels: component: pjsua-lib, type: bug

#4080 Add swig option to include doc for java and python wrapper
  pjsip-apps/src/swig/java/Makefile
  pjsip-apps/src/swig/python/Makefile
  pjsip/include/pjsua2/siptypes.hpp
Labels: component: pjsua2

#4089 Update PJSUA2 docs on authentication digest AKA callback
  pjsip/include/pjsua2/endpoint.hpp
  pjsip/src/pjsua2/account.cpp
  pjsip/src/pjsua2/endpoint.cpp
Labels: type: bug, component: pjsua2
