Repository pjsip/pjproject, pull requests merged in 2025-06, with the labels that each got.

#4452 Fix broken link in conference docs
  pjmedia/include/pjmedia/conference.h
Labels: type:misc/minor-fix

#4446 Add callback to notify succesfull completion of conf/vid_conf operation
  pjmedia/include/pjmedia/conference.h
  pjmedia/include/pjmedia/vid_conf.h
  pjmedia/src/pjmedia/conference.c
  pjmedia/src/pjmedia/vid_conf.c
  pjsip-apps/src/swig/symbols.i
  pjsip-apps/src/swig/symbols.lst
  pjsip/include/pjsua-lib/pjsua.h
  pjsip/include/pjsua2/endpoint.hpp
  pjsip/include/pjsua2/media.hpp
  pjsip/src/pjsua-lib/pjsua_aud.c
  pjsip/src/pjsua-lib/pjsua_vid.c
  pjsip/src/pjsua2/endpoint.cpp
Labels: component: pjmedia, component: pjsua-lib, component: pjsua2

#4449 Conference bridge test
  pjsip-apps/src/pjsystest/main_console.c
  pjsip-apps/src/pjsystest/systest.c
Labels: type: enhancement, component: applications

#4460 Set default timeout for TURN TLS
  pjnath/include/pjnath/config.h
  pjnath/src/pjnath/turn_sock.c
Labels: type: enhancement, component: pjnath

#4464 Replace unicode quotes with ascii ones in pjsua_app.h
  pjsip-apps/src/pjsua/pjsua_app.h
Labels: component: applications, type:misc/minor-fix

#4459 AVI player API for PJSUA/PJSUA2 API
  pjmedia/include/pjmedia.h
  pjmedia/include/pjmedia/avi_stream.h
  pjmedia/src/pjmedia/avi_player.c
  pjsip-apps/src/pjsua/pjsua_app.c
  pjsip-apps/src/pjsua/pjsua_app_common.h
  pjsip-apps/src/pjsua/pjsua_app_config.c
  pjsip/include/pjsua-lib/pjsua.h
  pjsip/include/pjsua-lib/pjsua_internal.h
  pjsip/include/pjsua2/media.hpp
  pjsip/src/pjsua-lib/pjsua_core.c
  pjsip/src/pjsua-lib/pjsua_vid.c
  pjsip/src/pjsua2/media.cpp
Labels: component: pjmedia, component: pjsua-lib, component: pjsua2

#4472 Fix compile error in switchboard
  pjmedia/src/pjmedia/conf_switch.c
Labels: component: pjmedia, type: bug

#4471 Fix various coverity reports
  pjsip/src/pjsua-lib/pjsua_vid.c
  pjsip/src/pjsua2/media.cpp
Labels: component: pjsua-lib, type: bug, component: pjsua2
