Repository pjsip/pjproject, pull requests merged in 2025-09, with the labels that each got.

#4576 Avoid calling `pj_log_get_level` when `level` is greater than `PJ_LOG_MAX_LEVEL`
  pjlib/include/pj/log.h
Labels: type: enhancement, component: pjlib

#4578 Added missing file for Python 3 compatibility pull request 4577
  pjsip-apps/src/python/pjsua.py
Labels: type: enhancement, component: applications

#4605 Install CDB for CI Windows
  .github/workflows/ci-win.yml
Labels: component: devops

#4608 Fix keyframe detection with libavcodec 58.137 and later
  pjmedia/src/pjmedia-codec/ffmpeg_vid_codecs.c
Labels: component: pjmedia, type: bug

#4610 Avoid retrying if SIP transaction is cancelled
  pjsip/src/pjsip/sip_transaction.c
Labels: type: bug, component: pjsip

#4569 Avoid deadlock involving ioqueue read callback
  .github/workflows/ci-linux.yml
  .github/workflows/ci-mac.yml
  .github/workflows/ci-win.yml
  pjlib/include/pj/config.h
  pjlib/src/pj/ioqueue_common_abs.c
  pjlib/src/pj/ioqueue_common_abs.h
  pjlib/src/pj/ioqueue_epoll.c
  pjlib/src/pj/ioqueue_select.c
  pjlib/src/pj/ioqueue_winnt.c
  pjlib/src/pjlib-test/ioq_iocp_unreg_test.c
Labels: type: bug, component: pjlib
