Repository pjsip/pjproject, pull requests merged in 2025-05, with the labels that each got.

#4417 Prevent call hangup retry if call already terminated
  pjsip/src/pjsua-lib/pjsua_call.c
Labels: component: pjsua-lib, type: bug

#4418 Prevent data race between SSL handshake and data read
  pjlib/src/pj/ssl_sock_imp_common.c
Labels: type: bug, component: pjlib

#4423 Fixed WebRTC build failure on iOS
  aconfigure
  aconfigure.ac
Labels: type: bug, component: common

#4421 Fix compile error with ffmpeg enable on linux
  pjmedia/src/pjmedia-videodev/ffmpeg_dev.c
  pjsip-apps/src/vidgui/vidwin.h
Labels: component: pjmedia-videodev

#4425 Fix compile error with ffmpeg upstream master branch
  pjmedia/src/pjmedia-codec/ffmpeg_vid_codecs.c
  pjmedia/src/pjmedia-videodev/ffmpeg_dev.c
  pjmedia/src/pjmedia/ffmpeg_util.h
Labels: component: pjmedia, type: bug, component: pjmedia-videodev

#4428 Fix typo in pjsip_auth_create_aka_response docs
  pjsip/include/pjsip/sip_auth_aka.h
Labels: component: pjsip, type:misc/minor-fix

#4432 Set VoiceCommunication as InputPreset for Oboe stream builder
  pjmedia/src/pjmedia-audiodev/oboe_dev.cpp
Labels: component: pjmedia-audiodev

#4360 Aligned memory allocation fixes and enhancements
  pjlib/include/pj/pool.h
  pjlib/include/pj/pool_i.h
  pjlib/src/pj/pool.c
  pjlib/src/pj/pool_dbg.c
  pjlib/src/pjlib-test/pool.c
Labels: type: enhancement, component: pjlib

#4330 Atomic single linked list (pj_atomic_slist)
  pjlib/build/Makefile
  pjlib/build/pjlib.vcxproj
  pjlib/build/pjlib.vcxproj.filters
  pjlib/build/pjlib_test.vcxproj
  pjlib/build/pjlib_test.vcxproj.filters
  pjlib/include/pj/atomic_slist.h
  pjlib/include/pj/compat/cc_gcc.h
  pjlib/include/pj/compat/cc_msvc.h
  pjlib/include/pj/config.h
  pjlib/include/pj/types.h
  pjlib/include/pjlib.h
  pjlib/src/pj/atomic_slist.c
  pjlib/src/pjlib-test/atomic_slist.c
  pjlib/src/pjlib-test/test.c
  pjlib/src/pjlib-test/test.h
Labels: component: pjlib

#4435 Append device id to its name in case of duplicated ProductName in PjAudioDevInfo.java
  pjmedia/src/pjmedia-audiodev/android/PjAudioDevInfo.java
Labels: type: enhancement, component: pjmedia-audiodev

#4429 Fix hang loop when scan a camera device with no support match v4l2_fmt_maps array
  pjmedia/src/pjmedia-videodev/v4l2_dev.c
Labels: component: pjmedia, type: bug

#4436 Make the use of LowLatency as oboe performance mode configurable
  pjmedia/include/pjmedia-audiodev/config.h
  pjmedia/src/pjmedia-audiodev/oboe_dev.cpp
Labels: type: enhancement, component: pjmedia-audiodev

#4437 [pjmedia/pjsua] expose pjmedia_conf_configure_port() to PJSUA
  pjmedia/include/pjmedia/wav_port.h
  pjsip/include/pjsua-lib/pjsua.h
  pjsip/src/pjsua-lib/pjsua_aud.c
Labels: type: enhancement, component: pjsua-lib
