Repository pjsip/pjproject, pull requests merged in 2025-02, with the labels that each got.

#4281 Best effort avoid crash when media transport adapter not using group lock
  pjmedia/src/pjmedia/stream.c
  pjsip/src/pjsua-lib/pjsua_media.c
Labels: component: pjmedia, type: enhancement, component: pjsua-lib

#4262 Share an auth session between multiple dialogs/regc
  pjsip/include/pjsip-ua/sip_regc.h
  pjsip/include/pjsip/sip_auth.h
  pjsip/include/pjsip/sip_dialog.h
  pjsip/include/pjsua-lib/pjsua.h
  pjsip/include/pjsua-lib/pjsua_internal.h
  pjsip/include/pjsua2/account.hpp
  pjsip/src/pjsip-ua/sip_reg.c
  pjsip/src/pjsip/sip_auth_client.c
  pjsip/src/pjsip/sip_dialog.c
  pjsip/src/pjsua-lib/pjsua_acc.c
  pjsip/src/pjsua-lib/pjsua_call.c
  pjsip/src/pjsua-lib/pjsua_core.c
  pjsip/src/pjsua-lib/pjsua_pres.c
  pjsip/src/pjsua2/account.cpp
Labels: type: enhancement, component: pjsip

#4284 Fixed CI Linux test failure
  .github/workflows/ci-linux.yml
Labels: component: devops

#4287 Fixed warnings in sip auth client
  pjsip/include/pjsip/sip_auth.h
  pjsip/src/pjsip/sip_auth_client.c
Labels: component: pjsip, type:misc/minor-fix

#4136 iocp: fix crash, GetQueuedCompletionStatus() write freed WSAOVERLAPPED memory
  .github/workflows/ci-win.yml
  pjlib/build/Makefile
  pjlib/build/pjlib_test.vcxproj
  pjlib/build/pjlib_test.vcxproj.filters
  pjlib/src/pj/ioqueue_winnt.c
  pjlib/src/pjlib-test/ioq_iocp_unreg_test.c
  pjlib/src/pjlib-test/ioq_stress_test.c
  pjlib/src/pjlib-test/ioq_udp.c
  pjlib/src/pjlib-test/test.c
  pjlib/src/pjlib-test/test.h
Labels: type: enhancement, type: bug, component: pjlib

#4291 Fixed OpenSSL log error reading CA cert
  pjlib/src/pj/ssl_sock_ossl.c
Labels: component: pjlib

#4288 Use cirunner to capture and analyze GitHub action CI crash
  .github/workflows/ci-linux.yml
  .github/workflows/ci-mac.yml
  .github/workflows/ci-win.yml
  Makefile
  pjlib-util/src/pjlib-util-test/main.c
  pjlib/src/pjlib-test/main.c
  pjlib/src/pjlib-test/test_util.h
  pjmedia/src/test/main.c
  pjnath/src/pjnath-test/main.c
  pjsip/src/test/main.c
Labels: type: enhancement, component: unit-tests

#4289 Fixed issue with SDP version when reoffer is rejected
  pjmedia/src/pjmedia/sdp_neg.c
Labels: component: pjmedia

#4286 Add API to register custom SDP comparison callback
  pjmedia/include/pjmedia/sdp.h
  pjmedia/src/pjmedia/sdp_cmp.c
Labels: component: pjmedia, type: enhancement

#4277 Aligned memory allocation
  pjlib/include/pj/pool.h
  pjlib/include/pj/pool_alt.h
  pjlib/include/pj/pool_i.h
  pjlib/src/pj/pool.c
  pjlib/src/pj/pool_buf.c
  pjlib/src/pj/pool_caching.c
  pjlib/src/pj/pool_dbg.c
  pjlib/src/pjlib-test/pool.c
Labels: type: enhancement, component: pjlib, note:api-break

#4297 Fixed Java make clean error
  pjsip-apps/src/swig/java/Makefile
Labels: component: applications

#4296 Fix pjsua sample app user agent
  pjsip-apps/src/pjsua/pjsua_app_config.c
Labels: type: bug, component: applications

#4298 Fixed msg_data assertion in pjsua_acc_send_request() API
  pjsip/src/pjsua-lib/pjsua_acc.c
Labels: component: pjsua-lib, type: bug

#4299 Add missing OnTimerParam import in Android Example
  pjsip-apps/src/swig/java/android/app/src/main/java/org/pjsip/pjsua2/app/MainActivity.java
Labels: component: applications

#4301 Check if ice strans is valid before using it to send
  pjmedia/src/pjmedia/transport_ice.c
Labels: component: pjmedia

#4300 Audio and video stream refactoring
  pjmedia/include/pjmedia/config.h
  pjmedia/include/pjmedia/stream.h
  pjmedia/include/pjmedia/stream_common.h
  pjmedia/include/pjmedia/vid_stream.h
  pjmedia/src/pjmedia/stream.c
  pjmedia/src/pjmedia/stream_common.c
  pjmedia/src/pjmedia/stream_imp_common.c
  pjmedia/src/pjmedia/stream_info.c
  pjmedia/src/pjmedia/vid_stream.c
  pjmedia/src/pjmedia/vid_stream_info.c
  pjsip/src/pjsua-lib/pjsua_media.c
Labels: component: pjmedia, type: enhancement

#4304 Fixed CI Mac failure
  .github/workflows/ci-mac.yml
Labels: type: bug, component: devops

#4261 Add the option to check the source address of ClientHello message on DTLS-SRTP
  pjmedia/include/pjmedia/config.h
  pjmedia/src/pjmedia/transport_srtp_dtls.c
  pjnath/include/pjnath/config.h
  pjnath/include/pjnath/ice_session.h
  pjnath/src/pjnath/ice_session.c
  pjsip/include/pjsua2/account.hpp
  pjsip/src/pjsua2/account.cpp
Labels: component: pjmedia

#4305 Fixed Coverity warnings
  pjmedia/src/pjmedia/stream.c
  pjmedia/src/pjmedia/stream_imp_common.c
  pjmedia/src/pjmedia/vid_stream.c
  pjsip/include/pjsua2/account.hpp
  pjsip/src/pjsua-lib/pjsua_media.c
Labels: type:misc/minor-fix

#4295 Add TLS/SSL backend: Mbed TLS
  aconfigure
  aconfigure.ac
  pjlib/build/Makefile
  pjlib/include/pj/config.h
  pjlib/src/pj/ssl_sock_mbedtls.c
  pjlib/src/pjlib-test/ssl_sock.c
Labels: type: enhancement, component: pjlib

#4306 Fix errors in building shared libraries
  third_party/build/g7221/Makefile
  third_party/build/gsm/Makefile
  third_party/build/ilbc/Makefile
  third_party/build/milenage/Makefile
  third_party/build/webrtc/Makefile
  third_party/build/webrtc_aec3/Makefile
  third_party/build/yuv/Makefile
Labels: type: bug, component: devops

#4308 pjsua_media: Fix to apply_med_update when PJMEDIA_HAS_VIDEO is disabled.
  pjsip/src/pjsua-lib/pjsua_media.c
Labels: component: pjsua-lib, type:misc/minor-fix

#4309 ssl_sock_mbedtls: Fix to "incompatible types" warning when calling mbedtls_ssl_conf_ciphersuites
  pjlib/src/pj/ssl_sock_mbedtls.c
Labels: type: bug, component: pjlib

#4310 Fix and update PJMEDIA_TRANSPORT_SWITCH_REMOTE_ADDR docs
  pjmedia/include/pjmedia/config.h
Labels: type:misc/minor-fix

#4307 Avoid deadlock in SIP transport shutdown in IP change scenario
  pjsip/src/pjsip/sip_transport.c
Labels: type: bug, component: pjsip

#4315 Fix warnings by coverity & by msvc
  pjsip/src/pjsip/sip_auth_client.c
  pjsip/src/pjsip/sip_transport.c
  pjsip/src/pjsip/sip_transport_tls.c
  pjsip/src/pjsip/sip_util.c
  pjsip/src/pjsua-lib/pjsua_media.c
Labels: component: pjsua-lib, type:misc/minor-fix

#4317 Update media change detection for H264
  pjsip/src/pjsua-lib/pjsua_media.c
Labels: component: pjsua-lib, type: bug

#4324 Add compile-time option to specify if DNS resolver should discard truncated answer
  pjlib-util/include/pjlib-util/config.h
  pjlib-util/src/pjlib-util/srv_resolver.c
Labels: type: enhancement, component: pjlib-util

#4321 Add logging information when incoming message is ignored caused by unchecked source address
  pjnath/src/pjnath/ice_session.c
Labels: component: pjnath
