Repository pjsip/pjproject, pull requests merged in 2025-07, with the labels that each got.

#4476 Fix vid_streamutil in sending video from AVI file
  pjsip-apps/src/samples/vid_streamutil.c
Labels: type: bug, component: applications

#4484 Fix build errors and warnings
  pjsip/src/pjsua2/endpoint.cpp
  pjsip/src/pjsua2/media.cpp
Labels: type: bug, component: pjsua2, type:misc/minor-fix

#4489 Fixed Coverity warning in conference
  pjmedia/src/pjmedia/conference.c
Labels: component: pjmedia, type:misc/minor-fix

#4490 Handle SSRC change after SRTP restart
  pjmedia/include/pjmedia/config.h
  pjmedia/src/pjmedia/transport_srtp.c
  pjsip/src/pjsua-lib/pjsua_media.c
Labels: component: pjmedia, type: enhancement

#4497 Fixed conference destruction and failure handling
  pjmedia/src/pjmedia/conf_thread.c
  pjmedia/src/pjmedia/conference.c
Labels: component: pjmedia, type: bug

#4509 If disable_reg_on_modify is enabled, destroy reg silently
  pjsip/src/pjsua-lib/pjsua_acc.c
Labels: component: pjsua-lib, type: bug
