Repository pjsip/pjproject, pull requests merged in 2025-08, with the labels that each got.

#4528 Misc updates on AVI writer
  pjmedia/include/pjmedia/avi.h
  pjmedia/src/pjmedia/avi_writer.c
Labels: component: pjmedia, type:misc/minor-fix

#4525 Add video capability to pcaputil sample app
  pjsip-apps/src/samples/pcaputil.c
Labels: type: enhancement, component: applications

#4532 Fix potential overflow in `platform_strerror`
  pjlib/src/pj/os_error_symbian.cpp
  pjlib/src/pj/os_error_unix.c
  pjlib/src/pj/os_error_win32.c
Labels: type: bug, component: pjlib

#4536 Use group lock for keep alive timer in SIP transport TCP and TLS
  pjsip/src/pjsip/sip_transport_tcp.c
  pjsip/src/pjsip/sip_transport_tls.c
Labels: type: bug, component: pjsip

#4545 prevent infinite loop on reading of invalide wav/avi file
  pjmedia/src/pjmedia/avi_player.c
  pjmedia/src/pjmedia/wav_player.c
  pjmedia/src/pjmedia/wav_playlist.c
Labels: component: pjmedia, type: bug

#4551 [pjlib] fix invalid use of pj_sock_getsockname() in the BSD QoS backend
  pjlib/src/pj/sock_qos_bsd.c
Labels: type: bug, component: pjlib
